<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <p>
          <a href="/about/">
            <b>Who We Are</b>
          </a>
        </p>
        <br>
        <p>
          <figure class="image is-128x128">
            <img src="{{ .Site.Params.logo }}" alt="{{ .Title }}">
          </figure>
        </p>
        <p>Calling all Latinxs in tech!</p>
        <br>
        <p>Whether you just got here last week or your family has been in the country for decades, we have a lot to share and be proud of.</p>
        <br>
        <p>So join us and share your experience with the Techqueria community.</p>
      </div>
      <div class="column is-3">
        <a href="/">
          <b>Sitemap</b>
        </a>
        <!-- Pages -->
        {{ $pages := where .Site.RegularPages "Type" "page" }}
        <!-- Section Pages -->
        {{ $pages := $pages | union (.Site.Sections) }}
        <!-- Looping -->
        {{ range $pages.ByTitle }}
        <p>
          <a href="{{ .RelPermalink }}">
            {{.Title}}
          </a>
        </p>
        {{ end }}
      </div>
      <div class="column is-3">
        <a href="/communities/">
          <b>Communities</b>
        </a>
        <!-- Section - Communities -->
        {{ $community := where .Site.RegularPages "Section" "communities" }}
        <!-- Looping -->
        {{ range $community.ByTitle }}
        <p>
          <a href="{{ .RelPermalink }}">
            {{.Title}}
          </a>
        </p>
        {{ end }}
      </div>
    </div>
    <br>
    <div class="content has-text-centered">
      {{ with .Site.Params.copyright }} 🌮️
      <p>
        <a href="/">{{ . }}</a>
      </p>
      {{ end }}
      <p>
        <!-- Copyright -->
        <i title="Copyright" class="fas fa-copyright mr-sm"></i>
        <!-- Year -->
        {{ with .Site.Params.year }} {{ . }} {{ end }} to {{ now.Year }}
      </p>
    </div>
  </div>
</footer>
