<footer class="footer">
  <div class="container is-fluid">
    <div class="columns is-8 is-variable">
      <!-- Who We Are -->
      <div class="column is-6">
        <h6>
          <b>Who We Are</b>
        </h6>
        <br>
        <p>
          <img src="/assets/img/logo-alt.png" alt="{{ .Title }}" width="500">
        </p>
        <br>
        <p>Calling all Latinxs in tech!</p>
        <br>
        <p>Whether you just got here last week or your family has been in the country for decades, we have a lot to share and be proud of.</p>
        <br>
        <p>So join us and share your experience with the Techqueria community.</p>
      </div>
      <!-- Sitemap -->
      <div class="column is-3">
        <h6>
          <b>Sitemap</b>
        </h6>
        <!-- Pages -->
        {{ $pages := where .Site.RegularPages "Type" "page" }}
        <!-- Section Pages -->
        {{ $pages := $pages | union (.Site.Sections) }}
        <!-- Looping -->
        {{ range $pages.ByTitle }}
        <p>
          {{ if .Params.link }}
          <a href="{{ .Params.link }}" target="_blank" rel="noopener">
            {{ else }}
            <a href="{{ .RelPermalink }}">
              {{ end }} {{.Title}}
            </a>
        </p>
        {{ end }}
      </div>
      <!-- Communities -->
      <div class="column is-3">
        <h6>
          <b>Communities</b>
        </h6>
        <!-- Section Pages - Communities -->
        {{ $community := where .Site.RegularPages "Section" "communities" }}
        <!-- Looping -->
        {{ range $community.ByTitle }}
        <p>
          {{ if .Params.link }}
          <a href="{{ .Params.link }}" target="_blank" rel="noopener">
            {{ else }}
            <a href="{{ .RelPermalink }}">
              {{ end }} {{.Title}}
            </a>
        </p>
        {{ end }}
      </div>
    </div>
    <br>
    <!-- Copyright -->
    <div class="content has-text-centered">
      {{ with .Site.Params.copyright }}
      <span class="is-size-1">🌮</span>️
      <p>
        <a href="/">{{ . }}</a>
      </p>
      {{ end }}
      <p>
        <i title="Copyright" class="fas fa-copyright mr-sm"></i>
        <!-- Year -->
        {{ with .Site.Params.year }} {{ . }} {{ end }} to {{ now.Year }}
      </p>
    </div>
  </div>
</footer>
