<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88917358-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-88917358-1');
</script>
<!-- Set Language Mode: HTML Liquid -->
<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="mobile-web-app-capable" content="yes">
<meta name="MobileOptimized" content="320">
<meta name="msapplication-tooltip" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta name="msapplication-window" content="width=device-width;height=device-height">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
<!-- Internal Template - Schema -->
{{ template "_internal/schema.html" . }}
<!-- Internal Template - Twitter Cards -->
{{ template "_internal/twitter_cards.html" . }}
<!-- Internal Template - Open Graph -->
{{ template "_internal/opengraph.html" . }}
<!-- Internal Template - Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}
<!-- Internal Template - Google News -->
{{ template "_internal/google_news.html" . }}
<!-- Schema -->
<meta name="DC.creator" content="{{ .Site.Author.name }}">
<meta name="DC.description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta name="DC.language" content="en">
<meta name="DC.publisher" content="{{ .Site.Author.name }}">
<meta name="DC.title" content="{{ .Title }}">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta name="title" content="{{ .Title }}">
<!-- Site Name -->
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<!-- Updated Time -->
{{ if .IsPage }}
<!-- Check for valid date -->
{{ if not .PublishDate.IsZero }}
<meta itemprop="datePublished" content="{{ dateFormat "2006-01-02" .Date }}">
<meta itemprop="dateModified" content="{{ dateFormat "2006-01-02" .Date }}">
<meta property="article:published_time" content="{{ dateFormat "2006-01-02" .Date }}">
<meta property="article:modified_time" content="{{ dateFormat "2006-01-02" .Date }}">
<meta property="og:updated_time" content="{{ dateFormat "2006-01-02" .Date }}">
{{ end }}
{{ end }}
<!-- Keywords -->
{{ if .Params.tags }}
<meta itemprop="keywords" content="{{ delimit .Params.tags ", " }}">
<meta name="DC.subject" content="{{ delimit .Params.tags ", " }}">
{{ end }}
<!-- Categories & Tags Present -->
{{ if and (.Params.Categories) (.Params.tags) }}
<!-- Categories -->
{{ if .Params.categories }}
<meta name="twitter:label1" value="Categories 📂️">
<meta name="twitter:data1" value="{{ delimit .Params.categories ", " }}">
{{ end }}
<!-- Twitter Labels -->
{{ if .Params.tags }}
<meta name="twitter:label2" value="Tags 📌️">
<meta name="twitter:data2" value="{{ delimit .Params.tags ", " }}">
{{ end }}
{{ end }}
<!-- Images -->
<!-- Open Graph -->
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
<meta property="og:image" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.og_image }}{{ end }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:src" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.og_image }}{{ end }}">
<meta name="image" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.og_image }}{{ end }}">
<!-- Schema -->
<meta itemprop="image" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.og_image }}{{ end }}">
<!-- Links -->
<link rel="canonical" href="{{ .Permalink }}">
<link rel="manifest" href="/manifest.json" />
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
<!-- RSS -->
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
{{ end }}
<!-- Add prefetch and prerender on section pages. Works especially well for articles or blog posts in a series -->
{{ if .IsPage }}
<!-- Next Section -->
{{ if .NextInSection }}
<link rel="prefetch" href="{{ .NextInSection.Permalink }}">
<link rel="prerender" href="{{ .NextInSection.Permalink }}">
{{ end }}
<!-- Previous Section -->
{{ if .PrevInSection }}
<link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
<link rel="prerender" href="{{ .PrevInSection.Permalink }}">
{{ end }}
{{ end }}
