<nav class="navbar has-shadow is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/logo.png" height="128" alt="{{ .Title }}">
      </a>
      <!-- Left Icons -->
      <!-- Show only on mobile -->
      {{ range .Site.Menus.mobile }}
      <a class="navbar-item is-hidden-desktop" href="{{ .URL }}" target="_blank" rel="noopener">
        {{ if .Identifier }}
        <i class="{{ .Identifier }}" alt="{{ .Name }}" title="{{ .Name }}"></i>
        {{ end }}
      </a>
      {{ end }}
      <!-- Hamburger Menu -->
      <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenuDocumentation" class="navbar-menu">
      <div class="navbar-start">
        <!-- Left Navbar Items -->
        {{ range .Site.Menus.left }}
        <a class="navbar-item" href="{{ .URL }}">
          {{ if .Identifier }}
          <i class="{{ .Identifier }}" alt="{{ .Name }}"></i>
          {{ end }} {{.Name}}
        </a>
        {{ end }}
      </div>
      <div class="navbar-end">
        <!-- Right Navbar Items (Icons) -->
        <!-- Hidden on Mobile -->
        {{ range .Site.Menus.right }}
        <a class="navbar-item is-hidden-mobile" href="{{ .URL }}" target="_blank" rel="noopener">
          <i class="{{ .Identifier }}" alt="{{ .Name }}" title="{{ .Name }}"></i>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
