<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <!-- Title -->
      <h1 class="title">
        {{ i18n "subscribe_newsletter" }}
      </h1>
      <!-- Description -->
      <h2 class="subtitle">
        {{ i18n "subscribe_newsletter_description" }}
      </h2>
      <!-- Link -->
      <a class="button is-link is-large" href="/communities/newsletter/" rel="noopener" target="_blank">
        {{ i18n "subscribe_newsletter_button" }}
      </a>
    </div>
  </div>
</section>
