<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <!-- Title -->
      <h1 class="title">
        Partner with Us
      </h1>
      <!-- Description -->
      <h2 class="subtitle">
        Partner with the largest community of Latinx professionals and help us reach our mission of creating more diverse leaders in tech
      </h2>
      <!-- Link -->
      <a class="button is-link " href="/partner/" rel="noopener">
        Submit an inquiry
      </a>
    </div>
  </div>
</section>
