<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <!-- Title -->
      <h1 class="title">
        {{ i18n "cta_follow_title" }} 💙
      </h1>
      <!-- Link -->
      <a href="https://twitter.com/techqueria?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">{{ i18n "cta_follow_button" }}</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</section>
