<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <!-- Title -->
      <h1 class="title">
        {{ i18n "join_us_slack" }} 💬
      </h1>
      <!-- Description -->
      <h2 class="subtitle">
        Our Slack workspace provides a more engaged way to stay in touch with fellow Techqueria members.
      </h2>
      <!-- Link -->
      <a class="button is-link" href="/communities/slack/" rel="noopener">
        Request an invite
      </a>
    </div>
  </div>
</section>
