{{ define "main" }}
<!-- Banner -->
{{ if .Params.banner }}
<section class="hero is-medium is-primary is-bold background-image" style="background-image:url({{ .Params.banner }});">
  {{ partial "hero.html" . }}
</section>
{{ else }}
<section class="hero is-medium is-primary is-bold">
  {{ partial "hero.html" . }}
</section>
{{ end }}
<!-- Content -->
{{ if .Content }}
<section class="section page">
  <div class="container">
    {{ .Content }}
    <!-- Taxonomy -->
    {{ partial "taxonomy.html" . }}
  </div>
</section>
{{ end }}
<!-- End Main -->
{{ end }}
