{{ define "main" }}
<!-- Banner -->
{{ if .Params.banner }}
<section class="hero is-medium is-danger is-bold background-image" style="background-image:url({{ .Params.banner }});">
  {{ partial "hero.html" . }}
</section>
{{ else }}
<section class="hero is-medium is-danger is-bold">
  {{ partial "hero.html" . }}
</section>
{{ end }}
<!-- Content -->
{{ if .Content }}
<section class="section page">
  <div class="container">
    <div class="content">
      {{ .Content }}
      <!-- Taxonomy -->
      {{ partial "taxonomy.html" . }}
      <!-- Contribute -->
      {{ partial "contribute.html" . }}
    </div>
  </div>
</section>
{{ end }}
<!-- End Main -->
{{ end }}
