<div class="navbar-brand">
  <!-- Logo -->
  <a class="navbar-item" href="/">
    <img src="/assets/img/logos/logo.png" height="128" alt="{{ .Title }}">
  </a>
  <!-- Left Icons -->
  <!-- Hidden on Desktop, Mobile Only -->
  {{ range .Site.Menus.mobile }}
  <a class="navbar-item is-hidden-desktop" href="{{ .URL }}" target="_blank" rel="noopener">
    {{ if .Identifier }}
    <i class="{{ .Identifier }}" alt="{{ .Name }}" title="{{ .Name }}"></i>
    {{ end }}
  </a>
  {{ end }}
  <!-- Hamburger Menu -->
  <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>