<div id="navMenuDocumentation" class="navbar-menu">
  <ul class="navbar-start">
    <!-- Left Navbar Items -->
    {{ range .Site.Menus.left }}
      {{ if .HasChildren }}
        <li class="navbar-item has-children">
          <a href="#">
            {{ if .Identifier }}
            <i class="{{ .Identifier }}" alt="{{ .Name }}"></i>
            {{ end }} {{.Name}}
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li class="navbar-item">
          <a href="{{ .URL }}">
            {{ if .Identifier }}
            <i class="{{ .Identifier }}" alt="{{ .Name }}"></i>
            {{ end }} {{.Name}}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  <div class="navbar-end">
    <!-- Right Navbar Items (Icons) -->
    <!-- Hidden on Mobile, Desktop Only -->
    {{ range .Site.Menus.right }}
    <a class="navbar-item is-hidden-mobile" href="{{ .URL }}" target="_blank" rel="noopener">
      <i class="{{ .Identifier }}" alt="{{ .Name }}" title="{{ .Name }}"></i>
    </a>
    {{ end }}
  </div>
</div>
