<div id="navMenuDocumentation" class="navbar-menu">
  <div class="navbar-start">
    <!-- Left Navbar Items -->
    {{ range .Site.Menus.left }}
    <a class="navbar-item" href="{{ .URL }}">
      {{ if .Identifier }}
      <i class="{{ .Identifier }}" alt="{{ .Name }}"></i>
      {{ end }} {{.Name}}
    </a>
    {{ end }}
  </div>
  <div class="navbar-end">
    <!-- Right Navbar Items (Icons) -->
    <!-- Hidden on Mobile, Desktop Only -->
    {{ range .Site.Menus.right }}
    <a class="navbar-item is-hidden-mobile" href="{{ .URL }}" target="_blank" rel="noopener">
      <i class="{{ .Identifier }}" alt="{{ .Name }}" title="{{ .Name }}"></i>
    </a>
    {{ end }}
  </div>
</div>
