<!-- Press Articles On Event -->
<!-- Events with press articles -->
{{ if .Params.pressArticles }}
{{ $eventPressArticlesNumber := len .Params.pressArticles }}
<div class="content mt-2">
  <h2><span class="mr-sm">📰</span>{{ $eventPressArticlesNumber}} press {{ cond (eq $eventPressArticlesNumber 1) "article" "articles" }} about this event</h2>
</div>
<div class="columns is-multiline">
    {{ range $key, $value := .Params.pressArticles }}
      {{ range $.Site.Pages }}
        {{ if eq .Title $value }}
          {{ partial "content/child.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
</div>
{{ end }}
