<!-- Author Specific -->
{{ $helpedWithEvents := false }}
{{ $helpedWithEventsNumber := 0 }}
{{ $file := .Title }}
{{ range $.Site.Pages }}
{{ if in .Params.organizers $file }}
{{ $helpedWithEvents = true }}
{{ $helpedWithEventsNumber = add $helpedWithEventsNumber 1 }}
{{ end }}
{{ end }}
<!-- Articles featuring author -->
{{ if $helpedWithEvents }}
<div class="content mt-2">
  <h2>Helped with {{ $helpedWithEventsNumber}} events</h2>
</div>
<div class="columns is-multiline">
  {{ range $.Site.Pages }}
  {{ if in .Params.organizers $file }}
  {{ partial "content/child.html" . }}
  {{ end }}
  {{ end }}
</div>
{{ end }}
