<!-- Blog Articles On Event -->
<!-- Events with Blog Articles -->
{{ if .Params.blogArticles }}
{{ $blogArticlesNumber := len .Params.blogArticles }}
<div class="content mt-2">
  <h2><span class="mr-sm">📝</span>{{ $blogArticlesNumber}} blog {{ cond (eq $blogArticlesNumber 1) "article" "articles" }} about this event</h2>
</div>
<div class="columns is-multiline">
    {{ range $key, $value := .Params.blogArticles }}
      {{ range $.Site.Pages }}
        {{ if eq .Title $value }}
          {{ partial "content/child.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
</div>
{{ end }}
