<!-- Articles On Event -->
<!-- Events with News (Press or Blog) -->
{{ if .Params.articles }}
{{ $newsArticlesNumber := len .Params.articles }}
<div class="content mt-2">
  <h2><span class="mr-sm">📝</span>{{ $newsArticlesNumber}} {{ cond (eq $newsArticlesNumber 1) "article" "articles" }} about this event</h2>
</div>
<div class="columns is-multiline">
    {{ $newsPages := where $.Site.Pages "Section" "news"}}
    {{ range $key, $value := .Params.articles }}
      {{ range $newsPages }}
        {{ if eq .Title $value }}
          {{ partial "content/child.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
</div>
{{ end }}
