<!-- Company page - events involved -->
{{ $eventsInvolved := false }}
{{ $eventsInvolvedNumber := 0 }}
{{ $file := .Title }}
{{ range $.Site.Pages }}
{{ if in .Params.companies $file }}
{{ $eventsInvolved = true }}
{{ $eventsInvolvedNumber = add $eventsInvolvedNumber 1 }}
{{ end }}
{{ end }}
{{ if $eventsInvolved }}
<div class="content mt-2">
  <h2>{{$eventsInvolvedNumber }} {{ cond (eq $eventsInvolvedNumber 1) "event" "events" }} involved with</h2>
</div>
<div class="columns is-multiline">
  {{ range $.Site.Pages }}
  {{ if in .Params.companies $file }}
  {{ partial "content/child.html" . }}
  {{ end }}
  {{ end }}
</div>
{{ end }}
<!-- Event page - companies involved -->
{{ if .Params.companies }}
{{ $eventCompanyNumber := len .Params.companies }}
<div class="content mt-2">
  <h2><span class="mr-sm">🏢</span>{{ $eventCompanyNumber}} {{ cond (eq $eventCompanyNumber 1) "company" "companies" }} involved</h2>
</div>
<div class="columns is-multiline">
    {{ range $key, $value := .Params.companies }}
      {{ range $.Site.Pages }}
        {{ if eq .Title $value }}
          {{ partial "content/child.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
</div>
{{ end }}
