<!-- Events with organizers -->
{{ if .Params.organizers }}
{{ $eventOrganizersNumber := len .Params.organizers }}
<div class="content mt-2">
  <h2><span class="mr-sm">👥</span>{{ $eventOrganizersNumber}} {{ cond (eq $eventOrganizersNumber 1) "person" "people" }} helped with this event</h2>
</div>
<div class="columns is-multiline">
    {{ range $key, $value := .Params.organizers }}
      {{ range $.Site.Pages }}
        {{ if eq .Title $value }}
          {{ partial "content/child.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
</div>
{{ end }}
