{{ define "main" }}
  <!-- Hero -->
{{ partial "content/hero/hero.html" . }}
  <!-- Page -->
  <section class="section page">
    <div
      class="container">
      <!-- Breadcrumbs -->
    {{ partial "content/custom/breadcrumbs.html" . }}
      <!-- Content -->
      {{ partial "content/_index.html" . }}
      <!-- Upcoming Events -->
      <div id="upcoming-events">
      </div>
      <!-- Past Events -->
      <div id="past-events">
      </div>
      <!-- Content Footer -->
      {{ partial "content/footer/_index.html" . }}
    </div>
  </section>
  <!-- Custom JS -->
<script src="/assets/js/meetupreact.js"></script>
{{ end }}
