body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  word-wrap: break-word;
}

a {
  color: $techqueria-blue-light;
  &:hover {
    color: $techqueria-blue;
  }
  &.navbar-item.is-hidden-mobile.icon {
    &:hover {
      background-color: white;
    }
  }
  &.external-link {
    text-decoration: underline;
    &:hover {
      font-weight: 700;
    }
  }
}
