.card {
  &:hover {
    @extend %material-shadow;
  }

  .card-header-title,
  .card-content {
    padding: 1em;
  }

  .card-image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: 50% center center;
    height: 10em;
    width: 80%;
    left: 15%;
  }

  &.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-footer {
      margin-top: auto;
    }
  }
}
