.card {
  &:hover {
    @extend %material-shadow;
  }

  .card-header-title,
  .card-content {
    padding: 1em;
  }

  .card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 10em;
  }

  &.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-footer {
      margin-top: auto;
    }
  }
}
