.card {
  &:hover {
    @extend %material-shadow;
  }

  .card-header-title,
  .card-content {
    padding: 1em;
  }
  .card-image {
    img {
      height: 45vh;
      width: 100%;
    }
  }

  &.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-footer {
      margin-top: auto;
    }
  }
}
