.emoji {
  background: 0 0;
  border: 0;
  box-shadow: none;
  margin: 0 0.25em;
  padding: 0;
  vertical-align: -0.1em;
  width: 1em;
}

.card-header,
.hero a {
  .emoji {
    margin-left: 0.5em;
  }
}

.card-footer {
  .emoji {
    margin-right: 0.5em;
  }
}
