.fa-github-alt {
  color: $github;
}

.fa-github {
  color: black;
}

.fa-facebook, .fa-facebook-f {
  color: $facebook;
}

.fa-twitter {
  color: $twitter;
}

.fa-linkedin {
  color: $linkedin;
}

.fa-slack {
  color: #95a5a6;
}

.fa-youtube {
  color: $youtube;
}

.fa-meetup {
  color: $meetup;
}

.fa-ticket-alt {
  color: $eventbrite;
}

.fa-newspaper {
  color: #ecf0f1;
}

img.emoji {
  -webkit-box-shadow: none;
  background: 0 0;
  border: 0;
  box-shadow: none;
  margin: 0 0.25em;
  padding: 0;
  vertical-align: -0.1em;
  width: 1em;
}

.card-header,
.hero a {
  img.emoji {
    margin-left: 0.5em;
  }
}

.card-footer {
  img.emoji {
    margin-right: 0.5em;
  }
}
