.navbar {
  &.has-shadow {
    @extend %material-shadow;
  }
  .navbar-burger {
    height: inherit;
    width: 3em;
  }
  .navbar-item {
    img {
      max-height: 2em;
    }
  }
  .navbar-dropdown {
    padding: 0;
    .navbar-item {
      padding: 1em;
    }
    .navbar-divider {
      margin: 0;
    }
  }
}
