.navbar {
  &.has-shadow {
    @extend %material-shadow;
  }
  .navbar-burger {
    height: inherit;
    width: 3em;
  }
  .navbar-item {
    padding: .5em 1em;
    img {
      max-height: 3em;
    }
    padding: .5em 1em;

    &:hover {
      background-color: #fafafa;
      cursor: pointer;
      a {
        color: #3273dc;
      }
    }

    a {
      color: #4a4a4a;
    }

    &.has-children {

      .dropdown-menu {
        li {
          padding: .5em 1em;
          @media (max-width: 767.98px) {
            padding: .5em 0;
          }
        }
      }

      &:hover {
        .dropdown-menu {
          display: block;
          position: absolute;
          top: 59px;
          left: 0;
          min-width: 16rem;
          padding: 0 0 .3rem;
          background: #fafafa;
        }
      }
    }
  }
  .navbar-dropdown {
    padding: 0;
    .navbar-item {
      padding: 1em;
    }
    .navbar-divider {
      margin: 0;
    }
  }

  .dropdown-menu {
    @media (max-width: 767.98px) {
      position: relative;
      display: block;
    }
  }
}
