.navbar {
  &.has-shadow {
    @extend %material-shadow;
  }

  .navbar-burger {
    height: inherit;
    width: 3em;
  }

  .navbar-item {
    padding: 0.5em 1em;

    img {
      max-height: 3em;
    }
  }

  .navbar-dropdown {
    padding: 0;

    .navbar-item {
      padding: 1em;
    }

    .navbar-divider {
      margin: 0;
    }
  }
}
