.content {
  a {
    text-decoration: underline;
  }

  img {
    @extend %image-shadow;
    display: block;
    border-radius: _size(border-radius);
    border: 0;
    display: inline-block;
    position: relative;
    max-width: 100%;
  }
}

.responsiveCal {

  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;

}

.responsiveCal iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
