.section {
  @media screen and (max-width: $tablet) {
    padding: 1rem;
  }
}

.content {
  a {
    text-decoration: underline;
  }

  img {
    @extend %image-shadow;
    border: 0;
    display: inline-block;
    max-width: 100%;
    position: relative;

    &.hero {
      width: 100%;
    }
  }
}