.content {
  a {
    text-decoration: underline;
  }

  img {
    @extend %image-shadow;
    display: block;
    border-radius: _size(border-radius);
    border: 0;
    display: inline-block;
    position: relative;
    max-width: 100%;
  }
}
