.has-children {

  .dropdown-menu {

    @media (max-width: 767.98px) {
      display: block;
      position: relative;
    }

    li {
      padding: 0.5em 1em;
      
      @media (max-width: 767.98px) {
        padding: 0.5em 0;
      }

    }
  }

  &:hover {
    .dropdown-menu {
      background: $techqueria-menu-hover;
      display: block;
      left: 0;
      min-width: 16rem;
      padding: 4px 0 0.3rem;
      position: absolute;
      top: 59px;

      @media (max-width: 767.98px) {
        background: transparent;
        display: block;
        position: relative;
        top: 0;
      }

    }
  }
}
