h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headers;
  font-weight: 700;
}

button,
input,
label,
select,
span,
textarea {
  font-family: $font-family !important;
}

button,
input,
select,
textarea {
  font-family: inherit !important;
}

form {
  label,
  textarea,
  input,
  span,
  button,
  pre code {
    font-family: $font-family !important;
    @media screen and (min-width: $mobile) {
      font-size: initial !important;
    }
  }
}
