{
  "jsxBracketSameLine": false,
  "noSemi": true,
  "printWidth": 150,
  "rcVerbose": true,
  "singleQuote": false,
  "tabWidth": 2,
  "proseWrap": "always",
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
