<p><a href="/">Techqueria</a> is a nonprofit that serves the largest community of Latinx in Tech.</p>
<p>We build Latinx-centered spaces that revolve around career advice, technical talks, mentorship, open jobs, networking events, speaking opportunities, and open-source.</p>
<p>Coming from all walks of life, we believe that the diversity of our community is the most reliable asset we have.</p>
<p>Our space aims to be inclusive so we invite Latinx from the regions of the Caribbean, Haiti, and Brazil as well as those who identify as Afro-Latinx, Asian-Latinx or LGBTQIA.</p>
<p>The term Latinx is used instead of Latino or Latina because it is a gender-neutral and inclusive term.</p>
<p>Ultimately, our vision is to become the largest network of Latinx in Tech across the country.</p>