<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vRZKQKbJPLc5vlxFZa3JcssdL5fJZgl7kfP7wEQyYo4hSh_hi9cEO6FsuBgPrOsAQW6dUen_ixPjW3w/embed?start=true&loop=true&delayms=3000"
  frameborder="0"
  width="960"
  height="569"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>
<div class="mt-1">
  <a href="https://docs.google.com/presentation/d/1jxz5TDSLNTxV4O89iU8z1RhWPiSyLI6DMD1rdywAZy4/edit?usp=sharing" rel="noopener" target="_blank"
    >View the deck in a separate window ↗️</a
  >
</div>
