<div class="canva-embed" data-design-id="DAD1WaCIPzM" data-height-ratio="0.5625"
  style="padding:56.2500% 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div>
<script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAD1WaCIPzM&#x2F;view?utm_content=DAD1WaCIPzM&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
  target="_blank" rel="noopener">Techqueria Partnerships Deck 2020</a>
