<div class="mt-3">
  {{ if eq .Site.Language.Lang "es" }}
  <h2 id="book-partnership-call"><span class="mr-sm">📞</span>Reserve una llamada de asociación</h2>
  <p> Hay muchas formas de <a href="/support-us/">asociarse con Techqueria </a> con la opción principal a través de core paquetes de patrocinio con socios corporativos que también incluyen complementos de marketing según el nivel. Paquetes personalizados también se pueden crear con opciones de precios para empresas de todos los tamaños.</p>
  <p class="mb-0">Utilizamos <a href="https://calendly.com/techqueria/hello/?source=website" target="_blank" rel="noopener"> Calendly</a> para llamadas que le permite seleccionar el momento más conveniente para usted: ¡no hay correos electrónicos de ida y vuelta!</p>
  {{ else }}
  <h2 id="book-partnership-call"><span class="mr-sm">📞</span>Interested in becoming a Corporate or Community Partner?</h2>
  <p>There are many ways to <a href="/support-us/">partner with Techqueria</a> with the primary option being through <a href="/support-us/corporate-partner/event-packages/">core sponsorship event packages</a> with corporate partners that also include marketing add-ons depending on the tier.</p>
  <p><a href="/support-us/corporate-partner/custom-packages/">Custom packages</a> can also be created with pricing options for companies of all sizes.</p>
  <p class="mb-0">We use <a href="https://calendly.com/techqueria/hello/?source=website" target="_blank" rel="noopener">Calendly</a> to schedule partnership calls which allows you to select the time most convenient for you — no back and forth emails!</p>
  {{ end }}
</div>
<noscript>{{ i18n "partnership_call_paragraph_js" }}</noscript>
<div class="calendly-inline-widget" data-url="https://calendly.com/techqueria/hello?hide_event_type_details=1" style="min-width:320px;height:650px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
