<!-- Supporters -->
{{ $companies := 0 }}
{{ $pages := where $.Site.RegularPages "Section" "supporters" }}
{{ range $pages }}
  {{ $companies = add $companies 1 }}
{{ end }}
<!-- Title -->
<div class="content u-text--centered">
  <h2><span class="mr-sm">✨</span>2021 Partners<span class="ml-sm">✨</span></h2>
</div>
<!-- Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor") "!=" nil }}
  <div class="content mt-4 u-text--centered">
    <h3 id="sponsors"><span class="mr-sm">💎</span>Sponsors<span class="ml-sm">💎</span></h3>
    <p>Organizations that have contributed $50,000 or more.</p>
  </div>
  <section class="c-companies c-companies--sponsors">
    {{ range (index .Site.Taxonomies.categories "sponsor") }}
      {{ partial "content/card/company.html" . }}
    {{ end }}
  </section>
{{ end }}
<!-- Corporate Donors -->
{{ if (index .Site.Taxonomies.categories "donor") "!=" nil }}
  <div class="content mt-4 u-text--centered">
    <h3 id="software-sponsors"><span class="mr-sm">💛</span>Corporate Donors<span class="ml-sm">💛</span></h3>
    <p>Organizations that have donated funds to us.</p>
  </div>
  <section class="c-companies c-companies--software-suporters">
    {{ range (index .Site.Taxonomies.categories "donor") }}
      {{ partial "content/card/company.html" . }}
    {{ end }}
  </section>
{{ end }}
<!-- Affiliate Partners -->
{{ if (index .Site.Taxonomies.categories "affiliate-partner") "!=" nil }}
  <div class="content mt-4 u-text--centered">
    <h3 id="affiliate-partners"><span class="mr-sm">📣</span>Affiliate Partners<span class="ml-sm">📣</span></h3>
    <p>Organizations we partner with to share opportunities with our members.</p>
  </div>
  <section class="c-companies c-companies--affiliate-partners">
    {{ range (index .Site.Taxonomies.categories "affiliate-partner") }}
      {{ partial "content/card/company.html" . }}
    {{ end }}
  </section>
{{ end }}
<!-- Community Partners -->
{{ if (index .Site.Taxonomies.categories "community-partner") "!=" nil }}
  <div class="content mt-4 u-text--centered">
    <h3 id="community-partners"><span class="mr-sm">👥</span>Community Partners<span class="ml-sm">👥</span></h3>
    <p>Organizations we partner with that also support Latinx in Tech.</p>
  </div>
  <section class="c-companies c-companies--community-partners">
    {{ range (index .Site.Taxonomies.categories "community-partner") }}
      {{ partial "content/card/company.html" . }}
    {{ end }}
  </section>
{{ end }}
<!-- Software Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-software") "!=" nil }}
  <div class="content mt-4 u-text--centered">
    <h3 id="software-sponsors"><span class="mr-sm">💻</span>Software Sponsors<span class="ml-sm">💻</span></h3>
    <p>Organizations that have granted us access to their software with a nonprofit or open source discount.</p>
  </div>
  <section class="c-companies c-companies--software-suporters">
    {{ range (index .Site.Taxonomies.categories "sponsor-software") }}
      {{ partial "content/card/company.html" . }}
    {{ end }}
  </section>
{{ end }}
<!-- Past Partners -->
{{ if (index .Site.Taxonomies.categories "past-partner") "!=" nil }}
  <div class="content mt-4 u-text--centered">
    <h3 id="past-partners-and-partners"><span class="mr-sm">🕒</span>Past Partners<span class="ml-sm">🕒</span></h3>
    <p>Organizations that we've partnered up with in the past.</p>
    <p>We've had {{ $companies }} different organizations partner with us in some capacity since 2015.</p>
  </div>
  <section class="c-companies c-companies--past-partners">
    {{ range (index .Site.Taxonomies.categories "past-partner") }}
      {{ partial "content/card/company.html" . }}
    {{ end }}
  </section>
{{ end }}
<!-- Patreon Supporters -->
{{ partial "content/custom/patreon-supporters.html" . }}
