<!-- Supporters -->
{{ $companies := 0 }}
{{ $pages := where $.Site.RegularPages "Section" "supporters" }}
{{ range $pages }}
{{ $companies = add $companies 1 }}
{{ end }}
<!-- Showcase -->
<div class="content u-text--centered">
  <h2><span class="mr-sm">✨</span>2019 Partners & Sponsors<span class="ml-sm">✨</span></h2>
</div>
<!-- Diamond Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-diamond") "!=" nil }}
<div class="content mt-4">
  <h3 id="diamond-sponsors"><span class="mr-sm">💎</span>Diamond Sponsors</h3>
  <p>Organizations that have committed $50,000+.</p>
</div>
<section class="c-companies c-companies__diamond-sponsors">
  {{ range (index .Site.Taxonomies.categories "sponsor-diamond") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Titanium Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-titanium") "!=" nil }}
<div class="content mt-4">
  <h3 id="titanium-sponsors"><span class="mr-sm">⚒️</span>Titanium Sponsors</h3>
  <p>Organizations that have committed $30,000+.</p>
</div>
<section class="c-companies c-companies__titanium-sponsors">
  {{ range (index .Site.Taxonomies.categories "sponsor-titanium") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Platinum Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-platinum") "!=" nil }}
<div class="content mt-4">
  <h3 id="platinum-sponsors"><span class="mr-sm">💍</span>Platinum Sponsors</h3>
  <p>Organizations that have committed $20,000+.</p>
</div>
<section class="c-companies c-companies__platinum-sponsors">
  {{ range (index .Site.Taxonomies.categories "sponsor-platinum") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Gold Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-gold") "!=" nil }}
<div class="content mt-4">
  <h3 id="gold-sponsors"><span class="mr-sm">🔱</span>Gold Sponsors</h3>
  <p>Organizations that have committed $10,000+.</p>
</div>
<section class="c-companies c-companies__gold-sponsors">
  {{ range (index .Site.Taxonomies.categories "sponsor-gold") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Silver Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-silver") "!=" nil }}
<div class="content mt-4">
  <h3 id="silver-sponsors"><span class="mr-sm">🧭</span>Silver Sponsors</h3>
  <p>Organizations that have committed $6,000+.</p>
</div>
<section class="c-companies c-companies__silver-sponsors">
  {{ range (index .Site.Taxonomies.categories "sponsor-silver") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Bronze Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-bronze") "!=" nil }}
<div class="content mt-4">
  <h3 id="bronze-sponsors"><span class="mr-sm">🏺</span>Bronze Sponsors</h3>
  <p>Organizations that have committed $2,000+.</p>
</div>
<section class="c-companies c-companies__bronze-sponsors">
  {{ range (index .Site.Taxonomies.categories "sponsor-bronze") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Iron Sponsors -->
{{ if (index .Site.Taxonomies.categories "sponsor-iron") "!=" nil }}
<div class="content mt-4">
  <h3 id="iron-sponsors"><span class="mr-sm">🗝</span>Iron Sponsors</h3>
  <p>Organizations that have committed $1,000+.</p>
</div>
<section class="c-companies c-companies__iron-sponsors">
  {{ range (index .Site.Taxonomies.categories "sponsor-iron") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Community Partners -->
{{ if (index .Site.Taxonomies.categories "community-partner") "!=" nil }}
<div class="content mt-4">
  <h3 id="community-partners"><span class="mr-sm">💙</span>Community Partners</h3>
  <p>Organizations we partner with that also support Latinx in Tech.</p>
</div>
<section class="c-companies c-companies__community-partners">
  {{ range (index .Site.Taxonomies.categories "community-partner") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Software Supporters -->
{{ if (index .Site.Taxonomies.categories "software-supporter") "!=" nil }}
<div class="content mt-4">
  <h3 id="software-supporters"><span class="mr-sm">💻</span>Software Supporters</h3>
  <p>Organizations that have given us discounted or free software as a nonprofit.</p>
</div>
<section class="c-companies c-companies__software-suporters">
  {{ range (index .Site.Taxonomies.categories "software-supporter") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Past Supporters -->
{{ if (index .Site.Taxonomies.categories "past-supporter") "!=" nil }}
<div class="content mt-4">
  <h3 id="past-supporters-and-partners"><span class="mr-sm">🕒</span>Past Supporters & Partners</h3>
  <p>Organizations that have supported us or partnered with us in the past.</p>
  <p>We've had {{ $companies }} different organizations support us in some capacity since 2015.</p>
</div>
<section class="c-companies c-companies__past-supporters">
  {{ range (index .Site.Taxonomies.categories "past-supporter") }}
  {{ partial "content/card/company.html" . }}
  {{ end }}
</section>
{{ end }}
<!-- Active Patreon Supporters -->
<div class="content mt-4">
  <h2 id="patreon-supporters"><span class="mr-sm">🎗️</span>Active Patreon Supporters</h2>
  <p>Patreon supporters who pledge $25 or more each month</p>
</div>
<div class="columns is-multiline page__team">
  {{ range (index .Site.Taxonomies.categories "patreon-core") }}
  {{ partial "content/child.html" . }}
  {{ end }}
</div>
