<!--
  _____         _                           _
 |_   _|__  ___| |__   __ _ _   _  ___ _ __(_) __ _
   | |/ _ \/ __| '_ \ / _` | | | |/ _ \ '__| |/ _` |
   | |  __/ (__| | | | (_| | |_| |  __/ |  | | (_| |
   |_|\___|\___|_| |_|\__, |\__,_|\___|_|  |_|\__,_|
                         |_|

  {\__/}
  (●_●)
  ( >🌮

	I see you're a Latinx developer...

	You should definitely contribute to this website!

	©️ Techqueria.org
  -->
<!-- Web Basics -->
<meta charset="utf-8">
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="HandheldFriendly" content="True">
<meta name="mobile-web-app-capable" content="yes">
<meta name="MobileOptimized" content="320">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="google" content="notranslate">
<meta name="google-site-verification" content="eopAXVNFciPM1qMa-owNdbQH3PWDZ6bFhrZQDaKbqZ4">
<!-- Canonical -->
<link rel="canonical" href="{{ .Permalink }}">
<!-- Preload/Prefetch/Preconnect -->
<link rel="dns-prefetch" href="https://use.fontawesome.com">
<link rel="dns-prefetch" href="https://www.fonts.googleapis.com">
<link rel="dns-prefetch" href="https://twemoji.maxcdn.com">
<link rel="dns-prefetch" href="https://i.imgur.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<link rel="preload" href="/assets/css/styles.css" as="style">
<!-- Styling -->
<!-- Google Fonts - Rubik -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,500,700">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/css/styles.css">
<!-- SEO -->
{{ partial "base/head/seo.html" . }}
<!-- Favicons -->
{{ partialCached "base/head/favicons.html" . }}
<!-- Structured Data -->
{{ partial "base/head/structured-data.html" . }}
<!-- Hotjar -->
<!-- {{ partial "base/head/hotjar.html" . }} -->
