<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/_favicons/114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/_favicons/120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/_favicons/144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/_favicons/152x152.png" />
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/img/_favicons/180x180.png" />
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="/assets/img/_favicons/192x192.png" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/_favicons/57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/_favicons/60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/_favicons/72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/_favicons/76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/_favicons/114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/_favicons/120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/_favicons/144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/_favicons/152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/_favicons/180x180.png" />
<link rel="apple-touch-icon" sizes="192x192" href="/assets/img/_favicons/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/_favicons/57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/_favicons/60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/_favicons/72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/_favicons/76x76.png" />
<link rel="icon" href="/favicon.ico" />
<link rel="icon" sizes="128x128" type="image/png" href="/assets/img/_favicons/128x128.png" />
<link rel="icon" sizes="144x144" type="image/png" href="/assets/img/_favicons/144x144.png" />
<link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/favicon.ico?v=2" />
<link rel="icon" sizes="16x16" type="image/png" href="/assets/img/_favicons/16x16.png" />
<link rel="icon" sizes="192x192" type="image/png" href="/assets/img/_favicons/192x192.png" />
<link rel="icon" sizes="196x196" type="image/png" href="/assets/img/_favicons/196x196.png" />
<link rel="icon" sizes="256x256" type="image/png" href="/assets/img/_favicons/256x256.png" />
<link rel="icon" sizes="32x32" type="image/png" href="/assets/img/_favicons/32x32.png" />
<link rel="icon" sizes="36x36" type="image/png" href="/assets/img/_favicons/36x36.png" />
<link rel="icon" sizes="384x384" type="image/png" href="/assets/img/_favicons/384x384.png" />
<link rel="icon" sizes="48x48" type="image/png" href="/assets/img/_favicons/48x48.png" />
<link rel="icon" sizes="512x512" type="image/png" href="/assets/img/_favicons/512x512.png" />
<link rel="icon" sizes="72x72" type="image/png" href="/assets/img/_favicons/72x72.png" />
<link rel="icon" sizes="96x96" type="image/png" href="/assets/img/_favicons/96x96.png" />
<link rel="manifest" href="/manifest.json?v=2" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-title" content="Techqueria" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="msapplication-config" content="/browserconfig.xml" />
<meta name="msapplication-square150x150logo" content="/assets/img/_favicons/150x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/img/_favicons/310x310.png" />
<meta name="msapplication-square70x70logo" content="/assets/img/_favicons/70x70.png" />
<meta name="msapplication-TileColor" content="#fbae52" />
<meta name="msapplication-TileImage" content="/assets/img/_favicons/144x144.png" />
<meta name="msapplication-wide310x150logo" content="/assets/img/_favicons/310x150.png" />
<meta name="theme-color" content="#fbae52" />
