<!-- Structured Data -->
<!-- Set Title Variable -->
{{ $pageTitle := .Title }}
{{ if .IsHome }}
  {{ $pageTitle = (print .Site.Title " | " .Title) }}
{{ else }}
  {{ $pageTitle = (print .Title " | " .Site.Title) }}
{{ end }}
<!-- Set Description Variable -->
{{ $pageDescription := .Description | truncate 150 }}
{{ if .Description }}
  {{ $pageDescription = .Description | truncate 150 }}
{{ else if .IsPage }}
  {{ $pageDescription = .Summary | truncate 150 }}
{{ else }}
  {{ $pageDescription = .Site.Params.description | truncate 150 }}
{{ end }}
<!-- Set Image Variable -->
{{ $pageImage := .Params.image }}
{{ if hasPrefix .Params.image "/assets" }}
  {{ $pageImage = .Params.image | absURL }}
{{ else if .Params.image }}
  {{ $pageImage = .Params.image }}
{{ else }}
  {{ $pageImage = .Site.Params.og_image }}
{{ end }}
<!-- Homepage -->
{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context":         "https://schema.org",
    "@type":            "WebSite",
    "image":            {{ printf "\"%s\"" .Site.Params.og_image | safeJS }},
    "license":          "{{ .Site.Params.copyright }}",
    "name":             {{ printf "\"%s\"" .Site.Title | safeJS }},
    "thumbnailUrl":     {{ printf "\"%s\"" .Site.Params.logo | safeJS }},
    "url":              {{ printf "\"%s\"" .Permalink | safeJS }},
    {{ with $.Site.Author.name }}
     "author":           {
        "@type":        "Person",
        "name":         "{{ . }}"
    },
    {{ end }}
    "mainEntityOfPage": {
        "@type":        "WebPage",
        "@id":          {{ printf "\"%s\"" .Permalink | safeJS }}
    },
    "potentialAction":  {
        "@type":        "SearchAction",
        "target":       {{ printf "\"%s\"" .Site.Params.search_url | safeJS }},
        "query-input":  "required name=search_term_string"
    },
    "sameAs":           [
        {{ with .Site.Social.facebook }}"https://www.facebook.com/{{ . }}",{{ end }}
        {{ with .Site.Social.instagram }}"https://www.instagram.com/{{ . }}",{{ end }}
        {{ with .Site.Social.linkedin}}"https://www.linkedin.com/{{ . }}",{{ end }}
        {{ with .Site.Social.twitter }}"https://www.twitter.com/{{ . }}",{{ end }}
        {{ with .Site.Social.youtube }}"https://www.youtube.com/{{ . }}"{{ end }}
    ]
}
</script>
<!-- Blog Posting -->
{{- else if .IsPage -}}
<script type="application/ld+json">
{
    "@context":          "http://schema.org",
    "@type":             "BlogPosting",
    {{ with $.Site.Author.name }}
    "accountablePerson": "{{ . }}",
    "copyrightHolder": "{{ . }}",
    "creator": "{{ . }}",
    "author": {
        "@type": "Person",
        "name": "{{ . }}"
    },
    {{ end }}
    "articleSection":    "{{ .Section }}",
    "copyrightYear":     "{{ .Date.Format "2006" }}",
    "genre":             "{{ .Type }}",
    "headline":          {{ printf "\"%s\"" $pageTitle | safeJS }},
    "inLanguage":        "en-US",
    "license":           "{{ .Site.Params.copyright }}",
    "name":              {{ printf "\"%s\"" $pageTitle | safeJS }},
    "url":               {{ printf "\"%s\"" .Permalink | safeJS }},
    "wordcount":         {{ .WordCount }},
    "description":       {{ printf "\"%s\"" $pageDescription | safeJS }},
    "mainEntityOfPage":  {
        "@type":         "WebPage",
        "@id":           {{ printf "\"%s\"" .Permalink | safeJS }}
    },
    "image":             [
      {{ printf "\"%s\"" $pageImage | safeJS }}
    ],
    "publisher":         {
        "@type":         "Organization",
        "name":          {{ printf "\"%s\"" .Site.Title | safeJS }},
        "logo":          {
          "@type":       "ImageObject",
          "url":         {{ printf "\"%s\"" .Site.Params.logo | safeJS }}
        }
    },
    {{ if or (.Params.categories) (.Params.tags) -}}
    "keywords":          [
      {{- if .Params.categories -}}{{ range .Params.categories }}"{{ . }}",{{- end -}}{{- end -}}
      {{- if .Params.tags -}}{{ range .Params.tags }}"{{ . }}",{{- end -}}{{ end -}}
      "blog post"
    ],
    {{- end }}
    "datePublished":     "{{ .Date.Format "2006-01-02" }}",
    "dateModified" :     "{{ .Lastmod.Format "2006-01-02" }}"
}
</script>
{{- end }}
<!-- Breadcrumbs -->
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
{{ range $index, $element := split $url "/" }}
{{ $.Scratch.Add "path" $element }}
{{ $.Scratch.Add "path" "/" }}
{{ if ne $element "" }}
{{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
{{ end }}
{{ end }}
<script type="application/ld+json">
{
  "@context":        "https://schema.org",
  "@type":           "BreadcrumbList",
  "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type":     "ListItem",
        "position":  {{ .position }},
        "item":      {
          "@id":     {{ printf "\"%s\"" .url | safeJS }},
          "name":    "{{ .name }}"
        }
    }{{ end }}]
}
</script>
