<!--
  _____         _                           _
 |_   _|__  ___| |__   __ _ _   _  ___ _ __(_) __ _
   | |/ _ \/ __| '_ \ / _` | | | |/ _ \ '__| |/ _` |
   | |  __/ (__| | | | (_| | |_| |  __/ |  | | (_| |
   |_|\___|\___|_| |_|\__, |\__,_|\___|_|  |_|\__,_|
                         |_|

  {\__/}
  (●_●)
  ( >🌮

	I see you're a Latinx developer...

	You should definitely contribute to this website!

	©️ Techqueria.org
  -->
<!-- Web Basics -->
{{ partial "head/core.html" . }}
<!-- Preload/Prefetch/Preconnect -->
{{ partial "head/preload.html" . }}
<!-- Styling -->
{{ partial "head/styles.html" . }}
<!-- SEO -->
{{ partial "head/meta.html" . }}
{{ partial "head/meta-custom.html" . }}
<!-- Favicons -->
{{ partial "head/favicons.html" . }}
