<meta charset="utf-8">
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="HandheldFriendly" content="True">
<meta name="mobile-web-app-capable" content="yes">
<meta name="MobileOptimized" content="320">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="google" content="notranslate">
<meta name="google-site-verification" content="eopAXVNFciPM1qMa-owNdbQH3PWDZ6bFhrZQDaKbqZ4">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
