.anchor-link {
  border-bottom: none !important;
  color: $border;
  font-size: $size-7;
  text-decoration: none !important;
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

// ids

[id]::before {
  content: '';
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

.no-ids {
  [id]::before {
    display: none !important;
  }
}

#sprd-container::before,
#sprd-header-container::before,
#sprd-main::before,
#techqueria-shop::before {
  display: none;
}
