body {
  @extend .has-text-weight-normal;
  font-family: $font-size-mobile;
  font-size: $font-size;
  word-wrap: break-word;

  @media screen and (min-width: $mobile) {
    font-size: $font-size;
  }
}

a {
  color: $techqueria-blue;

  &:hover {
    color: $techqueria-red;
  }

  &.navbar-item.is-hidden-mobile.icon {
    &:hover {
      background-color: $techqueria-white;
    }
  }

  &.hero-link {
    text-decoration: underline;

    &:hover {
      color: $techqueria-white !important;
    }
  }
}

hr {
  margin: 2rem 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @extend %overflow-text;
}

iframe {
  width: 100%;
}

form {
  max-width: $tablet;

  &.form--centered {
    margin: 0 auto;
  }

  .field {
    margin-top: 1em;
  }
}

input[type="checkbox"],
input[type="radio"] {
  height: 20px;
}
