body {
  @extend .has-text-weight-normal;
  font-family: $font-family;
  font-size: $font-size;
  word-wrap: break-word;

  @media screen and (max-width: $mobile) {
    font-size: $font-size-mobile;
  }
}

a {
  color: $techqueria-blue;

  &:hover {
    color: $techqueria-red;
  }

  &.navbar-item.is-hidden-mobile.icon {
    &:hover {
      background-color: $techqueria-white;
    }
  }

  &.hero-link {
    text-decoration: underline;

    &:hover {
      color: $techqueria-white !important;
    }
  }
}

hr {
  margin: 2rem 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @extend %overflow-text;
}

.button {
  &.is-link {
    &:hover {
      background-color: $techqueria-black;
    }
  }

  &.is-primary {
    background-color: $techqueria-black;
    color: $techqueria-white;

    &:hover {
      border-bottom: none;
      background-color: $techqueria;
      color: $techqueria-black;
      text-decoration: none;
    }
  }
}

iframe {
  width: 100%;
}

form {
  max-width: $tablet;
}

.content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  li,
  table {
    a[href^="https://"]:not([href*="techqueria.org"]):after {
      content: " ↗";
    }

    a[href^="http://"]:not([href*="techqueria.org"]):after {
      content: " ↗";
    }
  }
}

.container.is-fluid {
  margin: 0;
}

a,
.content a {
  &.tag {
    border-bottom: none;
    color: white;
    text-decoration: none;

    &:hover {
      border-bottom: none;
      background-color: $techqueria;
      color: $techqueria-black;
      text-decoration: none;
    }
  }
}
