@charset "utf-8";

/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */

@import "node_modules/bulma/sass/utilities/_all";
@import "reset";
@import "node_modules/bulma/sass/base/generic";
@import "node_modules/bulma/sass/base/helpers";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/layout/_all";


// @import "../../node_modules/bulma/bulma.sass";
// @import "reset";
