.c-companies {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  line-height: 0;

  a {
    align-self: center;
    justify-self: center;
    padding: 0.5em;

    &:hover {
      img {
        @extend %darker-shadow;
      }
    }
  }

  img {
    @extend %image-shadow;
    border-radius: 1em;
    height: auto !important;
    width: 100% !important;
  }

  .card-image {
    max-width: 100%;
  }
}

@supports (display: grid) {
  .c-companies {
    display: grid;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    }
  }

  @media screen and (min-width: $laptop) {
    .c-companies--diamond-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(1000px, 1000px));
    }

    .c-companies--titanium-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(800px, 800px));
    }

    .c-companies--platinum-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(600px, 600px));
    }

    .c-companies--gold-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
    }

    .c-companies--silver-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    }

    .c-companies--bronze-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    }

    .c-companies--iron-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    }

    .c-companies--software-suporters {
      grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    }

    .c-companies--community-partners {
      grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    }

    .c-companies--past-partners {
      grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    }
  }
}
