.c-companies {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  line-height: 0;

  a {
    align-self: center;
    justify-self: center;
    padding: 0.5em;

    &:hover {
      img {
        @extend %darker-shadow;
      }
    }
  }

  img {
    @extend %image-shadow;
    border-radius: 1em;
    height: auto !important;
    width: 100% !important;
  }

  .card-image {
    max-width: 100%;
  }
}

@supports (display: grid) {
  .c-companies {
    display: grid;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    }
  }

  @media screen and (min-width: $laptop) {
    .c-companies__diamond-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(1000px, max-content));
    }

    .c-companies__titanium-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(800px, max-content));
    }

    .c-companies__platinum-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(600px, max-content));
    }

    .c-companies__gold-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    }

    .c-companies__silver-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    }

    .c-companies__bronze-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    }

    .c-companies__iron-sponsors {
      grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    }

    .c-companies__community-partners {
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    }

    .c-companies__software-suporters {
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    }

    .c-companies__past-supporters {
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    }
  }
}
