%darker-shadow {
  box-shadow: 0 0 20px $darker-shadow;
}

%material-shadow {
  box-shadow: 0 0 20px $material-shadow;
}

%image-shadow {
  box-shadow: 0 0 20px $image-shadow;
}

%overflow-text {
  @extend .has-text-centered;

  display: inline-block;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: pre-wrap;
}

%bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

%fancy-title {
  background-color: $techqueria-black;
  border-radius: 32px 16px;
  color: $techqueria-white;
  display: inline-block;
  left: calc(var(--rounded) * -1);
  padding: 32px;
  position: relative;
  transform: rotate(2deg);
  z-index: 1;

  @media screen and (min-width: $laptop) {
    transform: none;
  }
}

%fancy-subtitle {
  background-color: $techqueria-white;
  border-radius: 16px 32px;
  color: $techqueria-black;
  display: inline-block;
  left: calc(var(--rounded) * -1);
  margin-top: -2.5em;
  padding: 50px 25px;
  position: relative;
  transform: rotate(-1deg);
  z-index: 0;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    padding: 30px;
  }

  @media screen and (min-width: $laptop) {
    transform: none;
    padding: 25px;
    width: 75%;
  }
}
