.footer {
  background-color: $techqueria-black;
  color: $techqueria-white;
  padding: 2em;

  .link--techqueria {
    color: $techqueria;

    &:hover {
      color: $techqueria-white;
    }
  }

  &__social-icons {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    a {
      color: $techqueria-white;
      margin: 1rem;

      &:hover {
        color: $techqueria-black;

        .fab,
        .fa-rss,
        .fa-envelope {
          color: $techqueria-white;
        }
      }
    }

    @media screen and (max-width: $mobile) {
      .fa-lg {
        font-size: 2em;
      }
    }
  }

  .netlify-badge {
    a {
      svg {
        path {
          fill: $techqueria-white;
        }

        rect {
          fill: $techqueria-black;
        }
      }

      &:hover {
        svg {
          path {
            fill: $techqueria-black;
          }

          rect {
            fill: $techqueria-white;
          }
        }
      }
    }
  }
}
