.footer {
  background-color: $techqueria-black;
  color: $techqueria-white;
  padding: 2em;

  .link--techqueria {
    color: $techqueria;

    &:hover {
      color: $techqueria-white;
    }
  }

  &__social-icons {
    a {
      color: $techqueria-white;

      &:hover {
        color: $techqueria-blue;

        .fab {
          color: $techqueria-white;
        }
      }
    }
  }
}

.netlify-badge {
  display: inline-block;
  margin: 0 1rem;
  position: relative;
  vertical-align: middle;
  width: auto;

  svg {
    height: 58px;
  }
}
