.hero {

  .title,
  .subtitle {
    color: $techqueria-white;
  }

  &.v--dark-text {

    .title,
    .subtitle {
      color: $techqueria-black;
    }
  }

  .title {
    font-size: $size-5;

    @media screen and (min-width: $mobile) {
      font-size: $size-3;
    }

    @media screen and (min-width: $tablet) {
      font-size: $size-2;
    }

    @media screen and (min-width: $laptop) {
      font-size: $size-1;
    }
  }

  .subtitle {
    font-size: $size-7;

    @media screen and (min-width: $mobile) {
      font-size: $size-6;
    }

    @media screen and (min-width: $tablet) {
      font-size: $size-5;
    }

    @media screen and (min-width: $laptop) {
      font-size: $size-4;
    }
  }

  .background-image {
    @extend %bg-image;

    background-attachment: scroll;

    &.overlay {
      box-shadow: inset 0 0 0 1000px $image-shadow;
    }
  }

  &.is-bold {
    text-shadow: none;
  }

  &.is-primary.is-bold {
    background-image: linear-gradient(45deg,
        $techqueria-blue-light 0%,
        lighten($techqueria-blue-light, 25%) 99%,
        lighten($techqueria-blue-light, 25%) 100%);
  }

  &.is-danger.is-bold {
    background-image: linear-gradient(141deg, $techqueria-red, $techqueria 60%, lighten($techqueria-red, 15%));

    .subtitle {
      color: $techqueria-black;
    }
  }

  &.is-fancy {
    .title {
      @extend %fancy-title;
    }

    .subtitle {
      @extend %fancy-subtitle;
    }
  }

  &.is-not-fancy {
    .title, .subtitle {
      color: black;
    }
  }

  &.is-homepage {
    .background-image {
      box-shadow: inset 0 0 0 2000px $material-shadow;
    }

    @media screen and (min-width: $tablet) {
      .hero-body {
        padding-bottom: 5rem;
        padding-top: 35rem;
      }
    }

    .subtitle {
      @media screen and (min-width: $tablet) {
        margin-top: -2rem;
      }
    }
  }
}
