.fa-github-alt, .fa-github {
  color: $github;
}

.fa-facebook {
  color: $facebook;
}

.fa-twitter {
  color: $twitter;
}

.fa-linkedin {
  color: $linkedin;
}

.fa-instagram {
  color: $instagram;
}

.fa-eventbrite {
  color: $eventbrite;
}

.fa-meetup {
  color: $meetup;
}

.footer-icons {
  color: $techqueria-white;
}
