.fa-github-alt,
.fa-github {
  color: $github;
}

.fa-facebook {
  color: $facebook;
}

.fa-twitter {
  color: $twitter;
}

.fa-linkedin {
  color: $linkedin;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-eventbrite {
  color: $eventbrite;
}

.fa-meetup {
  color: $meetup;
}

.fa-youtube {
  color: $youtube;
}

.fa-rss,
.fa-rss-square {
  color: $rss;
}

.fa-envelope {
  color: $newsletter;
}

.footer-icons {
  color: $techqueria-white;
}
