.navbar.v--default {
  align-content: center;
  font-size: $size-6;
  justify-content: center;
  min-height: 5rem;

  .navbar-menu {
    box-shadow: none;
    flex-grow: unset;

    @media only screen and (min-width: $tablet) and (max-width: $laptop) {
      font-size: $size-7;
    }
  }

  .navbar-burger {
    height: 5rem;
    width: 3em;

    span {
      height: 2px;
      width: 20px;
    }
  }

  .navbar-item {
    img {
      max-height: 3em;
    }

    &.has-dropdown {
      padding: 0;
    }
  }

  .navbar-item,
  .navbar-link {
    font-weight: $weight-medium;
    padding: 10px 20px;
  }

  .navbar-item:focus-within,
  .navbar-item:focus,
  .navbar-item:hover,
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar-item.is-active,
  .navbar-link:focus-within,
  .navbar-link:focus,
  .navbar-link:hover,
  .navbar-link.is-active {
    background-color: $navbar-item-background-color;
  }

  .navbar-dropdown {
    padding: 0;

    .navbar-divider {
      margin: 0;
    }

    .navbar-item,
    .navbar-link {
      @extend .has-text-weight-normal;
      font-size: $size-8;

      &:hover {
        border-radius: 0;
      }

      &:last-child {
        &:hover {
          border-bottom-left-radius: $radius;
          border-bottom-right-radius: $radius;
        }
      }
    }
  }

  .navbar-link:not(.is-arrowless):after,
  .select:not(.is-multiple):not(.is-loading):after {
    border-radius: 0;
    content: none;
  }

  .navbar.is-spaced .navbar-dropdown,
  .navbar-dropdown.is-boxed {
    transform: none;
    transition: none;
  }

  .navbar-end {
    .navbar-item:hover {
      background-color: inherit;
    }
  }

  .hide-on-desktop-and-larger {
    display: flex !important;

    @media only screen and (min-width: $laptop) {
      display: none !important;
    }
  }

  .button.is-primary {
    font-size: inherit;
  }

  @media screen and (max-width: $tablet) {
    .navbar-logo {
      padding-right: 0;
    }
  }

  @media screen and (max-width: $laptop) {
    .navbar-link::after,
    .navbar-dropdown {
      display: none;
    }
  }

  &.has-shadow {
    @extend %material-shadow;
  }
}
