.navbar {
  align-content: center;
  justify-content: center;

  .navbar-menu {
    box-shadow: none;
    flex-grow: unset;

    @media only screen and (min-width: $tablet) and (max-width: $laptop) {
      font-size: $size-7;
    }
  }

  .navbar-burger {
    height: inherit;
    width: 3em;

    span {
      height: 2px;
      width: 20px;
    }
  }

  .navbar-item {
    img {
      max-height: 3em;
    }

    &.has-dropdown {
      padding: 0;
    }

    &:hover {
      background-color: $techqueria-white !important;
    }
  }

  .navbar-item,
  .navbar-link {
    font-weight: $weight-medium;
    padding: 0.5rem 1.5rem;

    @media screen and (max-width: $mobile-s) {
      padding: 0.5rem 0.75rem;
    }
  }

  .navbar-item--social {
    padding: 1rem 2rem;
  }

  .navbar-item:focus-within,
  .navbar-item:focus,
  .navbar-item:hover,
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar-item.is-active,
  .navbar-link:focus-within,
  .navbar-link:focus,
  .navbar-link:hover,
  .navbar-link.is-active {
    background-color: $navbar-item-background-color;
  }

  .navbar-dropdown {
    padding: 0;

    .navbar-divider {
      margin: 0;
    }

    .navbar-item,
    .navbar-link {
      @extend .has-text-weight-normal;

      &:hover {
        border-radius: $radius;
      }
    }
  }

  .navbar-link:not(.is-arrowless):after,
  .select:not(.is-multiple):not(.is-loading):after {
    border-radius: 0;
    content: none;
  }

  .navbar.is-spaced .navbar-dropdown,
  .navbar-dropdown.is-boxed {
    transform: none;
    transition: none;
  }

  &.has-shadow {
    @extend %material-shadow;
  }

  @media screen and (max-width: $tablet) {
    .navbar-logo {
      padding-right: 0;
    }
  }

  @media screen and (min-width: $laptop) {
    .slack-buttons {
      margin-left: 2em;
    }
  }

  @media screen and (max-width: $laptop) {

    .navbar-link::after,
    .navbar-dropdown {
      display: none;
    }
  }

  .hide-on-desktop-and-larger {
    display: flex !important;

    @media only screen and (min-width: $laptop) {
      display: none !important;
    }
  }

  .slack-buttons {
    &__navbar-start {
      display: none !important;

      @media only screen and (min-width: $tablet) {
        display: flex !important;
      }
    }

    &__navbar-end {
      display: block !important;

      @media only screen and (min-width: $mobile) {
        display: none !important;
      }
    }
  }
}
