.media-content {
  padding: 1em;
}

.button,
.dropdown-item {
  font-size: inherit;
}

.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  line-height: 1;
}

.breadcrumb {
  font-size: inherit;
}

.subtitle {
  font-size: inherit;
  font-weight: $weight-medium !important;
}

.is-active {
  font-weight: $weight-bold !important;
}

.button {
  &.is-link {
    &:hover {
      background-color: $techqueria-black;
    }
  }

  &.is-primary {
    background-color: $techqueria-black;
    color: $techqueria-white;

    &:hover {
      background-color: $techqueria;
      border-bottom: 0;
      color: $techqueria-black;
      text-decoration: none;
    }
  }
}

.container.is-fluid {
  margin: 0;
}

a,
.content a {
  &.tag {
    border-bottom: 0;
    color: $techqueria-white;
    text-decoration: none;

    &:hover {
      background-color: $techqueria;
      border-bottom: 0;
      color: $techqueria-black;
      text-decoration: none;
    }
  }
}

button,
input,
label,
pre code,
span,
textarea {
  font-size: inherit !important;
}

ol li img {
  margin: 2rem;
}


.calendly-inline-widget {
  min-width: unset !important;
}
