.media-content {
  padding: 1em;
}

.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  line-height: 1;
}

.breadcrumb {
  overflow: hidden;
  white-space: normal;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
}

.is-active {
  font-weight: $weight-bold !important;
}

.button {
  &.is-link {
    &:hover {
      background-color: $techqueria-black;
    }
  }

  &.is-medium {
    font-size: 1.5em !important;
  }

  &.is-primary {
    background-color: $techqueria-black;
    color: $techqueria-white;

    &:hover {
      background-color: $techqueria;
      border-bottom: 0;
      color: $techqueria-black;
      text-decoration: none;
    }

    &.is-outlined {
      border-color: $techqueria-black;
      color: $techqueria-black;

      &:hover,
      &:focus {
        background-color: $techqueria-black;
        border-color: $techqueria-black;
        color: $techqueria-white;

        i {
          color: $techqueria-white;
        }
      }
    }
  }
}

.container {
  max-width: 1100px;
}

.container.is-fluid {
  margin: 0;
}

a,
.content a {
  &.tag {
    border-bottom: 0;
    color: $techqueria-white;
    text-decoration: none;

    &:hover {
      background-color: $techqueria;
      border-bottom: 0;
      color: $techqueria-black;
      text-decoration: none;
    }
  }
}

.control,
.input,
button,
input,
label,
pre code,
span,
textarea {
  font-size: inherit !important;
}

ol li img {
  margin: 2em;
}
