.media-content {
  padding: 1em;
}

.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  line-height: 1;
}

.breadcrumb {
  overflow: hidden;
  white-space: normal;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
}

.is-active {
  font-weight: $weight-bold !important;
}

.button {
  &.is-link {
    &:hover {
      background-color: $techqueria-black;
    }
  }

  &.is-medium {
    font-size: 1.5em !important;
  }

  &.is-primary {
    background-color: $techqueria-black;
    color: $techqueria-white;

    &:hover {
      background-color: $techqueria;
      border-bottom: 0;
      color: $techqueria-black;
      text-decoration: none;
    }

    &.is-outlined {
      border-color: $techqueria-black;
      color: $techqueria-black;

      &:hover,
      &:focus {
        background-color: $techqueria-black;
        border-color: $techqueria-black;
        color: $techqueria-white;

        i {
          color: $techqueria-white;
        }
      }
    }
  }
}

.container {
  max-width: 1100px;
}

.container.is-fluid {
  margin: 0;
}

a,
.content a {
  &.tag {
    border-bottom: 0;
    color: $techqueria-white;
    text-decoration: none;

    &:hover {
      background-color: $techqueria;
      border-bottom: 0;
      color: $techqueria-black;
      text-decoration: none;
    }
  }
}

.control,
.input,
button,
input,
label,
pre code,
span,
textarea {
  font-size: inherit !important;
}

ol li img {
  margin: 2em;
}

// One offs

.image-external-plain {
  img {
    box-shadow: none !important;
  }
}

a.image-external-plain:after {
  content: "" !important;
}

.author-image {
  border-radius: $radius;
}

.twitter-tweet {
  margin: 0 auto;
}

.calendly-inline-widget {
  min-width: unset !important;
}

.page--single {
  margin: 0 auto;
  max-width: $laptop;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;

  @media screen and (min-width: $laptop) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Curator.io
.crt-widget-grid {
  position: unset !important;

  &::before {
    height: 100px !important;
  }
}

.crt-widget.crt-widget-branded {
  padding-bottom: 0 !important;

  .crt-logo {
    display: none !important;
  }
}

video {
  max-width: 100%;
}

.box--testimonial {
  border: 0;
  padding: 1.5em;
}
