.quote {
  justify-content: center;
  margin: 2em 0;
  padding: 1em;
  position: relative;

  blockquote {
    background-color: $techqueria-white !important;
    position: relative;
    z-index: 20;
  }

  blockquote::before {
    content: "❝";
    font-size: $size-1;
    height: 3em;
    left: -.65em;
    position: absolute;
    top: -.8em;
    width: 3em;
  }

  cite {
    font-style: normal;
    font-weight: 500;
    position: relative;

    &::before {
      content: "\2014 \0020";
      width: 5px;
    }
  }
}
