.image-external-plain {
  img {
    box-shadow: none !important;
  }
}

a.image-external-plain:after {
  content: "" !important;
}

.author-image {
  @extend %image-shadow;
  border-radius: $radius;
}

.twitter-tweet {
  margin: 0 auto;
}

.calendly-inline-widget {
  min-width: unset !important;
}

.page--single {
  margin: 0 auto;
  max-width: $laptop;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;

  @media screen and (min-width: $laptop) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Curator.io
.crt-widget-grid {
  position: unset !important;

  &::before {
    height: 100px !important;
  }
}

.crt-widget.crt-widget-branded {
  padding-bottom: 0 !important;

  .crt-logo {
    display: none !important;
  }
}

video {
  max-width: 100%;
}

.box--testimonial {
  border: 0;
  padding: 1.5em;
}

// Donate

.gl-widget__btn--primary {
  color: $techqueria !important;
}
