.section {
  @media screen and (max-width: $tablet) {
    padding: 1rem;
  }
}

.content {

  a {
    text-decoration: underline;

    img {
      @extend %image-shadow;
      display: inline-block;

      &.emoji {
        box-shadow: none;
      }
    }

    &:hover {
      color: $techqueria-black;

      img {
        @extend %material-shadow;
        border-bottom: 0;

        &.emoji {
          box-shadow: none;
        }
      }
    }
  }

  img {
    border: 0;
    position: relative;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @extend %image-shadow;

    &.emoji,
    &.no-box-shadow {
      display: inline-block;
      box-shadow: none;
    }

    p,
    a & {
      text-align: center;
    }
  }

  figure {
    margin: 0;

    &:not(:last-child) {
      margin: 0;
    }
  }
}
