.section {
  padding: 4em 2em;

  @media screen and (max-width: $tablet) {
    padding: 1.5em;
  }

  &.page {
    padding-top: 2em;
  }

  &.homepage {
    padding-bottom: 2em;
    padding-top: 2em;
  }
}
