.section {
  padding: 4rem 2rem;

  @media screen and (max-width: $tablet) {
    padding: 1.5rem;
  }

  &.page {
    padding-top: 2rem;
  }

  &.homepage {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.page__team {
  .card .card-image--figure {
    height: 20em;
  }
}
