nav#TableOfContents {

  ul,
  li,
  li li,
  ul ul {
    list-style: none;
  }

  ul {
    margin-left: 0.5em;
    margin-top: 0.25em;
  }

  a {
    border: 0;
    text-decoration: none !important;
  }
}
