nav#TableOfContents {
  ul,
  li,
  li li,
  ul ul {
    list-style: none;
  }

  ul {
    margin-top: 0.25em;
    border-left: 0.25px solid $toc-navbar-border-color;
  }

  li {
    padding-left: 0.5em;
  }

  a {
    border: 0;
    text-decoration: none !important;
  }
}
