h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $font-family-headers;
}

button,
input,
label,
select,
span,
textarea {
  font-family: $font-family !important;
}

.menu {
  font-size: $size-7;
}
