// Margin Top

.mt-sm {
  margin-top: 0.5em !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mt-3 {
  margin-top: 3em !important;
}

.mt-4 {
  margin-top: 4em !important;
}

.mt-8 {
  margin-top: 8em !important;
}

// Margin Right

.mr-sm {
  margin-right: 0.5em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

// Margin Left

.ml-sm {
  margin-left: 0.5em !important;
}

.ml-2 {
  margin-left: 2em !important;
}

// Margin Bottom

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-sm {
  margin-bottom: 0.5em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.mb-6 {
  margin-bottom: 6em !important;
}

// Padding

.pd-0 {
  padding: 0 !important;
}

.pd-sm {
  padding: 0.5em !important;
}

.pd-1 {
  padding: 1em !important;
}

.pd-2 {
  padding: 2rem !important;
}

.pt-1 {
  padding-top: 1em !important;
}

.pt-2 {
  padding-top: 2em !important;
}

.pt-3 {
  padding-top: 3em !important;
}

.pt-4 {
  padding-top: 4em !important;
}

.pb-1 {
  padding-bottom: 1em !important;
}

.pb-2 {
  padding-bottom: 2em !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

// Margin Auto

.m-auto {
  margin: 0 auto;
}

// Box Shadow

.u-box-shadow--none {
  box-shadow: none !important;
}

// Extensions

.image-shadow {
  @extend %image-shadow;
}

.material-shadow {
  @extend %material-shadow;
}

.light-image-shadow {
  @extend %light-image-shadow;
}

.very-light-image-shadow {
  @extend %very-light-image-shadow;
}

.bg-image {
  @extend %bg-image;
}

// Text Alignment

.u-text--centered {
  text-align: center;
}

.u-text--left-mobile-only {
  text-align: left;

  @media screen and (min-width: $laptop) {
    text-align: center;
  }
}

// Background Color

.u-background--default {
  background-color: $techqueria;
}

// Color

.u-link--dark-background {
  color: $link !important;

  &:hover {
    color: $techqueria-white !important;
  }
}

// Display

.is-hidden-laptop-large {
  display: none;

  @media screen and (min-width: $laptop-large) {
    display: flex;
  }
}

.is-hidden-laptop-xx-large {
  display: none;

  @media screen and (min-width: $laptop-xx-large) {
    display: block;
  }
}

// Flex

.u-align-item--centered {
  align-items: center !important;
}

.u-display--flex {
  display: flex !important;
}

.u-justify-content--centered {
  justify-content: center !important;
}

// Width

.u-max-width--small {
  margin: 0 auto;
  max-width: 400px;
}

.u-max-width--mobile {
  max-width: $mobile;
}

.u-max-width--tablet {
  max-width: $tablet;
}

// Fields

.mb-0-field {
  .field {
    margin-bottom: 0;
  }
}

// Backgrounds

.has-background-primary {
  background-color: $techqueria !important;
  color: $techqueria-black;
}

// Sizes

.is-size-8 {
  font-size: 0.75em !important;
}

// Border Radius

.border-radius-4 {
  border-radius: 4px;
}
