.mt-sm {
  margin-top: 0.5em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mr-sm {
  margin-right: 0.5em !important;
}

.ml-2 {
  margin-left: 2em !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.pd-1 {
  padding: 1em !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.image-shadow {
  @extend %image-shadow;
}

.material-shadow {
  @extend %material-shadow;
}

.image-external-plain {
  img {
    box-shadow: none !important;
  }

  &::after {
    content: "" !important;
  }
}

.u-box-shadow--none {
  box-shadow: none !important;
}

.u-background--default {
  background-color: $techqueria;
}

.u-text--centered {
  text-align: center;
}

.u-link--dark-background {
  color: $link !important;

  &:hover {
    color: $techqueria-white !important;
  }
}

.is-hidden-laptop-xx-large {
  display: none;

  @media screen and (min-width:$laptop-xx-large) {
    display: block;
  }
}
