// Colors
// Techqueria's Official Brand Color
$techqueria: #fabf67;
// Flamingo
$techqueria-red: #ff551f;
// Madison
$techqueria-black: #2f4052;
// Gray
$techqueria-gray: #a3b1bf;
// Boston Blue
$techqueria-blue-light: #3f8db9;
// Fun Blue
$techqueria-blue: #1756a9;
// Kabul
$techqueria-brown: #5a4640;
// Rebel
$techqueria-brown-dark: #46352f;
// Green
$techqueria-green: #4c895c;
// White
$techqueria-white: white;
// Colors
$link: $techqueria-blue;
$info: $techqueria-blue-light;
$success: $techqueria-green;
$warning: $techqueria;
$danger: $techqueria-red;
$table-background-color: #fafafa;
$navbar-item-background-color: #f4f4f4;
$toc-navbar-border-color: #e2e2e2;
$code-color: #9f2600;
// Material Shadow
$darker-shadow: rgba(0, 0, 0, 0.3);
$material-shadow: rgba(0, 0, 0, 0.2);
$image-shadow: rgba(0, 0, 0, 0.1);
$light-image-shadow: rgba(0, 0, 0, 0.5);
$very-light-image-shadow: rgba(0, 0, 0, 0.25);
// Brand Colors
$github: #333;
$facebook: #4267b2;
$twitter: #55acee;
$linkedin: #0077b5;
$instagram: #2c1e22;
$eventbrite: #ff8000;
$meetup: #e0393e;
$newsletter: $techqueria-brown-dark;
$rss: #fa9b39;
$youtube: #bb0000;
$mailchimp: #241c15;
// Typography
$font-family: "Rubik",
BlinkMacSystemFont,
-apple-system,
"Roboto",
"Segoe UI",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial";
$font-family-headers: "Rubik",
sans-serif,
BlinkMacSystemFont,
-apple-system,
"Roboto",
"Segoe UI",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial";
$font-size: 18px;
$font-size-mobile: 16px;
$size-1: 3em;
$size-2: 2.5em;
$size-3: 2em;
$size-4: 1.75em;
$size-5: 1.5em;
$size-6: 1.25em;
$size-7: 1em;
$size-8: 0.8em;
// Breakpoints
$mobile-s: 320px;
$mobile-m: 375px;
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-large: 1440px;
$laptop-xx-large: 1920px;
// Navbar
$navbar-breakpoint: $laptop !default;
// Radius
$radius-small: 4px;
$radius: 4px;
$radius-large: 4px;
