// Colors
// Techqueria's Official Brand Color
$techqueria: #fabf67;
// Flamingo
$techqueria-red: #ff551f;
// Madison
$techqueria-black: #2f4052;
// Gray
$techqueria-gray: #a3b1bf;
// Boston Blue
$techqueria-blue-light: #3f8db9;
// Fun Blue
$techqueria-blue: #1756a9;
// Kabul
$techqueria-brown: #5a4640;
// Rebel
$techqueria-brown-dark: #46352f;
// Apple
$techqueria-green: #6BAF3C;
// White
$techqueria-white: white;
// Colors
$link: $techqueria-blue;
$info: $techqueria-blue-light;
$success: $techqueria-green;
$warning: $techqueria;
$danger: $techqueria-red;
// Material Shadow
$darker-shadow: rgba(0, 0, 0, 0.3);
$material-shadow: rgba(0, 0, 0, 0.2);
$image-shadow: rgba(0, 0, 0, 0.1);
// Brand Colors
$github: #333;
$facebook: #4267b2;
$twitter: #55acee;
$linkedin: #0077b5;
// Typography
$font-size: 25px;
$font-size-mobile: 15px;
$font-family: "Rubik",
BlinkMacSystemFont,
-apple-system,
"Roboto",
"Segoe UI",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial";
$font-family-headers: "Rubik",
sans-serif,
BlinkMacSystemFont,
-apple-system,
"Roboto",
"Segoe UI",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial";
$size-1: 3em;
$size-2: 2.5em;
$size-3: 2em;
$size-4: 1.5em;
$size-5: 1.25em;
$size-6: 1em;
$size-7: 0.75em;
// Breakpoints
$mobile-s: 320px;
$mobile-m: 375px;
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-large: 1440px;
$laptop-xx-large: 1920px;
// Navbar
$navbar-breakpoint: $laptop-large !default;
