{{ define "main" }}
<!-- Hero -->
{{ partial "content/hero/hero.html" . }}
<!-- Page -->
<div class="section page">
  <div class="container">
    <!-- Breadcrumbs -->
    {{ partial "content/custom/breadcrumbs.html" . }}
    <!-- Content -->
    {{ partial "content/_index.html" . }}
    <!-- Supporters - Showcase -->
    {{ partial "content/custom/supporters-showcase.html" . }}
    <!-- Partnership Call -->
    <div class="content mt-4">
      {{ partial "content/custom/partnership-call.html" . }}
    </div>
    <!-- Content Footer -->
    {{ partial "content/footer/_index.html" . }}
  </div>
</div>
{{ end }}
