{{ define "main" }}
<!-- Page -->
<div class="section pt-0 no-ids page-lhm-summit">
  <div class="container is-fluid">
    <!-- Navbar -->
    {{ partial "summit/navbar.html" . }}

    <!-- Hero -->
    {{ partial "summit/hero.html" . }}

    <!-- Overview -->
    {{ partial "summit/overview.html" . }}

    <!-- Attendee Benefits -->
    {{ partial "summit/attendee-benefits.html" . }}

    <!-- Speakers -->
    {{ partial "summit/speakers.html" . }}

    <!-- Performers -->
    {{ partial "summit/performers.html" . }}

    <!-- Schedule -->
    {{ partial "summit/schedule.html" . }}

    <!-- Sponsors -->
    {{ partial "summit/sponsors.html" . }}

    <!-- Platform -->
    {{ partial "summit/platform.html" . }}

    <!-- Raffle Prizes -->
    {{ partial "summit/raffle-prizes.html" . }}

    <!-- Gallery -->
    <!-- {{ partial "summit/gallery.html" . }} -->

    <!-- Testimonials -->
    <!-- {{ partial "summit/testimonials.html" . }} -->

    <!-- RSVP -->
    <!-- {{ partial "summit/rsvp.html" . }} -->

    <!-- Become a Sponsor -->
    <!-- {{ partial "summit/sponsor-benefits.html" . }} -->

    <!-- Slack -->
    {{ partial "summit/slack.html" . }}

    <!-- Promos -->
    <!-- {{ partial "summit/promos.html" . }} -->

    <!-- FAQ -->
    <!-- {{ partial "summit/faq.html" . }} -->

    <!-- Team -->
    {{ partial "summit/team.html" . }}

    <!-- Banner -->
    <!-- {{ partial "summit/banner.html" . }} -->
  </div>
  <div class="container">
    <!-- Content Footer -->
    {{ partial "content/footer/_index.html" . }}

  </div>
</div>
{{ end }}
