<div class="hero-body">
  <div class="container">
    <!-- Title -->
    <h1 class="title">
      {{ if .Params.partnerEvent }}Partner Event: {{ end }}{{ .Title }}
    </h1>
    <!-- Description -->
    <h2 class="subtitle">
      {{ .Description }}
    </h2>
    <!-- Location -->
    {{ with .Params.location }}
    <p class="mb-1">{{ . }}</p>
    {{ end }}
    <!-- Role -->
    {{ with .Params.role }}
    <p class="mb-1">{{ . }}</p>
    {{ end }}
    <!-- External Link -->
    {{ if .Params.link }}
    <a class="button is-link is-inverted is-large" href="{{ .Params.link }}" target="_blank" rel="noopener">
      {{ if in .Params.link "linkedin.com/in/" }}LinkedIn Profile ➡{{ else }}More info ➡{{ end }}
    </a>
    {{ end }}
    <!-- Event Link -->
    {{ if .Params.eventLink }}
    <a class="button is-link is-inverted is-large" href="{{ .Params.eventLink }}" target="_blank" rel="noopener">
      Register for the event ➡
    </a>
    {{ end }}
  </div>
</div>
