<!-- Defining Pages -->
{{ $pages := .Pages | union (.Sections) }}
<!-- Children Pages -->
{{ if $pages }}
<!-- Upcoming Events -->
<!-- TODO: Add message if there are no upcoming events -->
<div class="content">
  <h2>Upcoming Events</h2>
</div>
<div class="columns is-multiline mb-2">
  <!-- Looping -->
  {{ range $pages.ByDate }}
  {{ if .Date.Before now }} {{ else }}
  <div class="column is-one-third-desktop is-half-tablet">
    {{ partial "content/card/card.event.html" . }}
  </div>
  {{ end }} {{ end }}
</div>
<!-- Past Events -->
<div class="content">
  <h2>Past Events</h2>
</div>
<div class="columns is-multiline mb-2">
  <!-- Looping -->
  {{ range $pages.ByDate.Reverse }}
  {{ if .Date.Before now }}
  <div class="column is-one-third-desktop is-half-tablet">
    {{ partial "content/card/card.event.html" . }}
  </div>
  {{ else }} {{ end }} {{ end }}
</div>
{{ end }}
<hr>