<div class="column is-6">
  <h6>
    <b>Communities</b>
  </h6>
  <!-- Section Pages - Communities -->
  {{ $community := where .Site.RegularPages "Section" "communities" }}

  <!-- Looping none cities-->
  <p>
  {{ range where $community ".Params.city" "none"}}
    {{ if .Params.link }}
    <a href="{{ .Params.link }}" target="_blank" rel="noopener">
      {{ else }}
      <a href="{{ .RelPermalink }}">
        {{ end }}

        {{ if .Params.identifier }}
          <i class="{{ .Params.identifier }}"
            alt="{{ .Params.Title }}"
            title="{{ .Params.Title }}"></i>
        {{ else}}
          {{.Title}}
        {{ end}}
      </a>
  {{ end }}
  </p>

  <!-- Looping SF -->
  SF
  <p>
  {{ range where $community ".Params.city" "sf"}}
    {{ if .Params.link }}
    <a href="{{ .Params.link }}" target="_blank" rel="noopener">
      {{ else }}
      <a href="{{ .RelPermalink }}">
        {{ end }}

        {{ if .Params.identifier }}
          <i class="{{ .Params.identifier }}"
            alt="{{ .Params.Title }}"
            title="{{ .Params.Title }}"></i>
        {{ else}}
          {{.Title}}
        {{ end}}
      </a>
  {{ end }}
  </p>

  <!-- Looping LA -->
  LA
  <p>
  {{ range where $community ".Params.city" "la"}}
    {{ if .Params.link }}
    <a href="{{ .Params.link }}" target="_blank" rel="noopener">
      {{ else }}
      <a href="{{ .RelPermalink }}">
        {{ end }}

        {{ if .Params.identifier }}
          <i class="{{ .Params.identifier }}"
            alt="{{ .Params.Title }}"
            title="{{ .Params.Title }}"></i>
        {{ else}}
          {{.Title}}
        {{ end}}
      </a>
  {{ end }}
  </p>

  <!-- Looping NYC -->
  NYC
  <p>
  {{ range where $community ".Params.city" "nyc"}}
    {{ if .Params.link }}
    <a href="{{ .Params.link }}" target="_blank" rel="noopener">
      {{ else }}
      <a href="{{ .RelPermalink }}">
        {{ end }}

        {{ if .Params.identifier }}
          <i class="{{ .Params.identifier }}"
            alt="{{ .Params.Title }}"
            title="{{ .Params.Title }}"></i>
        {{ else}}
          {{.Title}}
        {{ end}}
      </a>
  {{ end }}
  </p>
</div>
