<!-- Who We Are -->
<div class="column is-6">
  <h6 class="mb-1"><b>{{ i18n "who_we_are" }}</b></h6>
  <img src="/assets/img/logos/logo-rectangle.png" alt="{{ .Title }}" width="300">
  <br>
  <br>
  <p>{{ i18n "calling_all" }}</p>
  <br>
  <p>{{ i18n "join_us" }}</p>
  <br>
  <!-- Language Dropdown -->
  <!-- Not ready for prime time yet -->
  <!-- {{ if .IsTranslated }}
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="language-dropdown-menu">
        <span>{{ .Language.LanguageName }}</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="language-dropdown-menu" role="menu">
      <div class="dropdown-content">
        {{ range .Translations }}
        <a href="{{ .RelPermalink }}" class="dropdown-item">{{ .Language.LanguageName }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }} -->
</div>
