<!-- Who We Are -->
<div class="columns">
  <div class="column">
    <h6>
      <b>Who We Are</b>
    </h6>
    <br>
    <img src="/assets/img/logos/logo-rectangle.png" alt="{{ .Title }}" width="300">
    <br>
    <br>
    <p>Calling all Latinxs in tech!</p>
    <br>
    <p>Whether you just got here last week or your family has been in the country for decades, we have a lot to share and be proud of.</p>
    <br>
    <p>So join us and share your experience with the Techqueria community.</p>
    <br>
  </div>
</div>