<a {{ if .Params.link }}href="{{ .Params.link }}" target="_blank" rel="noopener" {{ else }}href="{{ .RelPermalink }}" {{ end }}>
  <div class="card card-equal-height">
    <!-- Image -->
    {{ if .Params.image }}
    <div class="card-image">
      <figure class="image">
        <img src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}" class="lozad card-image--figure">
      </figure>
    </div>
    {{ end }}
    <!-- Title -->
    <header class="card-header">
      <h2 class="card-header-title">
        {{ if .Params.partnerEvent }}Partner Event: {{ end }}{{ .Title }}
      </h2>
    </header>
    <!-- Content -->
    <div class="card-content">
      <div class="content">
        <!-- Description -->
        <p>{{ if .Description }}{{ .Description | truncate 100 | safeHTML }}{{ else }}{{ .Summary | truncate 100 | safeHTML }}{{ end }}</p>
        <!-- Location -->
        {{ with .Params.location }}
        <p class="is-size-7 subtitle">{{ . }}</p>
        {{ end }}
        <!-- Role -->
        {{ with .Params.role }}
        <p class="is-size-7 subtitle">{{ . }}</p>
        {{ end }}
        <!-- Date -->
        {{ if not .PublishDate.IsZero }}
        <p class="is-size-7 subtitle">{{ dateFormat "Monday - January 2, 2006" .Date }}</p>
        {{ end }}
        <!-- Reading Time & Word Count -->
        {{- if not .Params.noTimeEstimate }}
        {{- if gt .ReadingTime 1 }}
        {{- if .WordCount }}
        <p class="is-size-7 subtitle">{{ .ReadingTime }} min read ∙ {{ .WordCount }} words</p>
        {{- end }}
        {{- end }}
        {{- end }}
      </div>
    </div>
  </div>
</a>
