<!-- Categories -->
{{- if .Params.categories -}}
  <!-- Role -->
  {{- if in .Params.categories "board-member" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">👥</span>Board Member{{- end -}}
  {{- if in .Params.categories "ceo" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">✨</span>Executive Director{{- end -}}
  {{- if in .Params.categories "chair-person" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">👥</span>Board Chair{{- end -}}
  {{- if in .Params.categories "co-director" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">✨</span>Co-Director{{- end -}}
  {{- if in .Params.categories "co-founder" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">✨</span>Co-founder{{- end -}}
  {{- if in .Params.categories "cto" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">✨</span>Executive Director, Technology{{- end -}}
  {{- if in .Params.categories "chapter-director" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Chapter Director{{- end -}}
  {{- if in .Params.categories "current-organizer" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Current Organizer{{- end -}}
  {{- if in .Params.categories "current-volunteer" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Current Volunteer{{- end -}}
  {{- if in .Params.categories "past-board-member" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Past Board Member{{- end -}}
  {{- if in .Params.categories "past-organizer" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Past Organizer{{- end -}}
  {{- if in .Params.categories "past-patreon-supporter" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Past Patreon Supporter{{- end -}}
  {{- if in .Params.categories "past-volunteer" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Past Volunteer{{- end -}}
  {{- if in .Params.categories "patreon-champion" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Champion Tier - $100 or more per month{{- end -}}
  {{- if in .Params.categories "patreon-core" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Core Tier - $25 or more per month{{- end -}}
  {{- if in .Params.categories "patreon-patron" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Patron Tier - $50 or more per month{{- end -}}
  {{- if in .Params.categories "ux-consultant" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📝</span>UX Consultant{{- end -}}
  <!-- Location -->
  {{- if in .Params.categories "austin" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>Austin, TX</p>{{- end -}}
  {{- if in .Params.categories "washington-dc" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>Washington, D.C.</p>{{- end -}}
  {{- if in .Params.categories "atlanta" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>Atlanta, GA</p>{{- end -}}
  {{- if in .Params.categories "san-francisco" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>San Francisco, CA</p>{{- end -}}
  {{- if in .Params.categories "los-angeles" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>Los Angeles, CA</p>{{- end -}}
  {{- if in .Params.categories "nyc" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>New York, NY</p>{{- end -}}
  {{- if in .Params.categories "chicago" -}}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>Chicago, IL</p>{{- end -}}
{{- end -}}
<!-- Date -->
{{- if not .PublishDate.IsZero -}}
<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🗓️</span>{{ dateFormat "Monday - January 2, 2006" .Date -}}</p>
{{- end -}}
<!-- Sponsor Available -->
{{- if in .Params.categories "software-sponsor-available" -}}
<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🔵</span>Sponsorship available</p>
{{- end -}}
<!-- Price -->
{{ with .Params.price -}}
<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💵</span>{{ . }}</p>
{{- end -}}
<!-- Location -->
{{ with .Params.location -}}
<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📍</span>{{ . }}</p>
{{- end -}}
<!-- Companies -->
{{- if .Params.organizations -}}
{{ range .Params.organizations -}}
<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🏢</span>{{ . }}</p>
{{- end -}}
{{- end -}}
<!-- Publication -->
{{ with .Params.publication -}}
<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📰</span>{{ . }}</p>
{{- end -}}
<!-- Reading Time & Word Count -->
{{- if not .Params.noTimeEstimate -}}{{- if gt .ReadingTime 1 -}}{{- if .WordCount -}}
<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🔖</span>{{ .ReadingTime }} min read ∙ {{ .WordCount }} words</p>
{{- end -}}{{- end -}}{{- end -}}