<!-- Card has links -->
{{ if or (.Params.twitter) (.Params.linkedin) (.Params.github) (.Params.authors) (.Params.link) (.Params.photo) (.Params.video) }}
<div class="card card-equal-height">
  <!-- Content -->
  <a class="card-reset" rel="noopener" href="{{ if .Params.internalLink }}{{ .Params.internalLink }}{{ else }}{{ .RelPermalink }}{{ end }}">
    {{ partial "content/card/card-content.html" . }}
  </a>
  <!-- Links -->
  {{ partial "content/card/card-links.html" . }}
</div>
<!-- Card does not have links -->
{{ else }}
<a rel="noopener" href="{{ if .Params.internalLink }}{{ .Params.internalLink }}{{ else }}{{ .RelPermalink }}{{ end }}">
  <div class="card card-equal-height">
    <!-- Content -->
    {{ partial "content/card/card-content.html" . }}
  </div>
</a>
{{ end }}
