<!-- Roles -->
{{ if .Params.roles }}
  {{ if in .Params.roles "board-member" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">👥</span>Board Member{{ end }}
  {{ if in .Params.roles "ceo" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">✨</span>Executive Director{{ end }}
  {{ if in .Params.roles "chair-person" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">👥</span>Board Chair{{ end }}
  {{ if in .Params.roles "co-founder" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">✨</span>Co-founder{{ end }}
  {{ if in .Params.roles "cto" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">✨</span>Executive Director, Technology{{ end }}
  {{ if in .Params.roles "current-organizer" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Current Organizer{{ end }}
  {{ if in .Params.roles "current-volunteer" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Current Volunteer{{ end }}
  {{ if in .Params.roles "past-board-member" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Past Board Member{{ end }}
  {{ if in .Params.roles "past-organizer" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Past Organizer{{ end }}
  {{ if in .Params.roles "past-patreon-supporter" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Past Patreon Supporter{{ end }}
  {{ if in .Params.roles "past-volunteer" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">🌮</span>Past Volunteer{{ end }}
  {{ if in .Params.roles "patreon-advocate" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Advocate Tier - $10 or more per month{{ end }}
  {{ if in .Params.roles "patreon-champion" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Champion Tier - $100 or more per month{{ end }}
  {{ if in .Params.roles "patreon-core" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Core Tier - $25 or more per month{{ end }}
  {{ if in .Params.roles "patreon-friend" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Friend Tier - $1 or more per month{{ end }}
  {{ if in .Params.roles "patreon-patron" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Patron Tier - $50 or more per month{{ end }}
  {{ if in .Params.roles "patreon-supporter" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">💛</span>Patreon Supporter Tier - $5 or more per month{{ end }}
  {{ if in .Params.roles "ux-consultant" }}<p class="has-text-weight-light mt-sm is-size-7"><span class="mr-sm">📝</span>UX Consultant{{ end }}
{{ end }}
<!-- Date -->
{{ if not .PublishDate.IsZero }}
<p class="has-text-weight-light mt-sm is-size-7">
  <span class="mr-sm">🗓️</span>
  {{ dateFormat "Monday - January 2, 2006" .Date }}
</p>
{{ end }}
<!-- Location -->
{{ if .Params.locations }}
<p class="has-text-weight-light mt-sm is-size-7">
  <span class="mr-sm">📍</span>
  {{ if in .Params.locations "austin" }}Austin{{ end }}
  {{ if in .Params.locations "bay-area" }}Bay Area{{ end }}
  {{ if in .Params.locations "los-angeles" }}Los Angeles{{ end }}
  {{ if in .Params.locations "nyc" }}New York City{{ end }}
  {{ if in .Params.locations "chicago" }}Chicago{{ end }}
</p>
{{ end }}
<!-- Location -->
{{ with .Params.location }}
<p class="has-text-weight-light mt-sm is-size-7">
  <span class="mr-sm">📍</span>
  {{ . }}
</p>
{{ end }}
<!-- Companies -->
{{ if .Params.companies }}
{{ range .Params.companies }}
<p class="has-text-weight-light mt-sm is-size-7">
  <span class="mr-sm">🏢</span>
  {{ . }}
</p>
{{ end }}
{{ end }}
<!-- Publication -->
{{ with .Params.publication }}
<p class="has-text-weight-light mt-sm is-size-7">
  <span class="mr-sm">📰</span>
  {{ . }}
</p>
{{ end }}
<!-- Reading Time & Word Count -->
{{- if not .Params.noTimeEstimate }}
{{- if gt .ReadingTime 1 }}
{{- if .WordCount }}
<p class="has-text-weight-light mt-sm is-size-7">
  <span class="mr-sm">🔖</span>
  {{ .ReadingTime }}
  min read ∙
  {{ .WordCount }}
  words</p>
{{- end }}
{{- end }}
{{- end }}
<!-- Articles author wrote -->
<!--
{{ $articlesWritten := 0 }}
{{ $file := .Title }}
{{ range $.Site.Pages }}
{{ if in .Params.authors $file }}
{{ $articlesWritten = add $articlesWritten 1 }}
{{ end }}
{{ end }}
{{ if ge $articlesWritten 1 }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">
  <span class="mr-sm">📝</span>
  {{ $articlesWritten }} {{ cond (eq $articlesWritten 1) "article" "articles" }} written
</p>
{{ end }}
-->
<!-- Articles author was featured in -->
<!--
{{ $articlesFeaturedIn := 0 }}
{{ $file := .Title }}
{{ range $.Site.Pages }}
{{ if in .Params.featuring $file }}
{{ $articlesFeaturedIn = add $articlesFeaturedIn 1 }}
{{ end }}
{{ end }}
{{ if ge $articlesFeaturedIn 1 }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">
  <span class="mr-sm">📰</span>
  featured in {{ $articlesFeaturedIn }} {{ cond (eq $articlesFeaturedIn 1) "article" "articles" }}
</p>
{{ end }}
-->
<!-- Events author helped organize -->
<!--
{{ $eventsOrganized := 0 }}
{{ $file := .Title }}
{{ range $.Site.Pages }}
{{ if in .Params.organizers $file }}
{{ $eventsOrganized = add $eventsOrganized 1 }}
{{ end }}
{{ end }}
{{ if ge $eventsOrganized 1 }}
  <p class="has-text-weight-light mt-sm has-text-dark is-size-7">
  <span class="mr-sm">🗓</span>
  helped with {{ $eventsOrganized }} {{ cond (eq $eventsOrganized 1) "event" "events" }}
</p>
{{ end }}
-->
