<a rel="noopener" href="{{ if .Params.internalLink }}{{ .Params.internalLink }}{{ else }}{{ .RelPermalink }}{{ end }}">
  <div class="card card-equal-height box box--testimonial">
    <article class="media">
      <div class="media-content pd-0">
        <img class="lozad avatar author-image" width="150" src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}">
        <div class="content mt-1">
          <p><strong>{{ .Title }}</strong></p>
          <p><small>{{ dateFormat "Monday - January 2, 2006" .Date -}}</small></p>
          <p>{{ .Summary | truncate 500 | safeHTML }}</p>
        </div>
      </div>
    </article>
  </div>
</a>
