<!-- Image -->
{{ if .Params.image }}
<div class="card-image">
  <figure class="image">
    <img src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}" class="lozad card-image--figure">
  </figure>
</div>
{{ end }}
<!-- Title -->
<header class="card-header">
  <h3 class="card-header-title">
    {{ if .IsPage }}{{ if .Date.Local.After now }}[UPCOMING] {{ end }}{{ end }}{{ .Title }}{{ if .Params.flag }}{{ .Params.flag }}{{ end }}
  </h3>
</header>
<!-- Content -->
<div class="card-content">
  <div class="content">
    <p>{{ if .Description }}{{ if .Params.pricing }}<span class="mr-sm">💵</span>{{ end }}{{ .Description | truncate 150 | safeHTML }}{{ else }}{{ .Summary | truncate 150 | safeHTML }}{{ end }}</p>
    <!-- More Info -->
    {{ partial "content/card/card-info.html" . }}
  </div>
</div>
