<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p><a href="/code-of-conduct/">Code Of Conduct</a></p>
        <p>&copy; 2016 | made with <a href="https://gloriajs.com">gloria</a></p>
      </div>
      <div class="footer-col footer-col-3">
        <span class='st_facebook_vcount' displayText='Facebook'></span>
        <span class='st_twitter_vcount' displayText='Tweet'></span>
        <ul class="social-media-list">
          {{#if site.github_username }}
          <li>
            {{> icon-github.html username=site.github_username }}
          </li>
          <li>
            {{> icon-twitter.html username=site.twitter_username }}
          </li>
          {{/if }}
          <li>
              <a href="https://www.linkedin.com/groups/13500636">LinkedIn Group</a>
          </li>
          <li>
            <a href="https://www.facebook.com/groups/techqueria/">
                <span class="icon icon--facebook">
                  <img src="/images/fb.jpg" width=18>
                </span>
                <span class="username">techqueria</span>
            </a>
          </li>
          <li>
              <a class="page-link" href="/merch/">Merch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
if (typeof stLight !== 'undefined') {
  stLight.options({publisher: "82f8287f-b0eb-4ccd-9925-3dd02ed4a4c3", doNotHash: true, doNotCopy: true, hashAddressBar: false});
}
</script>
<script type="text/javascript">
  if (!(location.hostname === "localhost" || location.hostname === "127.0.0.1") && location.protocol !== 'https:') {
      location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
  }

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  if (typeof ga !== 'undefined') {
    ga('create', 'UA-88917358-1', 'auto');
    ga('send', 'pageview');
  }

</script>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.min.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.easytabs.min.js"></script>
<script src="/assets/js/viewport-units-buggyfill.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/custom.js"></script>

