<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json">
  <title>Techqueria{{#if page.title }}: {{ page.title }}{{/if }}</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Techqueria">
  <link rel="apple-touch-icon" href="images/icons/icon-techqueria-logo-152x152.png">
  <meta name="msapplication-TileImage" content="images/icons/icon-techqueria-logo-144x144.png">
  <meta name="msapplication-TileColor" content="#594641">

  <title>{{#if page.title }}{{ page.title }}{{else}}{{site.title}}{{/if }}</title>
  <meta name="description" content="{{#if page.description }}{{ page.description }}{{else}}We're a group of friends trying to connect more with latinxs in the tech industry.{{/if }}" />

  <meta property="og:url"                content="{{site.url}}/{{page.url}}" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Techqueria{{#if page.title }}: {{ page.title }}{{/if }}" />
  <meta property="og:description"        content="{{#if page.description }}{{ page.description }}{{else}}We're a group of friends trying to connect more with latinxs in the tech industry.{{/if }}" />
  <meta property="og:image"              content="{{#if page.image }}{{ page.image }}{{else}}https://techqueria.org/images/logo-squared.png{{/if}}" />

  <link rel="stylesheet" href="/sass/main.css">
  <link rel="canonical" href="{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" }}">
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1795759010654444');
    fbq('track', "PageView");</script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1795759010654444&ev=PageView&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
</head>
