<header>
    <div class="navbar">
        <div class="navbar-header">
            <div class="container">
                <ul class="info pull-left">
                    <li><a href="#"><i class="icon-mail-1 contact"></i>organizers@techqueria.org</a></li>
                </ul>
                <ul class="social pull-right">
                    <li><a href="https://www.facebook.com/groups/techqueria/">
                            <i class="icon-s-facebook"></i></a>
                    </li>
                    <li><a href="https://twitter.com/techqueriasf">
                            <i class="icon-s-twitter"></i></a>
                    </li>
                </ul>
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/logo.png" class="logo" alt="Techqueria logo">
                </a>
                <a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            </div>
        </div>
        <div class="yamm">
            <div class="navbar-collapse collapse">
                <div class="container">
                    <a class="navbar-brand" href="{{ site.baseurl }}/">
                        <img src="/assets/images/logo.png" class="logo" alt="Techqueria logo">
                    </a>
                    <ul class="nav navbar-nav">
                        <li class="hover {{#ifeq page.url '/press/'}}open{{/ifeq}}">
                            <a href="/press/">Press</a>
                        </li>
                        <li class="hover {{#ifeq page.url '/contact/'}}open{{/ifeq}}">
                            <a href="/contact/">Contact</a>
                        </li>
                        <li class="hover {{#ifeq page.url '/events/'}}open{{/ifeq}}">
                            <a href="/events/">Events</a>
                        </li>
                        <li class="hover {{#ifeq page.url '/resources/'}}open{{/ifeq}}">
                            <a href="/resources/">Resources</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

