<h3><a href="https://www.udacity.com/scholarships/att" target="_blank">Aspire to Tech Scholarship Program</a></h3>
<p>Udacity and AT&amp;T, are
offering over 500 scholarships aimed at increasing
diversity and offering economic opportunities to students from
disadvantaged socioeconomic groups. Scholarship recipients can
choose to learn in one of these three cutting edge programs:
<a href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000" target="_blank">Intro to Programming</span></a>,
<a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001" target="_blank">Front End Web Development,</a>
and <a href="https://www.udacity.com/course/android-basics-nanodegree-by-google--nd803" target="_blank">Android Basics</a></p>
<p>Interested students can learn
more about the program and apply directly through the
scholarship webpage <a href="https://www.udacity.com/scholarships/att" target="_blank">here</a>.
There's a bit of a <b>tight timeline as applications are open only until Tuesday, June 6</b>.
so apply quickly!. Recipients will be notified on June 16 and class
will start on June 19.</p>

<p>In the application, it’s crucial for students to list out the name of their affiliated
organization. There is an option for “other;” applicants should choose this and then
put 'techqueria' in the following question.
Likewise, for the 3 short essays (150 words each), they encourage applicants to
really make the case for who they are, why they need this scholarship, how they’d use
the skills they learn to build a career in tech. This is a great opportunity for
applicants to show us they’ll be an engaged and motivated student.</p>
<p>Please direct any questions directly to scholarships@udacity.com </p>
<p><a href="https://www.udacity.com/scholarships/att">Apply here!</a></p>
