.site-header {
  background: #594641;
  .site-title, .site-title:visited, .site-nav .page-link {
    color: #fabe6e;
  }
}

h1, h2, h3 {
    color: #594641;
}
h2 {
    font-size: 22px;
}
.t-shirt-images a {
    display: block;
    width: 30%;
    float: left;
    margin: 1%;
    border: 2px solid #1756a9;
    border-radius: 5px;
}

body.custom {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-brand {
    color: #fabe6e;
    font-weight: bold;
    &:hover {
        color: #fabe6e;
        text-decoration: underline;
    }
}

