<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title">Attendee Benefits</h2>
    <div class="columns pt-4">
      <div class="column is-4">
        <h3 class="has-text-weight-medium">Celebration</h3>
        <p>Take a breather and celebrate with us during Latinx Heritage Month</p>
      </div>
      <div class="column is-4">
        <h3 class="has-text-weight-medium">Networking</h3>
        <p>Get the change to mingle with other Latinx professionals in tech</p>
      </div>
      <div class="column is-4">
        <h3 class="has-text-weight-medium">Swag</h3>
        <p>Unique swag from Mitu & ShopLatinx</p>
      </div>
    </div>
  </div>
</section>
