<span class="jump-section" id="benefits"></span>
<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title">Attendee Benefits</h2>
    <div class="columns pt-4">
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img
            src="/assets/img/summit/benefits/celebration.png"
            data-src="/assets/img/summit/benefits/celebration.png"
            class="lozad"
            alt="Celebration"
          />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Celebration</h3>
        <p>Take a breather and celebrate with us during Latinx Heritage Month</p>
      </div>
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img
            src="/assets/img/summit/benefits/networking.png"
            data-src="/assets/img/summit/benefits/networking.png"
            class="lozad"
            alt="Networking"
          />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Networking</h3>
        <p>Get the change to connect with the largest community of Latinx professionals in tech</p>
      </div>
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img src="/assets/img/summit/benefits/swag.png" data-src="/assets/img/summit/benefits/swag.png" class="lozad" alt="Swag" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Raffle Prizes & Promos</h3>
        <p>Receive unique promos from our partners and win raffle prizes delivered directly to you</p>
      </div>
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img src="/assets/img/summit/benefits/swag.png" data-src="/assets/img/summit/benefits/swag.png" class="lozad" alt="Swag" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Raffle Prizes & Promos</h3>
        <p>Receive unique promos from our partners and win raffle prizes</p>
      </div>
    </div>
  </div>
</section>
