<span class="jump-section" id="benefits"></span>
<section class="section">
  <div class="container is-fluid has-text-centered py-4">
    <h2 class="title">Attendee Benefits 🥳</h2>
    <div class="columns pt-4">
      <!-- Celebrate -->
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img src="/assets/img/summit/benefits/celebrate.png" data-src="/assets/img/summit/benefits/celebrate.png" class="lozad" alt="Celebrate" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Celebrate</h3>
        <p>Let's honor and recognize our achievements during Latinx Heritage Month</p>
      </div>
      <!-- Network -->
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img src="/assets/img/summit/benefits/network.png" data-src="/assets/img/summit/benefits/network.png" class="lozad" alt="Network" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Network</h3>
        <p>Get the chance to connect with the largest community of Latinx in tech</p>
      </div>
      <!-- Learn -->
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img src="/assets/img/summit/benefits/learn.png" data-src="/assets/img/summit/benefits/learn.png" class="lozad" alt="Learn" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Learn</h3>
        <p>Hear the perspectives and advice from over 60 different professionals and leaders in tech</p>
      </div>
      <!-- Win -->
      <div class="column is-3">
        <figure class="image is-100x100 m-auto">
          <img src="/assets/img/summit/benefits/win.png" data-src="/assets/img/summit/benefits/win.png" class="lozad" alt="Win" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">Win</h3>
        <p>Get the chance to win unique promos from our partners and raffle prizes delivered to you</p>
      </div>
    </div>
  </div>
</section>
