<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered">Contact the Pied Piper team</h2>
    <div class="columns">
      <div class="column is-6">
        <h4 class="title is-spaced is-4">Let's talk about the future of the internet</h4>
        <p class="subtitle">We're here to answer your questions and discuss the decentralized future of the internet.</p>
        <div>
          <div class="media">
            <div class="media-left">
              <figure class="image is-24x24"><img src="placeholder/icons/map-marker.svg" alt="" /></figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>Pied Piper HQ - 59 Silicon Av.</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <figure class="image is-24x24"><img src="placeholder/icons/phone.svg" alt="" /></figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>555-333-555</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              📨
            </div>
            <div class="media-content">
              <div class="content">
                <p>partnerships@techqueria.org</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <form>
          <div class="field">
            <div class="control">
              <input class="input" type="email" placeholder="Email" />
            </div>
          </div>
          <div class="field">
            <div class="select is-fullwidth">
              <select
                ><option disabled="" selected="">Select product</option
                ><option>Product 1</option
                ><option>Product 2</option
                ><option>Product 3</option></select
              >
            </div>
          </div>
          <div class="field">
            <div class="control"><textarea class="textarea" rows="5" placeholder="Write something..."></textarea></div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary is-fullwidth" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
