<span class="jump-section" id="faq"></span>
<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered">Frequently Asked Questions 🤔</h2>
    <div class="columns is-multiline mt-4">
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Do I need to RSVP to attend the day of?</h3>
        <p>Yep, you sure do. Make sure to <a href="/summit/rsvp/" rel="noopener" target="_blank">RSVP</a> to get a special link that will allow you to create your profile on Hopin and also receive reminder emails.</p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">What platform is Techqueria using to host the summit?</h3>
        <p>
          We are using
          <a href="https://hopin.to/events/techqueria-latinx-heritage-month-celebration-2020" rel="noopener" target="_blank">Hopin.to</a> which supports a main stage, expo booths, 1:1 networking sessions and panel sessions.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Can I just attend one day or one session?</h3>
        <p>Yes, the event is free to attend so please attend what sessions are most appealing to you! You will still need to RSVP if you want to attend any session though.</p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Is there a Code of Conduct?</h3>
        <p>Yes, please refer to <a href="/coc" rel="noopener" target="_blank">Techqueria's Code of Conduct</a>. You will be booted out of the event if you violate it.</p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">How do I convince my manager to let me attend?</h3>
        <p>Check out <a href="/summit/convince-my-manager/" rel="noopener" target="_blank">this sample copy</a> we've created that you can share with your manager.</p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Will there be swag?</h3>
        <p>But of course! Not everyone will get swag but we'll be definitely be giving a couple of random lucky winners some awesome items that get shipped directly to them.</p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Can I sponsor this event?</h3>
        <p>
          Yes, but we will have limited sponsorship options starting September 12th and will stop taking requests on September 30th. Reach out to us at
          <a href="mailto:partnerships@techqueria.org">partnerships@techqueria.org</a> if interested.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Can I be a speaker?</h3>
        <p>
          We closed our call for speakers starting September 12th so unfortunately, no but please feel free to
          <a href="/speak/">submit your info</a> for consideration for other Techqueria events.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Do speakers receive an honorarium?</h3>
        <p>Yes, of course. We value the time and effort it takes to create engaging content for our attendees to interact with. The honorarium is $100 for panelists and $250 for those who are the sole speaker for their session.</p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">How many attendees will there be?</h3>
        <p>We are expecting over 1,000 RSVPs and at least 300 folks in attendance at any given time.</p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">How can I share this event?</h3>
        <p>
          Check out the
          <a href="https://www.notion.so/techqueria/LHM-Summit-Social-Media-Kit-cc81725c00534f9aaade5997315004b9" target="_blank" rel="noopener">#LHM Summit Social Media Kit</a>
          for images and copy you can use to share the event with friends.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">How do I use Hopin?</h3>
        <p>
          We have a
          <a href="https://www.notion.so/techqueria/LHM-Summit-Attendee-Guide-b267b0c3248b468ebeae2f0f1d391c3b" target="_blank" rel="noopener">guide for attendees</a>
          to maximize their experience at Techqueria's #LHM Summit that includes a
          <a href="https://www.notion.so/techqueria/Hopin-to-Attendee-Guide-62986e2a98884bb29ba1e4b8c72f6139" target="_blank" rel="noopener">guide to using Hopin</a>.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Is there a calendar I can add?</h3>
        <p>
          You can
          <a href="https://calendar.google.com/calendar/u/0/embed?src=c_cbjjd2hl62d60p78gapfi0o13g@group.calendar.google.com&ctz=America/New_York">view the calendar</a>
          of all the sessions happening in #LHM Summit. You can also
          <a href="https://calendar.google.com/calendar/u/1/r?cid=Y19jYmpqZDJobDYyZDYwcDc4Z2FwZmkwbzEzZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t">subscribe to the calendar</a>
          so they all show up in your calendar automatically.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">I still have questions!</h3>
        <p>Reach out to us at <a href="mailto:support@techqueria.org">support@techqueria.org</a> or <a onclick="Beacon('open')">chat with us directly</a> through our website for general questions.</p>
      </div>
    </div>
  </div>
</section>
