<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered">Frequently Asked Questions</h2>
    <div class="columns is-multiline">
      <div class="column is-6 mb-4 px-5">
        <h3 class="title is-4 has-text-weight-medium">How is a decentralized network different from the traditional web?</h3>
        <p>
          Decentralization is a key aspect of PiperNet. Traditionally, to access data on a website, you needed to connect to a single server
          containing that data. This method of storing data makes it easy for third parties to get access to it, corrupt it or even delete it.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="title is-4 has-text-weight-medium">Why shouldn't I just store my data on a Hooli Box?</h3>
        <p>
          That's just the thing - if you store your data in a single place, like Gavin Belsons' poorly-made server box, your data will very
          susceptible to hacking. Whereas on PiperNet, your data is safe with many copies to back it up from.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="title is-4 has-text-weight-medium">What makes PiperNet so safe?</h3>
        <p>
          Our proprietary middle-out compression algorithm allows data to flow so fast that it can't be hacked! But, in all seriousness, the algorithm
          helps but it's the public, immutable ledger that makes it secure. This enables PiperNet users to exchange data without risk of it being
          intercepted by third parties.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="title is-4 has-text-weight-medium">How long does it take to get a company up and running?</h3>
        <p>
          Access to the public network is granted within a day, but moving all your data and integrating your existing software depends on how big
          your company is. Startups can expect to be fully online within a week, enterprises can take up to a month due to large reliance on legacy
          systems and huge datasets.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="title is-4 has-text-weight-medium">Why shouldn't I just store my data on a Hooli Box?</h3>
        <p>
          That's just the thing - if you store your data in a single place, like Gavin Belsons' poorly-made server box, your data will very
          susceptible to hacking. Whereas on PiperNet, your data is safe with many copies to back it up from.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="title is-4 has-text-weight-medium">How many partners or sponsors do you intend to have?</h3>
        <p>
          No more than 20 community partners and/or corporate sponsors that are a mix of both. We will most likely stop taking corporate sponsor
          requests in early September.
        </p>
      </div>
    </div>
  </div>
</section>
