<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered">Frequently Asked Questions</h2>
    <div class="columns is-multiline">
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">What platform is Techqueria using to host the summit?</h3>
        <p>
          <a href="https://hopin.to" rel="noopener" target="_blank">Hopin.to</a> which supports a main stage, expo booths, 1:1 networking sessions and
          group sessions.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Can I just attend one day or one session?</h3>
        <p>
          Yes, the event is free to attend so please attend what sessions are most appealing to you! You will still need to RSVP if you want to attend
          any session though.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Is there a Code of Conduct?</h3>
        <p>
          Yes, please refer to <a href="/coc" rel="noopener" target="_blank">Techqueria's Code of Conduct</a>. You will be booted out of the event if
          you violate it.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">How do I convince my manager to let me attend?</h3>
        <p>
          Check out <a href="/summit/convince-my-manager/" rel="noopener" target="_blank">this sample copy</a> we've created that you can share with
          your manager.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Will there be swag?</h3>
        <p>
          But of course! Not everyone will get swag but we'll be definitely be giving a couple of random lucky winners some awesome items that get
          shipped directly to them.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Is there a deadline to partner?</h3>
        <p>
          We will most likely stop taking corporate sponsor requests in early September.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">Do speakers receive an honorarium?</h3>
        <p>
          Yes, of course. We value the time and effort it takes to create engaging content for our attendees to interact with. The honorarium is $100
          for panelists and $250 for those who are the sole speaker for their session.
        </p>
      </div>
      <div class="column is-6 mb-4 px-5">
        <h3 class="has-text-weight-medium">How many attendees will there be?</h3>
        <p>
          We are expecting over 1,000 RSVPs and at least 300 folks in attendance at any given time.
        </p>
      </div>
      <div class="column is-full mb-4 px-5">
        <h3 class="has-text-weight-medium">I still have questions!</h3>
        <p>
          Reach out to us at <a href="mailto:support@techqueria.org">support@techqueria.org</a> or
          <a onclick="Beacon('open')">chat with us directly</a> through our website for general questions. If you're interested in sponsoring or
          partnering on the event, email us at <a href="mailto:partnerships@techqueria.org">partnerships@techqueria.org</a>.
        </p>
      </div>
    </div>
  </div>
</section>
