<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered">Techqueria Virtual Event Photos</h2>
    <div class="columns is-multiline">
      <div class="column is-4">
        <figure class="image is-5by4">
          <img src="/assets/img/summit/events/zoom-1.jpeg" width="300" alt="" />
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-5by4">
          <img src="/assets/img/summit/events/zoom-2.jpeg" width="300" alt="" />
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-5by4">
          <img src="/assets/img/summit/events/zoom-3.jpeg" width="300" alt="" />
        </figure>
      </div>
    </div>
  </div>
</section>
