<section class="section section-gallery mt-2">
  <div class="container py-4">
    <h2 class="title has-text-centered">
      Check out some of Techqueria's recent virtual events! 🌐
    </h2>
    <br />
    <div class="columns is-multiline">
      <div class="column is-4">
        <figure class="image is-5by4">
          <a
            href="https://events.techqueria.org/events/details/techqueria-virtual-events-presents-uncharted-territories-on-being-the-first-in-tech/#/"
            target="_blank"
            rel="noopener"
            ><img
              src="/assets/img/summit/events/zoom-1.jpeg"
              data-src="/assets/img/summit/events/zoom-1.jpeg"
              class="lozad border-radius-4"
              width="300"
              alt="Uncharted Territories in Tech with Lyft"
          /></a>
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-5by4">
          <a
            href="https://events.techqueria.org/events/details/techqueria-virtual-events-presents-stories-from-latinas-in-engineering-with-keeptruckin/#/"
            target="_blank"
            rel="noopener"
            ><img
              src="/assets/img/summit/events/zoom-2.jpeg"
              data-src="/assets/img/summit/events/zoom-2.jpeg"
              class="lozad border-radius-4"
              width="300"
              alt="Stories from Latinas in Engineering with KeepTruckin"
          /></a>
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-5by4">
          <a
            href="https://events.techqueria.org/events/details/techqueria-virtual-events-presents-pride-month-event-with-blend-intersecting-identities-in-tech/"
            target="_blank"
            rel="noopener"
            ><img
              src="/assets/img/summit/events/zoom-3.jpeg"
              data-src="/assets/img/summit/events/zoom-3.jpeg"
              class="lozad border-radius-4"
              width="300"
              alt="Pride Month Event with Blend"
          /></a>
        </figure>
      </div>
      <div class="column is-full is-hidden-mobile">
        <figure class="image">
          <a href="https://events.techqueria.org/virtual-events" target="_blank" rel="noopener"
            ><img
              src="/assets/img/summit/events/virtual.jpeg"
              data-src="/assets/img/summit/events/virtual.jpeg"
              class="lozad border-radius-4"
              alt="Techqueria Virtual Events"
          /></a>
        </figure>
      </div>
    </div>
  </div>
</section>
