<section class="hero v--dark-text">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6">
          <h1 class="title is-spaced">#LHM Summit</h1>
          <p class="has-text-weight-medium">Wednesday October 5th to Friday October 7th</p>
          <br />
          <p>
            Techqueria's #LHM Summit is a free virtual conference during Latinx Heritage Month created to empower Latinx professionals in tech,
            connect them with companies who are committed to inclusion and to celebrate the thriving Latinx in tech community.
          </p>
          <br />
          <a class="button is-primary is-medium" href="/rsvp" rel="noopener" target="_blank">RSVP</a>
        </div>
        <div class="column is-6">
          <video autoplay loop muted playsinline poster="/assets/img/summit/hero/lhm-summit.png">
            <source src="/assets/img/summit/hero/lhm-summit.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
