<section class="hero v--dark-text">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-multiline">
        <div class="column is-full-tablet is-half-desktop">
          <h1 class="title is-spaced">#LHM Summit</h1>
          <p class="has-text-weight-medium">Wednesday October 7th to Friday October 9th</p>
          <br />
          <p>
            Techqueria's #LHM Summit is a free virtual conference during Latinx Heritage Month (LHM) created to empower Latinx professionals in tech,
            connect them with companies who are committed to inclusion and to celebrate the thriving Latinx in tech community.
          </p>
          <br />
          <a class="button is-primary" href="/summit/rsvp" rel="noopener" target="_blank">RSVP</a>
          <a class="button is-primary is-outlined" href="https://airtable.com/shrNQPLbAxFHUqxE6" rel="noopener" target="_blank">Apply to Speak</a>
          <!-- <a
            class="button is-info is-outlined"
            href="https://hopin.to/events/techqueria-latinx-heritage-month-celebration-2020"
            rel="noopener"
            target="_blank"
            >Join Event</a
          > -->
        </div>
        <div class="column is-full-tablet is-half-desktop">
          <a href="/summit/rsvp" rel="noopener" target="_blank">
            <video autoplay loop muted playsinline poster="/assets/img/summit/lhm-summit-square.png" class="border-radius-4 very-light-image-shadow">
              <source src="/assets/img/summit/lhm-summit-square.mp4" type="video/mp4" />
            </video>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
