<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand is-active">
      <a class="navbar-item" href="#">Techqueria's #LHM Summit 2020</a>
      <a class="navbar-burger burger" role="button" aria-label="summit menu" aria-expanded="false" data-target="summitMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="summitMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#benefits">Benefits</a>
        <a class="navbar-item" href="#speakers">Speakers</a>
        <a class="navbar-item" href="#schedule">Schedule</a>
        <a class="navbar-item" href="#sponsors">Sponsors</a>
        <a class="navbar-item" href="#prizes">Prizes</a>
        <a class="navbar-item" href="#faq">FAQ</a>
      </div>
      <!-- <div>
        <div class="navbar-item"><a class="button is-warning is-outlined" href="/summit/rsvp" target="_blank" rel="noopener">RSVP</a></div>
      </div> -->
    </div>
  </div>
</nav>
