<section class="section">
  <div class="container">
    <h2 class="title is-spaced">Event Recap 🌮</h2>
    <p>
      Our mission for #LHM was to increase the visibility and leadership of Latinx professionals in tech by bringing
      them all
      together in one place to engage with thought
      leaders, network and ultimately grow and learn from each other.
    </p>
    <br />
    <p>
      We feel the event met our mission goals and
      exceeded all our expectations!
    </p>
    <div class="columns">
      <div class="column is-half">
        <p>
          <ul>
            <li><strong>RSVPs</strong>: 1,836</li>
            <li><strong>Hopin Registrations</strong>: 1,638</li>
            <li><strong>Attendee Turnout</strong>: 1,480</li>
            <li><strong>Session Visitors</strong>: 1,155</li>
            <li><strong>Stage Visitors</strong>: 1,045</li>
            <li><strong>Expo Visitors</strong>: 765</li>
            <li><strong>Networking Visitors</strong>: 699</li>
            <li><strong>Networking Connections Made</strong>: 636</li>
            <li><strong>Total Messages in Chat</strong>: 954</li>
          </ul>
        </p>
      </div>
      <div class="column is-half">
        <p>
          <ul>
            <li><strong>Average User Rating</strong>: 9.14/10</li>
            <li><strong>Average Time Spent Per Attendee</strong>: 7.3 hours</li>
            <li><strong>Raffle Prize Entries</strong>: 214</li>
            <li><strong>Raffle Prizes Total Value</strong>: $6,110</li>
            <li><strong>Speakers</strong>: 91</li>
            <li><strong>Sessions</strong>: 33</li>
            <li><strong>Volunteers</strong>: 12</li>
            <li><strong>Sponsors</strong>: 9</li>
            <li><strong>Performances</strong>: 6</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
