<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 has-text-centered">
        <img src="/assets/img/_logos/logo-square-shadow.png" width="300" />
      </div>
      <div class="column is-6">
        <h2 class="title is-spaced">Mission</h2>
        <p>
          Increase the visibility and leadership of Latinx professionals in tech by bringing them all together in one place to engage with thought
          leaders, network and ultimately grow and learn from each other
        </p>
      </div>
    </div>
  </div>
</section>
