<span class="jump-section" id="performers"></span>
<section class="section section-performers">
  <div class="container is-fluid has-text-centered py-4">
    <h2 class="title">Performers 🎤</h2>
    <div class="columns is-centered is-multiline py-5 mt-1">
      {{ range $.Site.Data.performers }}
      <div class="column is-full-mobile is-one-third-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd mt-2">
        <div class="level">
          <div class="level-item">
            <a href="{{ .link }}" target="_blank" rel="noopener">
            <figure class="image is-200x200">
              <img class="is-rounded lozad" src="{{ .image }}" data-src="{{ .image }}" alt="{{ .name }}" />
            </figure>
          </a>
          </div>
        </div>
        <h5 class="title is-5">
          {{ .name }}
        </h5>
        <p class="subtitle is-6">
          {{ .description }}
        </p>
      </div>
      {{end}}
    </div>
</section>
