<section class="section pt-4">
  <div class="container">
    <div class="columns is-vcentered is-multiline">
      <div class="column is-full-tablet is-two-fifths-desktop">
        <h2 class="title is-1 is-spaced">Hosted on<br />Hopin.to 💻</h2>
        <p class="subtitle has-text-weight-medium">
          We'll be using
          <a href="https://hopin.to/events/techqueria-latinx-heritage-month-celebration-2020" target="_blank" rel="noopener">Hopin.to</a> to host #LHM
          Summit which comes packed with a lot of great features!
        </p>
        <ul class="is-size-6">
          <li>Join hands-on sessions</li>
          <li>Visit expo booths</li>
          <li>Network 1-on-1</li>
        </ul>
      </div>
      <div class="column is-full-tablet is-three-fifths-desktop">
        <a href="https://hopin.to/events/techqueria-latinx-heritage-month-celebration-2020" target="_blank" rel="noopener">
          <video autoplay loop muted playsinline poster="/assets/img/summit/platform/hopin.png" class="very-light-image-shadow border-radius-4">
            <source src="/assets/img/summit/platform/hopin.mp4" type="video/mp4" />
          </video>
        </a>
      </div>
    </div>
  </div>
</section>
