<section class="section">
  <div class="container is-fluid has-text-centered py-4">
    <h2 class="title">Promos & Raffle Prizes</h2>
    <div class="columns is-multiline pt-4">
      <!-- Springboard -->
      <div class="column is-full-mobile is-half-third is-one-fifth-desktop">
        <figure class="image is-200x100 m-auto">
          <img src="/assets/img/summit/promos/springboard.png" data-src="/assets/img/summit/promos/springboard.png" class="lozad" alt="" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">
          <a href="https://mentor.springboard.com/techqueria/" target="_blank" rel="noopener">Springboard Scholarship</a>
        </h3>
        <p>
          Springboard, an online school on a mission to bridge the skills and diversity gap in tech.
        </p>
        <br />
        <p>$750 scholarship for their online bootcamps using the code: TECHQUERIA750.</p>
      </div>
    </div>
  </div>
</section>
