<span class="jump-section" id="prizes"></span>
<section class="section mt-2">
  <div class="container is-fluid has-text-centered py-4">
    <h2 class="title">Raffle Prizes 🎁</h2>
    <div class="columns is-multiline pt-4">
      <!-- Headspace -->
      <div class="column is-full-mobile is-half-third is-one-quarter-desktop">
        <figure class="m-auto">
          <img src="/assets/img/summit/promos/headspace.png" data-src="/assets/img/summit/promos/headspace.png" class="lozad" alt="" height="200" />
        </figure>
        <br />
        <h3 class="has-text-weight-medium"><a href="https://www.headspace.com/" target="_blank" rel="noopener">Headspace Subscriptions</a></h3>
        <p>
          Live a healthier, happier, more well-rested life in just a few minutes a day with the Headspace app.
        </p>
        <br />
        <p>2 subscriptions available, $95 value each.</p>
      </div>
      <!-- Coffee Shift -->
      <div class="column is-full-mobile is-half-third is-one-quarter-desktop">
        <figure class="image is-100x100 m-auto">
          <img
            src="/assets/img/summit/promos/coffee-shift.jpg"
            data-src="/assets/img/summit/promos/coffee-shift.jpg"
            class="lozad"
            alt=""
            height="200"
          />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">
          <a href="https://coffeeshift.com/pages/startup-edition" target="_blank" rel="noopener">Coffee Shift Connoisseur Kits</a>
        </h3>
        <p>
          Coffee Shift is co-owned by the participating growers and was created to share greater benefit with the very farmers who produce our coffee-
          coffee that is more fair than fair trade.
        </p>
        <br />
        <p>4 kits available, $30 value each.</p>
      </div>
      <!-- General Assembly -->
      <div class="column is-full-mobile is-half-third is-one-quarter-desktop">
        <figure class="m-auto">
          <img
            src="/assets/img/summit/promos/general-assembly.png"
            data-src="/assets/img/summit/promos/general-assembly.png"
            class="lozad"
            alt=""
            height="200"
          />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">
          <a href="https://generalassemb.ly/" target="_blank" rel="noopener">General Assembly<br />Scholarships & Gift Cards</a>
        </h3>
        <p>
          Master new skills in design, marketing, technology, and data — online or at GA's campuses around the world.
        </p>
        <br />
        <p>12-Week On Demand Course — 5 scholarships available, $850 value each.</p>
        <br />
        <p>Workshop Gift Card - 5 gift cards, $250 value each.</p>
      </div>
      <!-- Interviewing.io -->
      <div class="column is-full-mobile is-half-third is-one-quarter-desktop">
        <figure class="m-auto">
          <img
            src="/assets/img/summit/promos/interviewing-io.png"
            data-src="/assets/img/summit/promos/interviewing-io.png"
            class="lozad"
            alt=""
            height="200"
          />
        </figure>
        <br />
        <h3 class="has-text-weight-medium">
          <a href="https://interviewing.io/" target="_blank" rel="noopener">Interviewing.io Practice Interviews</a>
        </h3>
        <p>Practice interviewing with engineers from Google, Facebook, and more... anonymously.</p>
        <br />
        <p>3 interviews available, $100 value each.</p>
      </div>
    </div>
  </div>
  <!-- Enter Raffle -->
  <div class="buttons u-justify-content--centered mt-3">
    <a
      class="button is-primary is-large is-outlined"
      href="https://gleam.io/EDNT1/lhm-summit-promo-raffle-prize-contest"
      rel="noopener"
      target="_blank"
      >🎲 Enter raffle 🎲</a
    >
  </div>
</section>
