<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <video autoplay loop muted playsinline poster="/assets/img/summit/rsvp/rsvp.png">
          <source src="/assets/img/summit/rsvp/rsvp.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="column is-6 has-text-centered">
        <h2 class="title is-1 is-spaced">Free to attend</h2>
        <p class="subtitle has-text-weight-light">
          While this event's primary audience is Latinx professionals in tech, allies are welcome to attend as well.
        </p>
        <a class="button is-primary" href="/rsvp">RSVP</a>
        <a class="button is-primary is-outlined" href="/speak">Apply to Speak</a>
      </div>
    </div>
  </div>
</section>
