<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <video autoplay loop muted playsinline poster="/assets/img/summit/rsvp/rsvp.png">
          <source src="/assets/img/summit/rsvp/rsvp.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="column is-6">
        <h2 class="title is-1 is-spaced">Free to attend 🎟</h2>
        <p class="subtitle has-text-weight-light">
          While this event's primary audience is Latinx professionals in tech, allies are welcome to attend as well.
        </p>
        <div class="buttons">
          <a class="button is-primary" href="/summit/rsvp" rel="noopener" target="_blank">RSVP</a>
          <a
            class="button is-success is-outlined"
            href="https://www.notion.so/techqueriaorg/LHM-Summit-Social-Media-Kit-cc81725c00534f9aaade5997315004b9"
            rel="noopener"
            target="_blank"
            >Share with friends</a
          >
          <a
            class="button is-info is-outlined"
            href="https://hopin.to/events/techqueria-latinx-heritage-month-celebration-2020"
            rel="noopener"
            target="_blank"
            >Join event</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
