<span class="jump-section"></span>
<section class="section" id="schedule">
  <div class="container py-4">
    <div class="has-text-centered mb-2">
      <h2 class="title ">Schedule</h2>
      <p>11 AM to 3 PM ET // 4 PM to 8 PM CT // 2 PM to 6 PM PT</p>
    </div>
    <div class="columns">
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="/assets/img/summit/schedule/day-1.png" alt="Day 1 - LHM Summit" />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h2 class="title is-1 mb-0">Day 1</h2>
              <p>Wednesday, October 5th</p>
            </div>
          </div>
        </div>
        <h4 class="title is-4 has-text-weight-medium mb-0">Keynote</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 1</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 2</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 3</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 4</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 5</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 6</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
      </div>
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="/assets/img/summit/schedule/day-2.png" alt="Day 2 - LHM Summit" />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h2 class="title is-1 mb-0">Day 2</h2>
              <p>Thursday, October 6th</p>
            </div>
          </div>
        </div>
        <h4 class="title is-4 has-text-weight-medium mb-0">Keynote</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 1</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 2</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 3</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 4</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 5</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 6</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
      </div>
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="/assets/img/summit/schedule/day-3.png" alt="Day 3 - LHM Summit" />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h2 class="title is-1 mb-0">Day 3</h2>
              <p>Friday, October 7th</p>
            </div>
          </div>
        </div>
        <h4 class="title is-4 has-text-weight-medium mb-0">Keynote</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 1</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 2</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 3</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 4</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 5</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Session 6</h4>
        <p>TBA</p>
        <h4 class="title is-4 has-text-weight-medium mb-0 mt-1">Networking</h4>
        <p>TBA</p>
      </div>
    </div>
  </div>
</section>
