<span class="jump-section" id="schedule"></span>
<section class="section">
  <div class="container is-fluid py-4">
    <div class="has-text-centered mb-2">
      <h2 class="title ">Schedule</h2>
      <p><span class="has-text-weight-medium">Before Hours Networking & Expo</span> 9 AM to 11 AM PT // 11 AM to 1 PM CT // 12 PM to 2 PM ET</p>
      <p><span class="has-text-weight-medium">Keynotes & Sessions</span> 11 AM to 3 PM PT // 1 PM to 5 PM CT // 2 PM to 6 PM ET</p>
      <p>
        <span class="has-text-weight-medium">After Hours Networking & Expo</span> 3:30 PM to 5 PM PT // 5:30 PM CT to 7 PM CT // 6:30 PM PT to 8 PM ET
      </p>
    </div>
    <div class="columns is-multiline">
      <!-- Day 1 -->
      {{ partial "summit/schedule/day-1" . }}

      <!-- Day 2 -->
      {{ partial "summit/schedule/day-2" . }}

      <!-- Day 3 -->
      {{ partial "summit/schedule/day-3" . }}

    </div>
  </div>
</section>
