<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <h2 class="title is-1 is-spaced">Join us on Slack 👥</h2>
        <p class="subtitle has-text-weight-light">
          If you're part of Techqueria's Slack community, you can join us in
          <code>#meta-conference</code> where you can receive updates and ask us any questions.
        </p>
        <div class="buttons">
          <!-- <a class="button is-primary" href="/summit/rsvp" rel="noopener" target="_blank">RSVP</a> -->
          <a class="button is-link is-light" href="/slack" rel="noopener" target="_blank">Join us on Slack</a>
        </div>
      </div>
      <div class="column is-6">
        <img src="/assets/img/join/events-v2.png" data-src="/assets/img/join/events-v2.png" class="lozad border-radius-4" alt="Slack Community" />
      </div>
    </div>
  </div>
</section>
