<span class="jump-section" id="speakers"></span>
<section class="section">
  <div class="container is-fluid has-text-centered py-4">
    <h2 class="title">Speakers</h2>
    <p>Featuring 70+ Latinx professionals and leaders in tech</p>
    <div class="columns is-centered is-multiline py-5 pt-3">
      {{ range sort $.Site.Data.speakers ".name" }}
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <figure class="image is-200x200">
              <img class="is-rounded lozad" src="{{ .image }}" data-src="{{ .image }}" alt="{{ .name }}" />
            </figure>
          </div>
        </div>
        <h5 class="title is-5">{{ .name }}</h5>
        <p class="subtitle is-6">{{ .title }}, {{ .organization }}</p>
        <div class="buttons is-centered pb-1">
          {{ if .twitter }}
          <a class="button" href="{{ .twitter }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          {{ end }}
          {{ if .linkedin }}
          <a class="button" href="{{ .linkedin }}" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
          {{ end }}
        </div>
      </div>
      {{end}}
    </div>
</section>
