<span class="jump-section" id="speakers"></span>
<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title">Speakers</h2>
    <p>Leading Latinx professionals in tech</p>
    <br>
    <div class="columns is-centered is-multiline py-5">
      <!-- Frances Coronel -->
      <div class="column is-6 is-3-widescreen">
        <div class="level">
          <div class="level-item">
            <figure class="image is-200x200">
              <img class="is-rounded" src="/assets/img/summit/team/frances-coronel.jpg" alt="Frances Coronel" />
            </figure>
          </div>
        </div>
        <h5 class="title is-5">Frances Coronel</h5>
        <p class="subtitle is-6">Executive Director, Techqueria</p>
        <div class="buttons is-centered">
          <a class="button" href="https://twitter.com/fvcproductions" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          <a class="button" href="https://linkedin.com/in/fvcproductions" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <!-- TBD -->
      <div class="column is-6 is-3-widescreen">
        <div class="level">
          <div class="level-item">
            <figure class="image is-200x200">
              <img class="is-rounded" src="/assets/img/summit/speakers/blank-speaker.png" alt="" />
            </figure>
          </div>
        </div>
        <h5 class="title is-5">TBD</h5>
        <p class="subtitle is-6">TBD</p>
      </div>
      <!-- TBD -->
      <div class="column is-6 is-3-widescreen">
        <div class="level">
          <div class="level-item">
            <figure class="image is-200x200">
              <img class="is-rounded" src="/assets/img/summit/speakers/blank-speaker.png" alt="" />
            </figure>
          </div>
        </div>
        <h5 class="title is-5">TBD</h5>
        <p class="subtitle is-6">TBD</p>
      </div>
      <!-- TBD -->
      <div class="column is-6 is-3-widescreen">
        <div class="level">
          <div class="level-item">
            <figure class="image is-200x200">
              <img class="is-rounded" src="/assets/img/summit/speakers/blank-speaker.png" alt="" />
            </figure>
          </div>
        </div>
        <h5 class="title is-5">TBD</h5>
        <p class="subtitle is-6">TBD</p>
      </div>
  </div>
</section>
