<span class="jump-section" id="sponsors"></span>
<section class="section">
  <div class="container is-fluid has-text-centered">
    <h2 class="title">Sponsors & Partners 💙</h2>
    <div class="sponsors-logo-wall">
      <!-- Adobe -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://adobe.com/careers" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/adobe.png" data-src="/assets/img/summit/sponsors/adobe.png" class="lozad" alt="Adobe" />
        </a>
      </div>
      <!-- Blend -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://blend.com/careers" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/blend.png" data-src="/assets/img/summit/sponsors/blend.png" class="lozad" alt="Blend" />
        </a>
      </div>
      <!-- Dreamers in Tech -->
      <div class="sponsors-logo-wall--sponsor">
        <a
          class="sponsors-logo-wall--sponsor--item"
          href="https://techqueria.org/news/2020/07/13/dreamers-in-tech-is-joining-the-techqueria-family/"
          target="_blank"
          rel="noopener"
        >
          <img
            src="/assets/img/summit/sponsors/dreamers-in-tech.png"
            data-src="/assets/img/summit/sponsors/dreamers-in-tech.png"
            class="lozad"
            alt="Dreamers in Tech"
          />
        </a>
      </div>
      <!-- General Assembly -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://generalassemb.ly/" target="_blank" rel="noopener">
          <img
            src="/assets/img/summit/sponsors/general-assembly.png"
            data-src="/assets/img/summit/sponsors/general-assembly.png"
            class="lozad"
            alt="General Assembly"
          />
        </a>
      </div>
      <!-- JP Morgan & Chase -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://careers.jpmorgan.com/us/en/home" target="_blank" rel="noopener">
          <img
            src="/assets/img/summit/sponsors/jp-morgan-chase.png"
            data-src="/assets/img/summit/sponsors/jp-morgan-chase.png"
            class="lozad"
            alt="JP Morgan & Chase"
          />
        </a>
      </div>
      <!-- Netflix -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://jobs.netflix.com/" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/netflix.png" data-src="/assets/img/summit/sponsors/netflix.png" class="lozad" alt="Netflix" />
        </a>
      </div>
      <!-- Northeastern University -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://align.khoury.northeastern.edu/" target="_blank" rel="noopener">
          <img
            src="/assets/img/summit/sponsors/northeastern-university.png"
            data-src="/assets/img/summit/sponsors/northeastern-university.png"
            class="lozad"
            alt="Northeastern University"
          />
        </a>
      </div>
      <!-- Outco -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://www.outco.io/techqueria" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/outco.png" data-src="/assets/img/summit/sponsors/outco.png" class="lozad" alt="Outco" />
        </a>
      </div>
      <!-- Scribd -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://scribd.com/careers" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/scribd.png" data-src="/assets/img/summit/sponsors/scribd.png" class="lozad" alt="Scribd" />
        </a>
      </div>
      <!-- Twilio -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="hhttps://www.twilio.com/company/jobs" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/twilio.png" data-src="/assets/img/summit/sponsors/twilio.png" class="lozad" alt="Twilio" />
        </a>
      </div>
      <!-- Zendesk -->
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://jobs.zendesk.com/us/en/" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/zendesk.png" data-src="/assets/img/summit/sponsors/zendesk.png" class="lozad" alt="Zendesk" />
        </a>
      </div>
    </div>
  </div>
</section>
