<span class="jump-section" id="sponsors"></span>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Sponsors & Partners</h2>
    <div class="sponsors-logo-wall">
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://adobe.com/careers" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/adobe.png" data-src="/assets/img/summit/sponsors/adobe.png" class="lozad" alt="Adobe" />
        </a>
      </div>
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://asana.com/careers" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/asana.png" data-src="/assets/img/summit/sponsors/asana.png" class="lozad" alt="Asana" />
        </a>
      </div>
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://blend.com/careers" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/blend.png" data-src="/assets/img/summit/sponsors/blend.png" class="lozad" alt="Blend" />
        </a>
      </div>
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://scribd.com/careers" target="_blank" rel="noopener">
          <img src="/assets/img/summit/sponsors/scribd.png" data-src="/assets/img/summit/sponsors/scribd.png" class="lozad" alt="Scribd" />
        </a>
      </div>
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://homedepot.com/careers" target="_blank" rel="noopener">
          <img
            src="/assets/img/summit/sponsors/home-depot.png"
            data-src="/assets/img/summit/sponsors/home-depot.png"
            class="lozad"
            alt="The Home Depot"
          />
        </a>
      </div>
    </div>
  </div>
</section>
