<section class="section">
  <div class="container py-4">
    <div class="columns is-vcentered is-multiline">
      <div class="column is-full-tablet is-two-fifths-desktop">
        <h2 class="title">Sponsorship Benefits</h2>
        <p>
          Sponsorship is priced at $4K. Benefits include access to resume database, expo booth and brand visibility.
          <br /><br />
          Sponsorship priced at $5K with speaker invite is no longer available starting September 12.
        </p>
        <br />
        <div class="buttons">
          <a class="button is-primary" href="https://www.notion.so/techqueriaorg/Sponsorships-6ebf816a7e81492796c44890f1801f1f" rel="noopener"
            >Learn more</a
          >
          <a class="button is-primary is-outlined" href="mailto:partnerships@techqueria.org" rel="noopener">Email us</a>
        </div>
      </div>
      <div class="column is-full-tablet is-three-fifths-desktop">
        <div class="media">
          <div class="media-left">
            <div class="number has-background-primary">1</div>
          </div>
          <div class="media-content">
            <div class="content">
              <h3 class="has-text-weight-medium">Resume Database</h3>
              <p>
                Tap into the largest community of Latinx in Tech professionals and reach out to summit attendees interested in new job opportunities.
                Techqueria's community and
                <a href="https://www.notion.so/techqueriaorg/Member-Growth-724da69588254b3094730cebb944937b" rel="noopener" target="_blank"
                  >member growth</a
                >
                is unmatched.
              </p>
            </div>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <div class="number has-background-primary">2</div>
          </div>
          <div class="media-content">
            <div class="content">
              <h3 class="has-text-weight-medium">Expo Booth</h3>
              <p>
                Showcase your company with either pre-recorded videos or a live video stream session through the expo booth. Customizable lead
                generation feature built-in for capturing attendee interest.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="media">
          <div class="media-left">
            <div class="number has-background-primary">3</div>
          </div>
          <div class="media-content">
            <div class="content">
              <h3 class="has-text-weight-medium">Speaker Invite</h3>
              <p>
                Invite for a Latinx speaker from your company to speak in a session that can be curated by Techqueria or the sponsor.
              </p>
            </div>
          </div>
        </div> -->
        <div class="media">
          <div class="media-left">
            <div class="number has-background-primary">3</div>
          </div>
          <div class="media-content">
            <div class="content">
              <h3 class="has-text-weight-medium">Brand Visibility</h3>
              <p>
                Sponsor logo will be hyperlinked on the event website, event platform and in emails. Custom social media assets provided.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
