<span class="jump-section"></span>
<section class="section" id="sponsors">
  <div class="container has-text-centered">
    <h2 class="title">Sponsors & Partners</h2>
    <div class="sponsors-logo-wall">
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://adobe.com/careers" target="_blank" rel="noopener">
          <img src="https://s3.amazonaws.com/quiin/sponsors/logos/000/048/215/original/Adobe-Logo.png?1596480406" alt="Adobe" />
        </a>
      </div>
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://asana.com/careers" target="_blank" rel="noopener">
          <img src="https://s3.amazonaws.com/quiin/sponsors/logos/000/050/007/original/small_logo.png?1596684141" alt="Asana" />
        </a>
      </div>
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://blend.com/careers" target="_blank" rel="noopener">
          <img src="https://s3.amazonaws.com/quiin/sponsors/logos/000/050/006/original/blend-logo-primary-h.png?1596684107" alt="Blend" />
        </a>
      </div>
      <div class="sponsors-logo-wall--sponsor">
        <a class="sponsors-logo-wall--sponsor--item" href="https://homedepot.com/careers" target="_blank" rel="noopener">
          <img src="https://s3.amazonaws.com/quiin/sponsors/logos/000/050/008/original/Home-Depot-Logo_%281%29.png?1596684192" alt="Home Depot" />
        </a>
      </div>
    </div>
  </div>
</section>
