<div class="container is-fluid">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-6">
            <h1 class="title is-spaced">The New Internet</h1>
            <p class="subtitle">We've built a decentralized internet where information is totally free in every sense of the word.</p>
            <form>
              <div class="field has-addons">
                <div class="control">
                  <input class="input" type="text" placeholder="Your e-mail" />
                </div>
                <div class="control">
                  <button class="button is-primary">Submit</button>
                </div>
              </div>
              <div class="field"></div>
              <div class="control">
                <label class="checkbox">
                  <div class="control">
                    <input type="checkbox" required="required" />
                    &nbsp; I agree to <a href="#">terms and conditions</a>.
                  </div>
                </label>
              </div>
            </form>
          </div>
          <div class="column is-6"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6">
          <h2 class="title is-spaced">The New Internet</h2>
          <p class="subtitle">
            Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the
            whole world decentralized.
          </p>
        </div>
        <div class="column is-6">
          <iframe src="https://www.youtube.com/embed/OtDxDvCpPL4" width="600" height="338" style="height: 338px" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered py-4">
      <h2 class="title mb-6">Some of our awesome features</h2>
      <div class="columns pt-4 mb-6">
        <div class="column is-4">
          <div class="block"><span class="number has-background-primary" style="margin-right: 0;">1</span></div>
          <h3 class="title">Security</h3>
          <p>Your data is virtually unhackable compared to traditional net</p>
        </div>
        <div class="column is-4">
          <div class="block"><span class="number has-background-primary" style="margin-right: 0;">2</span></div>
          <h3 class="title">Privacy</h3>
          <p>Nobody is tracking you when your activity when you use Piper Net</p>
        </div>
        <div class="column is-4">
          <div class="block"><span class="number has-background-primary" style="margin-right: 0;">3</span></div>
          <h3 class="title">Speed</h3>
          <p>Previously unimaginable transfer speed thanks to middle-out compression</p>
        </div>
      </div>
      <div class="buttons is-centered"><a class="button is-primary" href="#">Read more</a></div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered py-4">
      <h2 class="title">The Pipers</h2>
      <p class="subtitle mb-6">We are the guys that made this whole thing possible</p>
      <div class="columns is-centered is-multiline py-5">
        <div class="column is-6 is-3-widescreen mb-6">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Richard Hendricks</h5>
          <p class="subtitle is-6">CEO</p>
          <div class="buttons is-centered">
            <a class="button" href="#"><img src="placeholder/icons/twitter.svg" alt="" /></a
            ><a class="button" href="#"><img src="placeholder/icons/facebook-f.svg" alt="" /></a
            ><a class="button" href="#"><img src="placeholder/icons/instagram.svg" alt="" /></a
            ><a class="button" href="#"><img src="placeholder/icons/linkedin-in.svg" alt="" /></a>
          </div>
        </div>
        <div class="column is-6 is-3-widescreen mb-6">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Jared Dunn</h5>
          <p class="subtitle is-6">COO</p>
        </div>
        <div class="column is-6 is-3-widescreen mb-6">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Monica Hall</h5>
          <p class="subtitle is-6">CFO</p>
        </div>
        <div class="column is-6 is-3-widescreen mb-6">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Erlich Bachman</h5>
          <p class="subtitle is-6">Marketing Manager</p>
        </div>
        <div class="column is-6 is-3-widescreen mb-6">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Bertram Gilfoyle</h5>
          <p class="subtitle is-6">Chief Systems Architect</p>
        </div>
        <div class="column is-6 is-3-widescreen mb-6">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Dinesh Chugtai</h5>
          <p class="subtitle is-6">Senior Programmer</p>
        </div>
        <div class="column is-6 is-3-widescreen mb-6">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Nelson Bighetti</h5>
          <p class="subtitle is-6">Majority Investor</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered py-4">
      <h2 class="title">The Pipers</h2>
      <p class="subtitle mb-6">We are the guys that made this whole thing possible</p>
      <div class="columns">
        <div class="column is-4">
          <div class="card">
            <div class="card-image"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></div>
            <div class="card-content">
              <h5 class="title is-5">Richard Hendricks</h5>
              <h6 class="subtitle">CEO</h6>
              <p>
                When I'm not obsessively stressing about the fate of Pied Piper, I sometimes give lectures to school kids. Spend most of my time
                coding.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></div>
            <div class="card-content">
              <h5 class="title is-5">Dinesh Chugtai</h5>
              <h6 class="subtitle">CTO</h6>
              <p>
                I am the absolute best programmer at Pied Piper (especially better than Gilfoyle). My genius shines and guides the Pied Piper team.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></div>
            <div class="card-content">
              <h5 class="title is-5">Bertram Gilfoyle</h5>
              <h6 class="subtitle">Chief Systems Architect</h6>
              <p>
                I work on Pied Piper only for the advanced technology. I don't really like most people I work with, but they need me to put out their
                fires...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container py-4">
      <h2 class="title has-text-centered mb-6">PiperNet Setup</h2>
      <div class="columns mb-6">
        <div class="column">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64"><img src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2" alt="" /></figure>
            </div>
            <div class="media-content">
              <div class="content">
                <h2 class="title is-1">1</h2>
              </div>
            </div>
          </div>
          <h4 class="title is-4">Move Data</h4>
          <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag & drop.</p>
        </div>
        <div class="column">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64"><img src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2" alt="" /></figure>
            </div>
            <div class="media-content">
              <div class="content">
                <h2 class="title is-1">2</h2>
              </div>
            </div>
          </div>
          <h4 class="title is-4">Integrate Software</h4>
          <p>We want to make sure that you can keep using the software that you use to manage your business.</p>
        </div>
        <div class="column">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64"><img src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2" alt="" /></figure>
            </div>
            <div class="media-content">
              <div class="content">
                <h2 class="title is-1">3</h2>
              </div>
            </div>
          </div>
          <h4 class="title is-4">Ongoing Support</h4>
          <p>
            As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues
            for you.
          </p>
        </div>
      </div>
      <div class="buttons is-centered"><a class="button is-primary" href="#">Start Setup!</a></div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title">Thousands of happy companies</h2>
      <div class="columns is-multiline">
        <div class="column"><img src="https://bulma.dev/placeholder/logos/gitscape.svg?primary=00d1b2" alt="" /></div>
        <div class="column"><img src="https://bulma.dev/placeholder/logos/k-hole.svg?primary=00d1b2" alt="" /></div>
        <div class="column"><img src="https://bulma.dev/placeholder/logos/tholio.svg?primary=00d1b2" alt="" /></div>
        <div class="column"><img src="https://bulma.dev/placeholder/logos/plucky.svg?primary=00d1b2" alt="" /></div>
        <div class="column"><img src="https://bulma.dev/placeholder/logos/1stsight.svg?primary=00d1b2" alt="" /></div>
        <div class="column"><img src="https://bulma.dev/placeholder/logos/realweb.svg?primary=00d1b2" alt="" /></div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container py-4">
      <div class="columns is-vcentered">
        <div class="column is-6">
          <h2 class="title">PiperNet Setup</h2>
          <h3 class="title is-5">Let's get you connected!</h3>
          <p class="subtitle is-6">We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.</p>
          <div class="buttons"><a class="button is-primary" href="#">Start Setup!</a><a class="button is-text" href="#">Watch more</a></div>
        </div>
        <div class="column is-6">
          <div class="media">
            <div class="media-left">
              <div class="number has-background-primary">1</div>
            </div>
            <div class="media-content">
              <div class="content">
                <h3>Move Data</h3>
                <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag & drop.</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="number has-background-primary">2</div>
            </div>
            <div class="media-content">
              <div class="content">
                <h3>Integrate Software</h3>
                <p>We want to make sure that you can keep using the software that you use to manage your business.</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="number has-background-primary">3</div>
            </div>
            <div class="media-content">
              <div class="content">
                <h3>Ongoing Support</h3>
                <p>
                  As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve
                  issues for you.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered py-4">
      <h2 class="title mb-6">What's So Great About PiperNet?</h2>
      <div class="columns">
        <div class="column">
          <div class="content">
            <blockquote>
              <p>
                It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they
                brought it back. Just bro's being bro's.
              </p>
            </blockquote>
            <cite>@Colin</cite>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <blockquote>
              <p>
                Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for
                Jared to Piper-chat with me sometime.
              </p>
            </blockquote>
            <cite>@Fiona</cite>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <blockquote>
              <p>
                This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it,
                they did it. Kickass!
              </p>
            </blockquote>
            <cite>@RussHanneman</cite>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title is-1 is-spaced">$10 <small class="has-text-grey">/ mo</small></h2>
      <p class="subtitle">Choose our tailored solution for you and your team.</p>
      <a class="button is-primary" href="#">Get started</a>
    </div>
  </section>

  <section class="section">
    <div class="container py-4">
      <h2 class="title has-text-centered mb-6">Gallery</h2>
      <div class="columns is-multiline">
        <div class="column is-4">
          <a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></a>
        </div>
        <div class="column is-4">
          <a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></a>
        </div>
        <div class="column is-4">
          <a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></a>
        </div>
        <div class="column is-4">
          <a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></a>
        </div>
        <div class="column is-4">
          <a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></a>
        </div>
        <div class="column is-4">
          <a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="" /></a>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container py-4">
      <h2 class="title has-text-centered mb-6">Frequently Asked Questions</h2>
      <div class="columns is-multiline">
        <div class="column is-6 mb-4 px-5">
          <h3 class="title is-4">How is a decentralized network different from the traditional web?</h3>
          <p>
            Decentralization is a key aspect of PiperNet. Traditionally, to access data on a website, you needed to connect to a single server
            containing that data. This method of storing data makes it easy for third parties to get access to it, corrupt it or even delete it.
          </p>
        </div>
        <div class="column is-6 mb-4 px-5">
          <h3 class="title is-4">Why shouldn't I just store my data on a Hooli Box?</h3>
          <p>
            That's just the thing - if you store your data in a single place, like Gavin Belsons' poorly-made server box, your data will very
            susceptible to hacking. Whereas on PiperNet, your data is safe with many copies to back it up from.
          </p>
        </div>
        <div class="column is-6 mb-4 px-5">
          <h3 class="title is-4">What makes PiperNet so safe?</h3>
          <p>
            Our proprietary middle-out compression algorithm allows data to flow so fast that it can't be hacked! But, in all seriousness, the
            algorithm helps but it's the public, immutable ledger that makes it secure. This enables PiperNet users to exchange data without risk of
            it being intercepted by third parties.
          </p>
        </div>
        <div class="column is-6 mb-4 px-5">
          <h3 class="title is-4">How long does it take to get a company up and running?</h3>
          <p>
            Access to the public network is granted within a day, but moving all your data and integrating your existing software depends on how big
            your company is. Startups can expect to be fully online within a week, enterprises can take up to a month due to large reliance on legacy
            systems and huge datasets.
          </p>
        </div>
        <div class="column is-6 mb-4 px-5">
          <h3 class="title is-4">Why shouldn't I just store my data on a Hooli Box?</h3>
          <p>
            That's just the thing - if you store your data in a single place, like Gavin Belsons' poorly-made server box, your data will very
            susceptible to hacking. Whereas on PiperNet, your data is safe with many copies to back it up from.
          </p>
        </div>
        <div class="column is-6 mb-4 px-5">
          <h3 class="title is-4">How is a decentralized network different from the traditional web?</h3>
          <p>
            Decentralization is a key aspect of PiperNet. Traditionally, to access data on a website, you needed to connect to a single server
            containing that data. This method of storing data makes it easy for third parties to get access to it, corrupt it or even delete it.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered py-4">
      <h2 class="title">The Pipers</h2>
      <p class="subtitle mb-6">We are the guys that made this whole thing possible</p>
      <div class="columns py-5">
        <div class="column is-4">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Richard Hendricks</h5>
          <p class="subtitle is-6">CEO</p>
          <p>
            When I'm not obsessively stressing about the fate of Pied Piper, I sometimes give lectures to school kids. Spend most of my time coding.
          </p>
        </div>
        <div class="column is-4">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Dinesh Chugtai</h5>
          <p class="subtitle is-6">CTO</p>
          <p>I am the absolute best programmer at Pied Piper (especially better than Gilfoyle). My genius shines and guides the Pied Piper team.</p>
        </div>
        <div class="column is-4">
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt="" />
              </figure>
            </div>
          </div>
          <h5 class="title is-5">Bertram Gilfoyle</h5>
          <p class="subtitle is-6">Chief Systems Architect</p>
          <p>
            I work on Pied Piper only for the advanced technology. I don't really like most people I work with, but they need me to put out their
            fires, so&nbsp;I&nbsp;stay.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container py-4">
      <h2 class="title has-text-centered mb-6">Contact the Pied Piper team</h2>
      <div class="columns">
        <div class="column is-6">
          <h4 class="title is-spaced is-4">Let's talk about the future of the internet</h4>
          <p class="subtitle">We're here to answer your questions and discuss the decentralized future of the internet.</p>
          <div>
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24"><img src="placeholder/icons/map-marker.svg" alt="" /></figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>Pied Piper HQ - 59 Silicon Av.</p>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24"><img src="placeholder/icons/phone.svg" alt="" /></figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>555-333-555</p>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24"><img src="placeholder/icons/envelope.svg" alt="" /></figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>pay-the-piper@piedpiper.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-5 is-offset-1">
          <form>
            <div class="field">
              <div class="control">
                <input class="input" type="email" placeholder="Email" />
              </div>
            </div>
            <div class="field">
              <div class="select is-fullwidth">
                <select
                  ><option disabled="" selected="">Select product</option
                  ><option>Product 1</option
                  ><option>Product 2</option
                  ><option>Product 3</option></select
                >
              </div>
            </div>
            <div class="field">
              <div class="control"><textarea class="textarea" rows="5" placeholder="Write something..."></textarea></div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
