<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title">The Team</h2>
    <p class="subtitle">Who made this summit possible</p>
    <div class="columns py-5">
      <div class="column is-6">
        <div class="level">
          <div class="level-item">
            <figure class="image is-200x200">
              <img class="is-rounded" src="/assets/img/summit/team/frances-coronel.jpg" alt="" />
            </figure>
          </div>
        </div>
        <h5 class="title is-5">Frances Coronel</h5>
        <p class="subtitle is-6">Executive Director, Techqueria</p>
        <div class="buttons is-centered">
          <a class="button" href="https://linkedin.com/in/fvcproductions" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="column is-6">
        <div class="level">
          <div class="level-item">
            <figure class="image is-200x200">
              <img class="is-rounded" src="/assets/img/summit/team/sal-ramirez.jpeg" alt="Sal Ramirez" />
            </figure>
          </div>
        </div>
        <h5 class="title is-5">Sal Ramirez</h5>
        <p class="subtitle is-6">Event Lead, Techqueria</p>
        <div class="buttons is-centered">
          <a class="button" href="https://www.linkedin.com/in/salramirez/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
