<section class="section">
  <div class="container is-fluid has-text-centered py-4">
    <h2 class="title">The Team</h2>
    <p class="subtitle">Who's making all this possible</p>
    <div class="columns is-centered is-multiline py-5 pt-3">
      <!-- Felipe Ventura -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/fvntr/" target="_blank" rel="noopener">
              <figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/team/staff/felipe-ventura.jpg"
                  data-src="/assets/img/team/staff/felipe-ventura.jpg"
                  alt="Felipe Ventura"
                />
              </figure>
            </a>
          </div>
        </div>
        <h5 class="title is-6">Felipe Ventura</h5>
        <p class="subtitle is-7 pb-1">Executive Director, Techqueria</p>
      </div>
      <!-- Frances Coronel -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://linkedin.com/in/fvcproductions" target="_blank" rel="noopener">
              <figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/team/staff/frances-coronel.jpg"
                  data-src="/assets/img/team/staff/frances-coronel.jpg"
                  alt="Frances Coronel"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Frances Coronel</h5>
        <p class="subtitle is-7 pb-1">Executive Director, Techqueria</p>
      </div>
      <!-- Mary Ramirez -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/marybramirez/" target="_blank" rel="noopener">
              <figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/team/staff/mary-ramirez.png"
                  data-src="/assets/img/team/staff/mary-ramirez.png"
                  alt="Mary Ramirez"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Mary Ramirez</h5>
        <p class="subtitle is-7 pb-1">Partnerships Lead, Techqueria</p>
      </div>
      <!-- Francisco Cruz-Mendoza -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/franciscocrz/" target="_blank" rel="noopener">
              <figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/team/staff/francisco-cruz-mendoza.jpeg"
                  data-src="/assets/img/team/staff/francisco-cruz-mendoza.jpeg"
                  alt="Francisco Cruz-Mendoza"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Francisco Cruz-Mendoza</h5>
        <p class="subtitle is-7 pb-1">Social Media Lead, Techqueria</p>
      </div>
      <!-- Cari Perez -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/caridadperez/" target="_blank" rel="noopener">
              <figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/team/chapter-directors/cari-perez.jpg"
                  data-src="/assets/img/team/chapter-directors/cari-perez.jpg"
                  alt="Cari Perez"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Cari Perez</h5>
        <p class="subtitle is-7 pb-1">Chapter Director for Miami, Techqueria</p>
      </div>
      <!-- Sal Ramirez -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/salramirez/" target="_blank" rel="noopener">
              <figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/summit/team/sal-ramirez.jpeg"
                  data-src="/assets/img/summit/team/sal-ramirez.jpeg"
                  alt="Sal Ramirez"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Sal Ramirez</h5>
        <p class="subtitle is-7 pb-1">Volunteer — Speakers, Promos & Raffle Prizes</p>
      </div>
      <!-- Michael Urbina -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/michaelurbina/" target="_blank" rel="noopener">
              <figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/summit/team/michael-urbina.png"
                  data-src="/assets/img/summit/team/michael-urbina.png"
                  alt="Michael Urbina"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Michael Urbina</h5>
        <p class="subtitle is-7 pb-1">Volunteer — Influencers, Comms</p>
      </div>
      <!-- Cat Martinez -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/cathmartinez/" target="_blank" rel="noopener"
              ><figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/summit/team/cat-martinez.jpeg"
                  data-src="/assets/img/summit/team/cat-martinez.jpeg"
                  alt="Cat Martinez"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Cat Martinez</h5>
        <p class="subtitle is-7 pb-1">Volunteer — Sessions, Hopin.to</p>
      </div>
      <!-- Maria Jose Rios -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/mariarios140/" target="_blank" rel="noopener"
              ><figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/summit/team/maria-jose-rios.jpeg"
                  data-src="/assets/img/summit/team/maria-jose-rios.jpeg"
                  alt="Maria Jose Rios"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Maria Jose Rios</h5>
        <p class="subtitle is-7 pb-1">Volunteer — Social Media</p>
      </div>
      <!-- Yazeli Cruz -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/yazeliecruz/" target="_blank" rel="noopener"
              ><figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/summit/team/yazeli-cruz.jpeg"
                  data-src="/assets/img/summit/team/yazeli-cruz.jpeg"
                  alt="Yazeli Cruz"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Yazeli Cruz</h5>
        <p class="subtitle is-7 pb-1">Volunteer — Influencers, Promos & Raffle Prizes</p>
      </div>
      <!-- Roberto Salcido -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/roberto-salcido/" target="_blank" rel="noopener"
              ><figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/summit/team/roberto-salcido.jpeg"
                  data-src="/assets/img/summit/team/roberto-salcido.jpeg"
                  alt="Roberto Salcido"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Roberto Salcido</h5>
        <p class="subtitle is-7 pb-1">Volunteer — Comms</p>
      </div>
      <!-- Irene Rivera -->
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
        <div class="level">
          <div class="level-item">
            <a href="https://www.linkedin.com/in/ir-ri/" target="_blank" rel="noopener"
              ><figure class="image is-200x200">
                <img
                  class="is-rounded lozad"
                  src="/assets/img/summit/team/irene-rivera.jpeg"
                  data-src="/assets/img/summit/team/irene-rivera.jpeg"
                  alt="Irene Rivera"
                /></figure
            ></a>
          </div>
        </div>
        <h5 class="title is-6">Irene Rivera</h5>
        <p class="subtitle is-7 pb-1">Volunteer — Social Media</p>
      </div>
    </div>
  </div>
</section>
