<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title">Techqueria Event Testimonials</h2>
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="content has-text-left">
          <blockquote>
            <p>
              Thank you for hosting such a wonderful and empowering event! Even though I am not in Tech, I still took a lot from the event and met
              wonderful people that I can connect my students to.
            </p>
          </blockquote>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-left">
          <blockquote>
            <p>
              I loved that there was ample time to ask questions and that everything was explained very well. I learned a lot about how to approach
              the job search and how to increase your visibility. This was a great event and hope to attend more like this.
            </p>
          </blockquote>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-left">
          <blockquote>
            <p>
              The Techqueria team did a great job organizing the agenda and getting the speakers! I really enjoyed the breakout Zoom sessions!
            </p>
          </blockquote>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-left">
          <blockquote>
            <p>
              I'm still new to the community, and just seeing all these accomplished people from Latinx backgrounds really helped to combat my doubts
              of being in tech since most of my colleagues come from other backgrounds.
            </p>
          </blockquote>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-left">
          <blockquote>
            <p>
              Loved the breakout sessions and getting to connect with other Latinx members in tech. The support and encouragement coming from the
              speakers and breakout sessions was beautiful!
            </p>
          </blockquote>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-left">
          <blockquote>
            <p>
              I really enjoyed the format of talk and then a break out session. The starter questions were helpful too. Thank you so much. This event
              meant a lot to me.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
