<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title">Techqueria Event Testimonials</h2>
    <div class="columns">
      <div class="column">
        <div class="content">
          <blockquote>
            <p>
              It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they
              brought it back. Just bro's being bro's.
            </p>
          </blockquote>
          <cite>@Colin</cite>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <blockquote>
            <p>
              Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for
              Jared to Piper-chat with me sometime.
            </p>
          </blockquote>
          <cite>@Fiona</cite>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <blockquote>
            <p>
              This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it,
              they did it. Kickass!
            </p>
          </blockquote>
          <cite>@RussHanneman</cite>
        </div>
      </div>
    </div>
  </div>
</section>
