<div class="card card-equal-height">
  <!-- Image -->
  {{ if .Params.image }}
  <div class="card-image">
    <figure class="image">
      <img src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}" class="lozad card-image--figure">
    </figure>
  </div>
  {{ end }}
  <!-- Title -->
  <header class="card-header">
    <h2 class="card-header-title">
      {{ if .Params.partnerEvent }}Partner Event:
      {{ end }}
      {{ if .Title}}
      {{ .Title | truncate 50 }}
      {{ end }}
    </h2>
  </header>
  <!-- Description -->
  <div class="card-content">
    <div class="content">
      {{ if not .PublishDate.IsZero }}
      <p class="subtitle mb-1">
        <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "January 2, 2006" .Date }}</time>
      </p>
      {{ end }}
      {{ with .Params.location }}
      <p class="subtitle mb-1">{{ . }}</p>
      {{ end }}
      {{ if .Description }}
      {{ .Description | truncate 100 | safeHTML }}
      {{ else }}
      {{ .Summary | truncate 200 | safeHTML }}
      {{ end }}
    </div>
  </div>
  <!-- Date -->
  <footer class="card-footer">
    <a href="{{ .RelPermalink }}" class="card-footer-item">ℹ️ More info</a>
    {{ if .Params.link }}
    {{ if not (.Date.Before now) }}
    <a href="{{ .Params.link }}" class="card-footer-item" target="_blank" rel="noopener">📝 RSVP now</a>&nbsp;
    {{ end }}
    {{ end }}
  </footer>
</div>
