{{ if eq $.Site.Params.phraseAppEnabled true }}
  <script>
    window.PHRASEAPP_CONFIG = {
      projectId: "06d1a3e6835ad48628a253eeeee922ff"
    };
    (function() {
      var phraseapp = document.createElement('script'); phraseapp.type = 'text/javascript'; phraseapp.async = true;
      phraseapp.src = ['https://', 'phraseapp.com/assets/in-context-editor/2.0/app.js?', new Date().getTime()].join('');
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(phraseapp, s);
    })();
  </script>
  {{ end }}
