<h1>{{ .Title }}</h1>
<img src="{{ .Params.image }}" alt="{{ .Title }}"/>

<h2>Bio</h2>
{{ .Content }}
{{ if .Params.twitter }}
  <p>
    <a href="https://twitter.com/{{ substr . 1 }}">
      Follow {{ .Title }} on Twitter
    </a>
  </p>
{{ end }}
{{ if .Params.link }}
  <p>
    <a href="{{ .Params.link }}">
      Connect with {{ .Title }} on LinkedIn
    </a>
  </p>
{{ end }}
<h2>Articles</h2>
<ul>
{{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>
