<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">
  <!-- Head -->
  {{ partial "base/head/_index.html" . }}
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/?source=techqueria">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  {{ partial "base/navbar.html" . }}
  <!-- Main Content -->
  <div role="main" class="main">
    <!-- Main Block -->
    {{ block "main" . }}{{ end }}
  </div>
  <!-- Footer -->
  {{ partialCached "base/footer/_index.html" . }}
  <!-- Scripts -->
  {{ partialCached "base/scripts.html" . }}
</body>

</html>
