{{ define "main" }}
<!-- Pages -->
{{ $listPages := .Data.Pages }}
<!-- Hero -->
{{ partial "content/hero.html" . }}
<!-- Page -->
<div class="section page">
  <!-- Content -->
  <div class="content table-border-none">
    <blockquote>{{ len $listPages }} {{ if gt (len $listPages) 1 }}pages{{ else }}page{{ end }}</blockquote>
    <!-- Range -->
    {{ range $listPages.GroupByDate "2006" }}{{ partial "content/list.html" . }}{{ end }}
    <br>
    <!-- End Message -->
    {{ if gt (len $listPages) 1 }}
    <br>
    <!-- End Message -->
    <h4 class="has-text-weight-light">
      ¡Eso es todo! 🎉
    </h4>
    {{ end }}
    <!-- Categories Links -->
    <!-- See all categories -->
    <h5 class="has-text-weight-light">
      See all
      <a href="/categories/">categories</a> or <a href="/tags/">tags</a>.
    </h5>
  </div>
</div>
{{ end }}
