{{ define "main" }}
<!-- Hero -->
{{ partial "content/hero/hero.html" . }}
<!-- Page -->
<div class="section page">
  <div class="container">
    <!-- Breadcrumbs -->
    {{ partial "content/custom/breadcrumbs.html" . }}
    <!-- Content -->
    {{ partial "content/_index.html" . }}
    <div class="content mt-2 u-text--centered">
      <h2>🥰 How to Support Techqueria 🥰</h2>
    </div>
    <!-- Children -->
    {{ partial "content/children.html" . }}
    <!-- Events -->
    {{ $allEvents := where $.Site.RegularPages "Section" "events"  }}
    {{ $pastEvents := where $allEvents "Date" "le" now }}
    {{ $recentEvents := $pastEvents | first 3 }}
    <div class="content mt-4 u-text--centered">
      <h2>🕒 Most Recent Events 🕒</h2>
    </div>
    <div class="columns is-multiline mt-1">
      {{ range $recentEvents.ByDate.Reverse }}
      {{ partial "content/child.html" . }}
      {{ end }}
    </div>
    <div class="buttons mb-6 u-justify-content--centered">
      <a class="button is-primary is-medium" href="/events/#techqueria-events" rel="noopener">See more events ➡️</a>
    </div>
    <!-- Supporters - Showcase -->
    {{ partial "content/custom/supporters-showcase.html" . }}
    <!-- Content Footer -->
    {{ partial "content/footer/_index.html" . }}
  </div>
</div>
{{ end }}
