{{ define "main" }}
<!-- Hero -->
{{ partial "content/hero.html" . }}
<!-- Page -->
<section class="section page">
  <div class="container">
    <!-- Breadcrumbs -->
    {{ partial "custom/breadcrumbs.html" . }}
    <!-- if events page -->
    {{ if eq .Section "events" }}
    <!-- Children -->
    {{ partial "children/_index.html" . }}
    <hr>
    <!-- Content -->
    {{ partial "content/_index.html" . }}
    {{ else }}
    <!-- Content -->
    {{ partial "content/_index.html" . }}
    <!-- Children -->
    {{ partial "children/_index.html" . }}
    {{ end }}
    <!-- Content Footer -->
    {{ partial "content/footer.html" . }}
  </div>
</section>
{{ end }}
