<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <!-- Title -->
      <h1 class="title">
        Become a Sponsor! 💙
      </h1>
      <!-- Description -->
      <h2 class="subtitle">
        We're always looking for new <a href="/sponsors/" class="hero-link">partners and sponsors</a> to help move our mission forward.
      </h2>
      <!-- Link -->
      <a class="button is-link is-inverted" href="/contact/" rel="noopener">
        Contact us ➡
      </a>
    </div>
  </div>
</section>
