<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <!-- Title -->
      <h1 class="title">
        Subscribe to our newsletter! 📨
      </h1>
      <!-- Description -->
      <h2 class="subtitle">
        Get the latest updates by email.
      </h2>
      <!-- Link -->
      <a class="button is-link" href="https://mailchi.mp/c12256627e10/techqueria-newsletter" target="_blank" rel="noopener">
        Subscribe ➡
      </a>
    </div>
  </div>
</section>
