<div class="has-text-centered u-align-item--centered u-max-width--tablet m-auto mt-2 mb-2">
  <canvas id="pie-chart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  Chart.defaults.global.defaultFontColor = "Rubik";
  new Chart(document.getElementById("pie-chart"), {
    "type": "doughnut",
    "data": {
      "labels": ["Engineering", "Product/Design", "Operations/Sales", "Founders/Executives", "Recruitment/HR"],
      "datasets": [{
        "data": [60, 15, 15, 5, 5],
        "backgroundColor": ["#fabf67", "#ff551f", "#3f8db9", "#5a4640", "#2f4052"]
      }]
    }
  });
</script>
<noscript>Please enable JavaScript to view the chart.</noscript>