<div class="has-text-centered u-align-item--centered u-max-width--tablet m-auto mt-2 mb-2">
  <canvas id="pie-chart-job-function"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  Chart.defaults.global.defaultFontColor = "Rubik";
  new Chart(document.getElementById("pie-chart-job-function"), {
    "type": "doughnut",
    "data": {
      "labels": ["Engineering", "Other", "Operations", "Marketing", "Design", "Recruiting", "Sales", "Product", "Customer Support", "Founder", "Human Resources"],
      "datasets": [{
        "data": [31.2, 16.4, 9.6, 7.9, 6.5, 5.8, 5.1, 4.9, 4.8, 4.3, 3.5],
        "backgroundColor": ["#fabf67", "#ff551f", "#3f8db9", "#5a4640", "#2f4052", "#fabf67", "#ff551f", "#3f8db9", "#fabf67", "#ff551f", "#3f8db9"]
      }]
    }
  });

</script>
<noscript>Please enable JavaScript to view the chart.</noscript>
