<hr>
<!-- Taxonomy -->
{{ partial "content/footer/taxonomy.html" . }}
<!-- Author -->
{{ partial "content/footer/author.html" . }}
<!-- Comment -->
{{ partial "content/footer/comment.html" . }}
<!-- Share -->
{{ partial "content/footer/share.html" . }}
<!-- About -->
{{ partial "content/footer/about.html" . }}
<!-- Donate -->
{{ partial "content/footer/donate.html" . }}
<!-- Sponsor Us -->
{{ partial "content/footer/sponsor.html" . }}
<!-- Subscribe -->
{{ partial "content/footer/subscribe.html" . }}
<!-- Related -->
{{ partial "content/footer/related.html" . }}
<!-- Contribute -->
{{ partial "content/footer/contribute.html" . }}
