<hr class="mega-separator" />
<!-- Taxonomy -->
{{ partial "content/footer/taxonomy.html" . }}
<!-- Comment -->
{{ partial "content/footer/comment.html" . }}
<!-- Share -->
{{ partial "content/footer/share.html" . }}
<!-- About -->
{{ partialCached "content/footer/about.html" . }}
<!-- Subscribe -->
{{ partial "content/footer/subscribe.html" . }}
<!-- Follow Us -->
{{ partial "content/footer/follow.html" . }}
<!-- Donate -->
{{ partial "content/footer/donate.html" . }}
<!-- Triplebyte -->
{{ partial "content/footer/triplebyte.html" . }}
<!-- Related -->
{{ partial "content/footer/related.html" . }}
