<!-- Authors -->
<div class="content mt-2">
  <h2><span class="mr-sm">ℹ️</span>About Techqueria</h2>
  <p>
    Techqueria is a 501c3 nonprofit that empowers Latinx professionals with the resources and support that they need to thrive and become leaders in
    the tech industry.
  </p>
  <p>
    To that end, we work with both tech companies and employee resource groups (ERGs) to build Latinx-centered spaces that revolve around career
    advice, technical talks, mentorship, open jobs, networking events, speaking opportunities, and open-source in order to comprehensively affect
    change in the tech industry.
  </p>
  <p>
    Coming from all walks of life, we believe that the diversity of our community is the most reliable asset we have. Our space aims to be inclusive
    so we invite Latinx from the regions of the Caribbean, Haiti, and Brazil as well as those who identify as Afro-Latinx, Asian-Latinx or LGBTQIA.
    The term Latinx is used instead of Latino or Latina because it is a gender-neutral and inclusive term.
  </p>
</div>
