{{ if .Params.comments }}
<div class="content mt-2">
  <h2><span class="mr-sm">💬</span>{{ i18n "comment" }}</h2>
  <div id="disqus_thread"></div>
  <script>
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script');
      s.src = 'https://techqueria.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{{ end }}
