<div class="content mt-2">
  <h2><span class="mr-sm">💛</span>{{ i18n "footer_donate" }}</h2>
  <p>{{ i18n "there_is_also" }}</p>
  <!-- Patreon -->
  <a href="https://www.patreon.com/join/techqueria" rel="noopener" target="_blank"><img alt="Patreon" src="/assets/img/_svg/donate/patreon.svg" style="height: 5em;"></a>
  <!-- Open Collective -->
  <!-- <a href="https://opencollective.com/techqueria/contribute" rel="noopener" target="_blank"><img alt="Open Collective" src="/assets/img/_svg/donate/open-collective.svg" style="height: 3em;"></a> -->
  <!-- Donorbox -->
  <a href="/donate/" rel="noopener"><img alt="Donorbox" src="/assets/img/_svg/donate/donorbox.svg" style="height: 5em;"></a>
</div>
