<div class="content mt-2">
  <h3>Donate 💛</h3>
  <p>{{ i18n "there_is_also" }}</p>
  <!-- Patreon -->
  <a href="https://www.patreon.com/join/techqueria" rel="noopener" target="_blank"><img alt="Patreon" src="/assets/img/donate/patreon.svg" style="height: 3em;"></a>
  <!-- Open Collective -->
  <a href="https://opencollective.com/techqueria/contribute" rel="noopener" target="_blank"><img alt="Open Collective" src="/assets/img/donate/open-collective.svg" style="height: 3em;"></a>
  <!-- Donorbox -->
  <a href="https://donorbox.org/techqueria?amount=25" rel="noopener" target="_blank"><img alt="Donorbox" src="/assets/img/donate/donorbox.svg" style="height: 3em;"></a>
  <!-- Donorbox -->
  <a href="https://smile.amazon.com/ch/83-2656715" rel="noopener" target="_blank"><img alt="Amazon Smile" src="/assets/img/donate/amazon-smile.svg" style="height: 3em;"></a>
</div>
