<div class="content mt-2">
  {{ if eq .Site.Language.Lang "es" }}
    <h2><span class="mr-sm">💛</span><a href="/donate/" rel="noopener">Dona</a> a Techqueria</h2>
    <p>También existe la opción de convertirse en un patrocinador activo a través de Patreon o Open Collective.</p>
  {{ else }}
    <h2><span class="mr-sm">💛</span>Donate to Techqueria</h2>
    <p>Support Techqueria's efforts by <a href="https://patreon.com/techqueria" rel="noopener" target="_blank">becoming an on-going patron</a> or <a href="/donate/" rel="noopener">making a one-time donation</a>.</p>
  {{ end }}
  {{ partial "content/custom/donate.html" . }}
</div>
