<!-- Follow us on social media -->
<div class="content mt-2">
  <h2 id="follow-techqueria"><span class="mr-sm">🌈</span>{{ i18n "cta_follow_title" }}</h2>
</div>
<!-- Twitter -->
<a href="https://twitter.com/techqueria?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">{{ i18n "cta_follow_button" }}</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- Curator.io -->
<div id="curator-feed-default-layout" class="mt-1"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
<script type="text/javascript">
  (function () {
    var i, e, d = document,
      s = "script";
    i = d.createElement("script");
    i.async = 1;
    i.src = "https://cdn.curator.io/published/cbd2750c-4154-406a-8876-b970f9554f96.js";
    e = d.getElementsByTagName(s)[0];
    e.parentNode.insertBefore(i, e);
  })();

</script>
