<!-- Set Title Variable -->
{{ $pageTitle := .Title }}
{{ if .IsHome }}
{{ $pageTitle = .Site.Title }}
{{ else }}
{{ $pageTitle = (print .Title " | " .Site.Title) }}
{{ end }}
<!-- Share -->
<div class="content mt-2">
  <h2><span class="mr-sm">🌐</span>Share this page</h2>
</div>
<div class="buttons">
  <!-- Twitter -->
  <a class="button is-outlined is-primary" aria-label="Share on Twitter" class="fab fa-twitter" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&via={{ .Site.Social.twitter }}&text={{ $pageTitle }}" rel="noopener" target="_blank" title="Share on Twitter">
    <span class="icon is-medium">
      <i class="fab fa-twitter"></i>
    </span>
    <span>Share on Twitter</span>
  </a>
  <!-- Facebook -->
  <a class="button is-outlined is-primary" aria-label="Share on Facebook" class="fab fa-facebook" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" rel="noopener" target="_blank" title="Share on Facebook">
    <span class="icon is-medium">
      <i class="fab fa-facebook"></i>
    </span>
    <span>Share on Facebook</span>
  </a>
  <!-- LinkedIn -->
  <a
    class="button is-outlined is-primary"
    aria-label="Share on LinkedIn"
    class="fab fa-linkedin"
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | safeURL }}&title={{ $pageTitle }}&summary={{ .Summary }}&source={{ .Site.Title }}"
    rel="noopener"
    target="_blank"
    title="Share on LinkedIn"
  >
    <span class="icon is-medium">
      <i class="fab fa-linkedin"></i>
    </span>
    <span>Share on LinkedIn</span>
  </a>
  <!-- Email -->
  <a class="button is-outlined is-primary" aria-label="Email this article" class="fa-email" href="mailto:?subject={{ .Site.Title }}&body={{ .Permalink | safeURL }}" rel="noopener" target="_blank" title="Email this article">
    <span class="icon is-medium">
      <i class="fas fa-envelope"></i>
    </span>
    <span>Email this post</span>
  </a>
</div>
