<div class="content mt-2">
  <h3>{{ i18n "interested_sponsor" }}
    💵
  </h3>
  <p>{{ i18n "you_can" }}
    <a href="/contact/" rel="noopener">{{ i18n "interested_contact_us" }}</a>
    {{ i18n "and_we_can" }}</p>
  <p>{{ i18n "there_is_also" }}</p>
  <!-- Patreon -->
  <a href="https://www.patreon.com/techqueria" rel="noopener" target="_blank"><img alt="Patreon" src="/assets/img/donate/patreon.svg" style="height: 3em;"></a>
  <!-- Open Collective -->
  <a href="https://opencollective.com/techqueria" rel="noopener" target="_blank"><img alt="Open Collective" src="/assets/img/donate/open-collective.svg" style="height: 3em;"></a>
  <!-- Donorbox -->
  <a href="https://donorbox.org/techqueria?amount=25" rel="noopener" target="_blank"><img alt="Donorbox" src="/assets/img/donate/donorbox.svg" style="height: 3em;"></a>
</div>
