<h3>💵 {{ i18n "interested_sponsor" }}</h3>
<p>{{ i18n "you_can" }} <a href="/contact/" rel="noopener">{{ i18n "interested_contact_us" }}</a> {{ i18n "and_we_can" }}</p>
<p>{{ i18n "there_is_also" }}</p>
<a href="https://www.patreon.com/techqueria" target="_blank" rel="noopener"><img style="height: 3em;" src="/assets/img/donate/patreon.svg" alt="Patreon"></a>
<a href="https://opencollective.com/techqueria" target="_blank" rel="noopener"><img style="height: 3em;" src="/assets/img/donate/open-collective.svg" alt="Open Collective"></a>
