<h3>📬{{ i18n "subscribe" }}</h3>
<p>{{ i18n "get_updates" }}</p>
<!-- Subscribe Form -->
<form action="https://techqueria.us16.list-manage.com/subscribe/post?u=b0e4bfe18a46d5bef899fb312&amp;id=0e1710b6ee" class="validate mb-1" method="post" name="mc-embedded-subscribe-form" novalidate target="_blank">
  <div class="field is-grouped">
    <div class="control has-icons-left is-expanded">
      <input aria-label="Email Input" autocomplete="on" class="input required email" name="EMAIL" placeholder="organizers@techqueria.org" required type="email" value="">
      <span class="icon is-left">
        ✉️
      </span>
    </div>
    <p class="control">
      <input aria-label="Submit button for subscribing to email updates" class="button is-link" name="subscribe" type="submit" value="Subscribe to email updates">
    </p>
  </div>
</form>
<!-- Past Campaigns -->
<p>{{ i18n "feel_free_to" }}
  <a href="https://us16.campaign-archive.com/home/?u=b0e4bfe18a46d5bef899fb312&id=0e1710b6ee" rel="noopener" target="_blank" title="View previous email campaigns">{{ i18n "view_previous" }}</a>
  {{ i18n "get_better_idea" }}</p>
