<div class="content mt-2">
  <h2><span class="mr-sm">📨</span>Subscribe to our newsletter</h2>
  <p>Get the latest updates from Techqueria in your inbox every month.</p>
  <div class="field is-grouped">
    <div class="control has-icons-left is-expanded">
      <input
        class="input"
        aria-label="Your email"
        class="input is-medium is-flat"
        autocomplete="email"
        type="email"
        name="email"
        placeholder="Your email"
        required
      />
      <span class="icon is-small is-left">
        ✉️
      </span>
    </div>
    <div class="control">
      <button class="button is-medium is-link">
        <strong>Subscribe</strong>
      </button>
    </div>
  </div>
  <p>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "6002647",
        formId: "96dbfe68-5b38-49c7-8510-ae1ac7032f4a"
      });
    </script>
  </p>
</div>
