<h3>📬 Subscribe</h3>
<p>Get new updates about Techqueria sent to your inbox by entering your email below!</p>
<form action="https://techqueria.us16.list-manage.com/subscribe/post?u=b0e4bfe18a46d5bef899fb312&amp;id=0e1710b6ee" method="post" name="mc-embedded-subscribe-form" class="validate mb-1" target="_blank" novalidate>
  <div class="field is-grouped">
    <div class="control has-icons-left is-expanded">
      <input type="email" class="input required email" aria-label="Email Input" autocomplete="on" name="EMAIL" placeholder="organizers@techqueria.org" value="" required>
      <span class="icon is-left">
        ✉️
      </span>
    </div>
    <p class="control">
      <input type="submit" value="Subscribe to email updates" name="subscribe" class="button is-link" aria-label="Submit button for subscribing to email updates">
    </p>
  </div>
</form>
<p>Feel free to <a href="https://us16.campaign-archive.com/home/?u=b0e4bfe18a46d5bef899fb312&id=0e1710b6ee" title="View previous email campaigns" target="_blank" rel="noopener">view the previous email campaigns</a> to get a better idea of what is sent out.</p>
