<div class="column is-3">
  <h6 class="mb-1">
    <b>Communities</b>
  </h6>
  <!-- Sections & Pages - Communities -->
  {{ with .Site.GetPage "/communities" }}
  {{ range (.Sections | union .Pages).ByTitle }}
  <!-- Looping through communities-->
  <p>
    {{ if .Params.link }}
    <a href="{{ .Params.link }}" target="_blank" rel="noopener" class="link--techqueria">
      {{ else }}
      <a href="{{ .RelPermalink }}" class="link--techqueria">{{ end }}
        {{ if .Params.identifier }}{{ .Title }} <i class="footer-icons {{ .Params.identifier }}" alt="{{ .Params.Title }}" title="{{ .Params.Title }}"></i>
        {{ else }}{{ .Title }}{{ end }}
      </a>
  </p>
  {{ end }}
  {{ end }}
</div>
