<div class="field">
  <label class="label">What is your age?*</label>
  <div class="control has-icons-left">
    <label class="radio">
      <input type="radio" aria-label="What is your age?" name="age" value="13-18" required>
      13-18
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What is your age?" name="age" value="19-24" required>
      19-24
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What is your age?" name="age" value="25-34" required>
      25-34
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What is your age?" name="age" value="35-44" required>
      35-44
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What is your age?" name="age" value="45-54" required>
      45-54
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What is your age?" name="age" value="55-64" required>
      55-64
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What is your age?" name="age" value="65+" required>
      65+
    </label>
  </div>
</div>
