<div class="field">
  <label class="label">What rule was violated?*</label>
  <div class="control has-icons-left" id="coc_violation_type">
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Threats of violence" />
      Threats of violence
    </label>
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="What rule was violated?"
        name="coc_violation_type"
        value="Unwelcome remarks regarding a person’s lifestyle choices and practices"
      />
      Unwelcome remarks regarding a person’s lifestyle choices and practices
    </label>
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="What rule was violated?"
        name="coc_violation_type"
        value="Trolling, insulting/derogatory comments, public or private harassment"
      />
      Trolling, insulting/derogatory comments, public or private harassment</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Unwelcome physical contact" />
      Unwelcome physical contact</label
    >
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="What rule was violated?"
        name="coc_violation_type"
        value="Any action that results in complaints from our community"
      />
      Any action that results in complaints from our community</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Assuming or promoting any kind of inequality" />
      Assuming or promoting any kind of inequality</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Attacking personal tastes" />
      Attacking personal tastes</label
    >
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="What rule was violated?"
        name="coc_violation_type"
        value="Continued one-on-one communication after requests to cease"
      />
      Continued one-on-one communication after requests to cease</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Deliberate “outing”" />
      Deliberate “outing”</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Deliberate intimidation" />
      Deliberate intimidation</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Sharing disturbing graphics or content" />
      Sharing disturbing graphics or content</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Exclusionary jokes or comments" />
      Exclusionary jokes or comments</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Not being respectful to communication boundaries" />
      Not being respectful to communication boundaries</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Publishing private content without permission" />
      Publishing private content without permission</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Spamming the group and excessive self-promotion" />
      Spamming the group and excessive self-promotion</label
    >
    <br />
    <label class="radio">
      <input type="radio" aria-label="What rule was violated?" name="coc_violation_type" value="Other (provide more details)" />
      Other (provide more details)</label
    >
    <br />
  </div>
  <div class="control has-icons-left mt-sm">
    <input
      class="input"
      aria-label="Other selected"
      autocomplete="off"
      type="text"
      id="coc_violation_type_other_input"
      name="coc_violation_type_other_input"
      placeholder="If you selected other, enter it here"
    />
    <span class="icon is-left">
      📝
    </span>
  </div>
</div>
