<div class="field mt-sm">
  <div class="control mt-1">
    <p class="is-size-8">By submitting this form, you agree to receive marketing communications from Techqueria.</p>
    <p class="is-size-8">You may unsubscribe from these communications at any time.</p>
    <p class="is-size-8">
      For information on our privacy practices and commitment to protecting your privacy, please review our
      <a href="/privacy-policy/" target="_blank" rel="noopener">Privacy Policy</a>.
    </p>
  </div>
</div>
