<div class="field">
  <label class="label">Name of event/conference/program/business/etc *</label>
  <div class="control has-icons-left">
    <input class="input" aria-label="Name of event/conference/program/business/etc" autocomplete="off" type="text"
      name="name_event" placeholder="Event name" required>
    <span class="icon is-left">
      💼
    </span>
  </div>
</div>
<div class="field">
  <label class="label">Why Techqueria?*</label>
  <div class="control">
    <textarea class="textarea" aria-label="Why Techqueria?" spellcheck="true" rows="6" name="why_techqueria"
      placeholder="Why do you want to promote your event/conference/business/etc with Techqueria?" required></textarea>
  </div>
</div>
<div class="field">
  <label class="label">Discount info for memebers*</label>
  <div class="control">
    <textarea class="textarea" aria-label="Discount info for memebers" spellcheck="true" rows="6" name="discount_info"
      placeholder="How many tickets are you donating? What kind of discount will members receive? Details about the donation."
      required></textarea>
  </div>
</div>