<div class="field">
  <label class="label">What's the max number of people you can host (comfortably) for an event?*</label>
  <div class="control has-icons-left">
    <input class="input" aria-label="What's the max number of people you can host (comfortably) for an event?"
      autocomplete="off" type="number" name="host_max_number" placeholder="200" min="5" required>
    <span class="icon is-left">
      👥
    </span>
  </div>
</div>
<div class="field">
  <label class="label">What's the max number of people you can provide catering for?*</label>
  <div class="control has-icons-left">
    <input class="input" aria-label="Can you pay for catering?" autocomplete="off" type="number"
      name="catering_max_number" placeholder="200" min="5" required>
    <span class="icon is-left">
      🥘
    </span>
  </div>
</div>
