<div class="field">
  <label class="label">Your headshot photo*</label>
  <p class="help">Please enter a link to a high-resolution image of yourself.</p>
  <p class="help">We recommend using <a href="https://imgur.com" target="_blank" rel="noopener">Imgur</a> but as long as
    the link doesn't expire or get
    moved, we're good to go.</p>
  <div class="control has-icons-left">
    <input class="input" aria-label="Your headshot photo" autocomplete="off" type="url" name="headshot_photo"
      placeholder="https://i.imgur.com/headshot.jpg" minlength="8" required>
    <span class="icon is-left">
      🖼️
    </span>
  </div>
</div>
