<div class="field">
  <label class="label">Headshot/Picture*</label>
  <p class="help">Please enter a link to a high-res image of yourself. We recommend using <a href="https://imgur.com" target="_blank" rel="noopener">Imgur</a> but as long as the link doesn't expire or get moved, we're good to go.</p>
  <div class="control has-icons-left">
    <input class="input" aria-label="Headshot/Picture" autocomplete="off" type="url" name="headshot_photo" placeholder="https://imgur.com/xyz.png" minlength="10" required>
    <span class="icon is-left">
      🖼️
    </span>
  </div>
</div>