<!-- Instagram -->
<!-- Pattern tested using https://regexr.com/-->
{{$instagram_pattern := "^(?:http(s)?:\/\/)?([\w]+\.)?instagram\.com\/[A-z0-9_-]+\/?"}}
<!-- Valid Test Cases -->
<!-- https://instagram.com/fvcproductions -->
<!-- https://www.instagram.com/fvcproductions -->
<!-- https://www.instagram.com/fvcproductions/ -->
<!-- instagram.com/fvcproductions -->
<!-- instagram.com/fvcproductions/ -->
<div class="field">
  <label class="label">Instagram Profile</label>
  <p class="help">Please enter a valid Instagram profile URL formatted as https://instagram.com/xyz</p>
  <div class="control has-icons-left">
    <input class="input" aria-label="Instagram" autocomplete="off" type="url" name="instagram_profile"
      placeholder="https://instagram.com/xyz" pattern="{{$instagram_pattern}}" minlength="13">
    <span class="icon is-left">
      📷
    </span>
  </div>
</div>
