<!-- Instagram -->
<!-- Pattern tested using https://regexr.com/-->
<!-- https://instagram.com/fvcproductions -->
<!-- https://www.instagram.com/fvcproductions -->
<!-- https://www.instagram.com/fvcproductions/ -->
<!-- instagram.com/fvcproductions -->
<!-- instagram.com/fvcproductions/ -->
<div class="field">
  <label class="label">Your Instagram profile URL</label>
  <p class="help">Make sure enter a valid Instagram profile URL formatted as <code>https://instagram.com/xyz</code></p>
  <div class="control has-icons-left">
    <input class="input" aria-label="Your Instagram profile URL" autocomplete="off" type="url" name="instagram_profile"
      placeholder="https://instagram.com/techqueriaorg" pattern="^(?:http(s)?:\/\/)?([\w]+\.)?instagram\.com\/[A-z0-9_-]+\/?" minlength="13">
    <span class="icon is-left">
      📷
    </span>
  </div>
</div>
