  <div class="field">
    <label class="label">Instagram Profile</label>
    <div class="control has-icons-left">
      <input class="input" aria-label="Instagram" autocomplete="off" type="url" name="Instagram Profile" placeholder="https://instagram.com/techqueriaorg" pattern="https?:\/\/(www\.)?instagram\.com\/([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)" minlength="13" data-value-invalid="Please enter a valid Instagram profile URL formatted as https://instagram.com/xyz">
      <span class="icon is-left">
        📷
      </span>
    </div>
  </div>
