<div class="field">
  <label class="label">Which category best describes your role?*</label>
  <div class="field">
    <div class="control has-icons-left">
      <div class="select">
        <select name="job_category" id="job_category" required>
          <option value="">-- Choose job category --</option>
          <option value="Accounting">Accounting</option>
          <option value="Consulting">Consulting</option>
          <option value="Customer Support">Customer Support</option>
          <option value="Cybersecurity">Cybersecurity</option>
          <option value="Data Science">Data Science</option>
          <option value="Design">Design</option>
          <option value="Education">Education</option>
          <option value="Engineering">Engineering</option>
          <option value="Finance">Finance</option>
          <option value="Founder">Founder</option>
          <option value="Human Resources">Human Resources</option>
          <option value="Marketing">Marketing</option>
          <option value="Operations">Operations</option>
          <option value="Product">Product</option>
          <option value="Recruiting">Recruiting</option>
          <option value="Sales">Sales</option>
          <option value="Student">Student</option>
          <option value="Venture Capital">Venture Capital</option>
          <option value="Other" id="job_category_other_selected">Other</option>
        </select>
      </div>
      <div class="icon is-small is-left">
        📂
      </div>
    </div>
  </div>
  <div class="control has-icons-left mt-sm">
    <input class="input" aria-label="Other selected" autocomplete="off" type="text" id="job_category_other_input" name="job_category_other_input" placeholder="If you selected other, enter it here" />
    <span class="icon is-left">
      📝
    </span>
  </div>
</div>
