<div class="field">
  <label class="label">Which category best describes your role?*</label>
  <div class="control has-icons-left" id="job_category">
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Engineering" required />
      Engineering
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Product" required />
      Product
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Design" required />
      Design
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Operations" required />
      Operations
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Sales" required />
      Sales
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Marketing" required />
      Marketing
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Founder" required />
      Founder
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Recruiting" required />
      Recruiting
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Human Resources" required />
      Human Resources
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Customer Support" required />
      Customer Support
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Data Science" required />
      Data Science
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Consulting" required />
      Consulting
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Accounting" required />
      Accounting
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Finance" required />
      Finance
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Venture Capital" required />
      Venture Capital
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Which category best describes your role?" name="job_category" value="Student" required />
      Student
    </label>
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="Which category best describes your role?"
        id="job_category_other_radio"
        name="job_category"
        value="Other"
        required
      />
      Other
    </label>
    <br />
  </div>
  <div class="control has-icons-left mt-sm">
    <input
      class="input"
      aria-label="Other selected"
      autocomplete="off"
      type="text"
      id="job_category_other_input"
      name="job_category_other_input"
      placeholder="If you selected other, enter it here"
    />
    <span class="icon is-left">
      📝
    </span>
  </div>
</div>
