<div class="field">
  <label class="label">What's your job search status?*</label>
  {{ if .Get "help" }}

  <p class="help">{{ .Get "help" }}</p>
  {{ end }}

  <div class="control">
    <label class="radio">
      <input
        type="radio"
        aria-label="Are you interested in hearing about job opportunities?"
        name="job_search_status"
        value="Actively applying"
        required
      />
      Actively applying
    </label>
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="Are you interested in hearing about job opportunities?"
        name="job_search_status"
        value="Casually looking"
        required
      />
      Casually looking
    </label>
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="Are you interested in hearing about job opportunities?"
        name="job_search_status"
        value="Not looking but open to offers"
        required
      />
      Not looking but open to offers
    </label>
    <br />
    <label class="radio">
      <input
        type="radio"
        aria-label="Are you interested in hearing about job opportunities?"
        name="job_search_status"
        value="Not looking or open to offers"
        required
      />
      Not looking or open to offers
    </label>
  </div>
</div>
