<div class="field">
  <label class="label">Do you identify as a Latinx professional in the tech industry?*</label>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Do you identify as a Latinx professional in the tech industry?"
        name="identify_as_latinx_in_tech" value="Yes" required>
      Yes
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Do you identify as a Latinx professional in the tech industry?"
        name="identify_as_latinx_in_tech" value="No" required>
      No
    </label>
  </div>
</div>