<div class="field">
  <label class="label">Do you identify as Latinx / a person of Latin American descent?*</label>
  {{ if .Get "help" }}<p class="help">{{ .Get "help" }}</p>{{ end }}
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Do you identify as Latinx?" name="identify_as_latinx" value="Yes" required> Yes
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Do you identify as Latinx?" name="identify_as_latinx" value="No" required> No
    </label>
  </div>
</div>
