<!-- LinkedIn -->
<!-- Pattern tested using https://regexr.com/-->
<!-- https://linkedin.com/in/frances-coronel -->
<!-- https://uk.linkedin.com/in/frances-coronel -->
<!-- https://www.linkedin.com/in/frances-coronel -->
<!-- https://www.linkedin.com/in/frances-coronel/ -->
<!-- linkedin.com/in/frances-coronel -->
<div class="field">
  <label class="label">What is your LinkedIn profile URL?*</label>
  <p class="help">Make sure to enter a valid LinkedIn profile URL formatted as <code>https://linkedin.com/in/name</code></p>
  <div class="control has-icons-left">
    <input class="input" aria-label="LinkedIn" autocomplete="off" type="url" name="linkedin_profile" placeholder="https://linkedin.com/in/name" pattern="^(?:http(s)?:\/\/)?([\w]+\.)?linkedin\.com\/in\/[A-Za-zÀ-ÖØ-öø-ÿ0-9_-]+\/?" minlength="14" required />
    <span class="icon is-left">
      💼
    </span>
  </div>
</div>
