<div class="field">
  <label class="label">LinkedIn Profile*</label>
  <p class="help">Please enter a valid LinkedIn profile URL formatted as https://linkedin.com/in/xyz</p>
  <div class="control has-icons-left">
    <input class="input" aria-label="LinkedIn" autocomplete="off" type="url" name="linkedin_profile"
      placeholder="https://linkedin.com/in/xyz" pattern="http(s)?:\/\/([\w]+\.)?linkedin\.com\/in\/[A-z0-9_-]+\/?"
      minlength="14" required>
    <span class="icon is-left">
      💼
    </span>
  </div>
</div>