{{ $label := "Where are you currently based?*" }}
{{ $help := "We can reach out with relevant opportunities based on your location." }}
<!-- Label -->
{{ if .Get "label" }}
  {{ if isset .Params "label" }}
    {{ $label = .Get "label" }}
  {{ end }}
{{ end }}
<!-- Helper Text -->
{{ if .Get "help" }}
  {{ if isset .Params "help" }}
    {{ $help = .Get "help" }}
  {{ end }}
{{ end }}

<div class="field">
  <label class="label mb-1">{{ $label }}</label>
  <div class="columns is-multiline">
    <div class="column">
      <div class="field mt-0">
        <label class="label">City*</label>
        <input class="input" aria-label="City" autocomplete="address-level2" type="text" name="city" placeholder="City" data-value-missing="Please include your city." required />
      </div>
    </div>
    <div class="column">
      <div class="field mt-0">
        {{ partial "content/fields/state.html" . }}
      </div>
    </div>
    <div class="column">
      <div class="field mt-0">
        {{ partial "content/fields/country.html" . }}
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/location.js"></script>
