<div class="field">
  <label class="label">What city are you based out of?*</label>
  <p class="help">This is so we can reach out with relevant info and opportunities based on your location.</p>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="San Francisco, CA" required>
      San Francisco, CA
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="New York, NY" required>
      New York, NY
    </label>
    <br>
     <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Los Angeles, CA" required>
      Los Angeles, CA
    </label>
    <br>
     <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Austin, TX" required>
      Austin, TX
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Chicago, IL" required>
      Chicago, IL
    </label>
    <br>
     <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Portland, OR" required>
      Portland, OR
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Seattle, WA" required>
      Seattle, WA
    </label>
    <br>
     <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Miami, FL" required>
      Miami, FL
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="San Jose, CA" required>
      San Jose, CA
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Denver, CO" required>
      Denver, CO
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Where are you based?" name="location" value="Other" id="location_other_radio_button" required>
      Other
    </label>
    <br>
  </div>
  <div class="control has-icons-left mt-sm">
    <input class="input" aria-label="Where are you based?" autocomplete="off" type="text" name="location_other_input" id="location_other_input" placeholder="If you selected other, please enter it here">
    <span class="icon is-left">
      📍
    </span>
  </div>
</div>
<script>
  document.getElementById("location_other_radio_button").addEventListener("change", () => {
    document.getElementById("location_other_input").required = this.checked;
  })
</script>
