<div class="field">
  <label class="label">How many years of experience do you have in your current role?</label>
  <div class="control has-icons-left">
    <input class="input" aria-label="Years of Experience" autocomplete="off" type="number" name="years_of_experience" placeholder="4" min="0" max="50">
    <span class="icon is-left">
      🕒
    </span>
  </div>
</div>
<div class="field">
  <label class="label">Which category best describes your role?*</label>
  <div class="control has-icons-left">
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Engineering" required>
      Engineering
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Product" required>
      Product
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Design" required>
      Design
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Operations" required>
      Operations
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Sales" required>
      Sales
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Marketing" required>
      Marketing
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Founder" required>
      Founder
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Recruiting" required>
      Recruiting
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Human Resources" required>
      Human Resources
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" name="job_category" value="Customer Support" required>
      Customer Support
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?" id="job_category_other_radio_button" name="job_category" value="No" required>
      Other
    </label>
    <br>
  </div>
  <div class="control has-icons-left mt-sm">
    <input class="input" aria-label="Other selected" autocomplete="off" type="text" id="job_category_other_input" name="job_category_other_input" placeholder="If you selected other, enter it here">
    <span class="icon is-left">
      📝
    </span>
  </div>
</div>
<script>
  document.getElementById("job_category_other_radio_button").addEventListener('change', function () {
    document.getElementById("job_category_other_input").required = this.checked;
  })

</script>
<div class="field">
  <label class="label">Your age?*</label>
  <div class="control has-icons-left">
    <label class="radio">
      <input type="radio" aria-label="Your age?" name="age" value="13-18" required>
      13-18
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your age?" name="age" value="18 to 24" required>
      18-24
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your age?" name="age" value="25-34" required>
      25-34
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your age?" name="age" value="35-44" required>
      35-44
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your age?" name="age" value="45-54" required>
      45-54
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your age?" name="age" value="55-64" required>
      55-64
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your age?" name="age" value="65+" required>
      65+
    </label>
    <br>
  </div>
</div>
