{{ $label := "" }}
{{ $name := "message" }}
<!-- Title -->
<!-- Default title: Anything else you'd like to add? -->
{{ if .Get "title" }}
{{ if isset .Params "title" }}
{{ $label = .Get "title" }}
{{ end }}
{{ else }}
{{ $label = "Anything else you'd like to add?" }}
{{ end }}
<!-- Name -->
{{ if .Get "name" }}
{{ $name = .Get "name" }}
{{ end }}
<div class="field">
  <label class="label">{{ $label }}{{ if .Get "required"}}*{{ end }}</label>
  {{ if .Get "help" }}<p class="help">{{ .Get "help" }}</p>{{ end }}
  <div class="control"><textarea class="textarea" aria-label="{{ $label }}" spellcheck="true" rows="5" name="{{$name}}"
      id="message" placeholder="Feel free to add any additional details here" {{ if .Get "required"}}required{{ end }}></textarea></div>
</div>
