{{ $label := "" }}
{{ if .Get "title" }}
  {{ if isset .Params "title" }}
    {{ $label = .Get "title" }}
  {{ end }}
{{ else }}
  {{ $label = "Anything else you'd like to add?" }}
{{ end }}
<div class="field">
  <label class="label">{{ $label }}{{ if .Get "required"}}*{{ end }}</label>
  <div class="control"><textarea class="textarea" aria-label="{{ $label }}" spellcheck="true" rows="5" name="{{ $label }}" id="message" placeholder="" {{ if .Get "required"}}required{{ end }}></textarea></div>
</div>
