<!-- Name -->
<div class="field">
  <label class="label">Your full name*</label>
  {{ if .Get "help" }}
  <p class="help">{{ .Get "help" }}</p>
  {{ end }}
  <div class="control has-icons-left">
    <input class="input" aria-label="Name" autocomplete="name" type="text" name="name" placeholder="Your full name" minlength="7" data-value-invalid="Please enter your full name" data-value-missing="Don't forget to enter your name" required>
    <span class="icon is-left">
      ✒️
    </span>
  </div>
</div>
