<div class="field">
  <label class="label">In which city do you want to lead a Techqueria Chapter?*</label>
  <p class="help">It can be a new chapter or an existing one.</p>
  <div class="columns is-multiline">
    <div class="column">
      <div class="field mt-0">
        <label class="label">City*</label>
        <input class="input" aria-label="City" autocomplete="address-level2" type="text" name="interested_city" placeholder="City" data-value-missing="Please include your city." required />
      </div>
    </div>
    <div class="column">
      <div class="field mt-0">
        {{ partial "content/fields/state.html" . }}
      </div>
    </div>
    <div class="column">
      <div class="field mt-0">
        {{ partial "content/fields/country.html" . }}
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/location.js"></script>
