<div class="field">
  <label class="label">Your pronouns*</label>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="female" required>
      She/her
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="male" required>
      He/him
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="non_binary" required>
      They/them
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="other" required>
      Other
    </label>
    <br>
  </div>
</div>
