<div class="field">
  <label class="label">Your pronouns*</label>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="Female" required>
      She/her
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="Male" required>
      He/him
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="Non-binary" required>
      They/them
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="Other" required>
      Other
    </label>
  </div>
</div>
