<!-- How did you first hear about Techqueria? -->
<div class="field">
  <label class="label">How did you first hear about Techqueria?*</label>
  <div class="control has-icons-left">
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?"
        name="referral" value="Yes" required>
      Word of Mouth
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?"
        name="referral" value="No" required>
      Social Media
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="How did you first hear about Techqueria?"
        name="referral" value="No" required>
      Other
    </label>
    <br>
    <input class="input" aria-label="Other selected" autocomplete="off" type="text" name="headshot_photo"
      placeholder="">
  </div>
</div>
