  <div class="field">
    <label class="label">Are you already a member of our Slack community?*</label>
    <p class="help">You can request an invite at <a href="https://techqueria.org/communities/slack">https://techqueria.org/communities/slack</a></p>
    <div class="control">
      <label class="radio">
        <input type="radio" aria-label="Are you already a member of our Slack community?" name="Are you already a member of our Slack community?" value="Yes" required>
        Yes
      </label>
      <br>
      <label class="radio">
        <input type="radio" aria-label="Are you already a member of our Slack community?" name="Are you already a member of our Slack community?" value="No" required>
        No
      </label>
      <br>
      <label class="radio">
        <input type="radio" aria-label="Are you already a member of our Slack community?" name="Are you already a member of our Slack community?" value="Requested an invite" required>
        Requested an invite
      </label>
    </div>
  </div>
