<div class="field">
  <label class="label">Are you already a member of our Slack community?*</label>
  <p class="help">You can request an invite at <a href="/communities/slack" rel="noopener">https://techqueria.org/slack</a></p>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Are you already a member of our Slack community?" name="already_in_slack"
        value="Yes" required>
      Yes
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="Are you already a member of our Slack community?" name="already_in_slack"
        value="No" required>
      No
    </label>
  </div>
</div>
