<!-- Label -->
{{ $label := "Send message" }}
{{ if .Get "label" }}
{{ if isset .Params "label" }}
{{ $label = .Get "label" }}
{{ end }}
{{ end }}
<!-- Button Class -->
{{ $classes := "button is-primary is-medium" }}
{{ if .Get "classes" }}
{{ if isset .Params "classes" }}
{{ $classes = .Get "classes" }}
{{ end }}
{{ end }}
<!-- Submit -->
<div class="field mt-sm">
  <div data-netlify-recaptcha="true"></div>
  <div class="control mt-sm">
    <button type="submit" class="{{ $classes }}">{{ $label }}</button>
  </div>
</div>
