<!-- Twitter -->
<!-- Pattern tested using https://regexr.com/-->
<!-- https://twitter.com/fvcproductions -->
<!-- https://www.twitter.com/fvcproductions -->
<!-- https://www.twitter.com/fvcproductions/ -->
<!-- twitter.com/fvcproductions -->
<!-- twitter.com/fvcproductions/ -->
<div class="field">
  <label class="label">Your Twitter Profile URL</label>
  <p class="help">Make sure to enter a valid Twitter profile URL formatted as <code>https://twitter.com/xyz</code></p>
  <div class="control has-icons-left">
    <input class="input" aria-label="Twitter" autocomplete="off" type="url" name="twitter_profile"
      placeholder="https://twitter.com/techqueria/?source=techqueria" minlength="11" pattern="^(?:http(s)?:\/\/)?([\w]+\.)?twitter\.com\/[A-z0-9_-]+\/?">
    <span class="icon is-left">
      🐦
    </span>
  </div>
</div>
