  <div class="field">
    <label class="label">Twitter Profile</label>
    <p class="help">Please enter a valid Twitter profile URL in the format of https://twitter.com/xyz</p>
    <div class="control has-icons-left">
      <input class="input" aria-label="Twitter" autocomplete="off" type="url" name="Twitter Profile" placeholder="https://twitter.com/techqueria" minlength="11" pattern="http(s)?:\/\/(.*\.)?twitter\.com\/[A-z0-9_]+\/?">
      <span class="icon is-left">
        🐦
      </span>
    </div>
  </div>
