<div class="field">
  <label class="label">What role would you like to volunteer in?*</label>
  <p class="help">There are more details below on what these different roles entail. We recommend starting out small and then if you'd like to take on additional tasks, you can always let us know!</p>
  <div class="control">
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Event Lead">
      Event Lead
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Partnership Lead">
      Partnership Lead
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Volunteers Lead">
      Volunteers Lead
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Marketing Lead - MailChimp">
      Marketing Lead - MailChimp
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Marketing Lead - PR/Comms">
      Marketing Lead - PR/Comms
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Community Lead - Slack">
      Community Lead - Slack
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Community Lead - Facebook Group">
      Community Lead - Facebook Group
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Community Moderator - Slack">
      Community Moderator - Slack
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Social Media Lead - Twitter">
      Social Media Lead - Twitter
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Social Media Lead - Instagram">
      Social Media Lead - Instagram
    </label>
    <br>
    <label class="radio">
      <input required type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in"
        value="Other">
      Other
    </label>
  </div>
</div>
