<div class="field">
  <label class="label">What chapter are you interested in volunteering for?*</label>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="What chapter are you interested in volunteering for?" name="chapter_to_volunteer_for" value="San Franciso, CA">
      San Franciso, CA
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What chapter are you interested in volunteering for?" name="chapter_to_volunteer_for" value="Los Angeles, CA">
      Los Angeles, CA
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What chapter are you interested in volunteering for?" name="chapter_to_volunteer_for" value="New York City, NY">
      New York City, NY
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What chapter are you interested in volunteering for?" name="chapter_to_volunteer_for" value="Austin, TX">
      Austin, TX
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What chapter are you interested in volunteering for?" name="chapter_to_volunteer_for" value="Chicago, IL">
      Chicago, IL
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What chapter are you interested in volunteering for?" name="chapter_to_volunteer_for" value="Any chapter!">
      Any chapter!
    </label>
  </div>
</div>
<div class="field">
  <label class="label">What role would you like to volunteer in?*</label>
  <p class="help">Please see more details below for what these roles entail. We recommend starting out small and then if you'd like to take on additional tasks, you can always let us know!</p>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Event Lead">
      Event Lead
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Partnership Lead">
      Partnership Lead
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Volunteers Lead">
      Volunteers Lead
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Marketing Lead - MailChimp">
      Marketing Lead - MailChimp
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Marketing Lead - PR/Comms">
      Marketing Lead - PR/Comms
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Community Lead - Slack">
      Community Lead - Slack
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Community Lead - Facebook Group">
      Community Lead - Facebook Group
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Community Moderator - Slack">
      Community Moderator - Slack
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Social Media Lead - Twitter">
      Social Media Lead - Twitter
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Social Media Lead - Instagram">
      Social Media Lead - Instagram
    </label>
    <br>
    <label class="radio">
      <input type="radio" aria-label="What role would you like to volunteer in?" name="role_to_volunteer_in" value="Other">
      Other
    </label>
  </div>
</div>
