<!-- Image -->
{{ if and (.Params.image) (not .Params.hideImage) }}
<div class="content">
  <div class="has-text-centered mb-1">
    <img class="image image__hero lozad" src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}">
  </div>
</div>
{{ end }}
<!-- Content -->
<div class="content">
  <div class="mt-2 mb-2">
    <!-- Article info -->
    {{ partial "content/card/card-info.html" . }}
  </div>
  <!-- Content with anchor links -->
  {{ partial "content/content.html" . }}
  <!-- Learn more link -->
  {{ if .Params.link }}
  <p>Learn more at <a href="{{ .Params.link }}" target="_blank" rel="noopener">{{ .Params.link }}</a></p>
  {{ end }}
</div>
<!-- Author - articles written -->
{{ partial "content/authors/author-articles-written.html" . }}
<!-- Author - articles featured in -->
{{ partial "content/authors/author-featured.html" . }}
<!-- Event - press articles -->
{{ partial "content/authors/author-articles.html" . }}
<!-- Event - organizers -->
{{ partial "content/authors/author-organizers.html" . }}
<!-- Event - companies -->
{{ partial "content/authors/author-companies.html" . }}
