<a href="{{ .RelPermalink }}">
  <div class="card card-equal-height">
    {{ if .Params.image }}
      <!-- Image -->
      <div class="card-image">
        <figure class="image">
          <img src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}" class="lozad card-image--figure">
        </figure>
      </div>
    {{ end }}
    <!-- Title -->
    <header class="card-header">
      <h3 class="card-header-title">
        {{ if .Params.partnerEvent }}Partner Event: {{ end }}{{ .Title }}{{ if .Params.flag }} {{ .Params.flag }}{{ end }}
      </h3>
    </header>
    <!-- Content -->
    <div class="card-content">
      <div
        class="content">
        <!-- Description -->
        <p>
          {{ if .Description }}
            {{ .Description | truncate 150 | safeHTML }}
          {{ else }}
            {{ .Summary | truncate 150 | safeHTML }}
          {{ end }}
        </p>
        <!-- More Info -->
        {{ partial "content/info.html" . }}
        {{ partial "content/info-team-member.html" . }}
      </div>
    </div>
  </div>
</a>
