<a {{ if .Params.link }} href="{{ .Params.link }}" target="_blank" rel="noopener" {{ else }} href="{{ .RelPermalink }}" {{ end }}>
  <div class="card card-equal-height {{ if .Params.categories }}{{ delimit .Params.categories " , " }}{{ end }}">
    <!-- Image -->
    {{ if .Params.image }}
    <div class="card-image">
      <figure class="image">
        <img src="{{ .Params.image }}" data-src="{{ .Params.image }}" alt="{{ .Title }}" class="lozad card-image--figure">
      </figure>
    </div>
    {{ end }}
    <!-- Title -->
    <header class="card-header">
      <h3 class="card-header-title">
        {{ if .Params.partnerEvent }}Partner Event:
        {{ end }}
        {{ .Title }}
      </h3>
    </header>
    <!-- Content -->
    <div class="card-content">
      <div class="content">
        <!-- Description -->
        <p>
          {{ if .Description }}
          {{ .Description | safeHTML }}
          {{ else }}
          {{ .Summary | safeHTML }}
          {{ end }}
        </p>
        <!-- More Info -->
        {{ partial "content/info.html" . }}
      </div>
    </div>
  </div>
</a>
