<!-- Children Pages -->
<div class="columns is-multiline mt-1">
  <!-- Defining Pages -->
  {{ $paginator := .Paginator.Pages }}
  <!-- Union -->
  {{ $pages := $paginator | union (.Sections) }}
  <!-- Default sorting option is By Title -->
  {{ $rangePages := $pages.ByTitle }}
  <!-- Sorting Option: Latest Posts First -->
  {{ if .Params.sortLatestFirst }}
    {{ $rangePages = $pages.ByDate.Reverse }}
  <!-- Sorting Option: Oldest Posts First -->
  {{ else if .Params.sortOldestFirst }}
    {{ $rangePages = $pages.ByDate }}
  <!-- Sorting Option: By Weight -->
  {{ else if .Params.sortByWeight }}
    {{ $rangePages = $pages.ByWeight }}
  {{ end }}
  <!-- Cards -->
  {{ $partialChild := "content/child.html" }}
  {{ if .Params.biggerCards }}
    {{ $partialChild = "content/child-bigger.html" }}
  {{ end }}
  <!-- Looping -->
  <!-- Sorting Option: Latest Posts First -->
  {{ range $rangePages }}
    {{ partial $partialChild . }}
  {{ end }}
</div>
