<div class="column is-one-third-desktop is-half-tablet">
  <a {{ if .url }}href="{{ .url }}" rel="noopener" target="_blank"{{ end}}>
    <div class="card card-equal-height">
        <!-- Image -->
        <div class="card-image">
          <figure class="image">
              <img
              {{ if .logo }}
                src='{{ .logo.original.url }}'
                data-src='{{ .logo.original.url }}'
              {{else}}
                src="/assets/img/banners/eventbrite.png"
                data-src="/assets/img/banners/eventbrite.png"
              {{end}}
              alt="{{ .name }}" class="lozad card-image--figure">
          </figure>
        </div>
      <!-- Title -->
      <header class="card-header">
        <h3 class="card-header-title">
          {{ .name.text }}
        </h3>
      </header>
      <!-- Content -->
      <div class="card-content">
        <div
          class="content">
          <!-- Description -->
          <p>
            {{ if .description }}
              {{ .description.text | truncate 150 | safeHTML }}
            {{ end }}
          </p>
          <!-- Date -->
          {{ if .start.local }}
            <p class="has-text-weight-light mt-sm has-text-dark is-size-7">{{ .start.local | dateFormat "Monday, Jan 2, 2006" }} </p>
          {{ end }}
        </div>
      </div>
    </div>
  </a>
</div>
