<section class="hero is-medium is-danger is-bold">
  <div class="hero-body">
    <div
      class="container">
      <!-- Title -->
      <h1 class="title">
        {{ if .Params.partnerEvent }}Partner Event:
        {{ end }}
        {{ .Title }}
      </h1>
      <!-- Description -->
      <p class="subtitle">
        {{ if .Description }}
          {{ .Description | truncate 150 | safeHTML }}
        {{ else }}
          {{ .Summary | truncate 150 | safeHTML }}
        {{ end }}
      </p>
      <!-- More Info -->
      {{ partial "content/info.html" . }}
      <!-- Links -->
      {{ partial "content/links.html" . }}
    </div>
  </div>
</section>
