<!-- Description -->
<p class="subtitle">
  {{ if .Description }}
  {{ .Description | truncate 100 | safeHTML }}
  {{ else }}
  {{ .Summary | truncate 100 | safeHTML }}
  {{ end }}
</p>
<!-- Location -->
{{ with .Params.location }}
<p class="has-text-weight-light mt-sm has-text-dark">{{ . }}</p>
{{ end }}
<!-- Role -->
{{ with .Params.role }}
<p class="has-text-weight-light mt-sm has-text-dark">{{ . }}</p>
{{ end }}
<!-- Date -->
{{ if not .PublishDate.IsZero }}
<p class="has-text-weight-light mt-sm has-text-dark">{{ dateFormat "Monday - January 2, 2006" .Date }}</p>
{{ end }}
<!-- Reading Time & Word Count -->
{{- if not .Params.noTimeEstimate }}
{{- if gt .ReadingTime 1 }}
{{- if .WordCount }}
<p class="has-text-weight-light mt-sm has-text-dark">{{ .ReadingTime }}
  min read ∙
  {{ .WordCount }}
  words</p>
{{- end }}
{{- end }}
{{- end }}
