<!-- Location -->
{{ with .Params.location }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">{{ . }}</p>
{{ end }}
<!-- Publication -->
{{ with .Params.publication }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">{{ . }}</p>
{{ end }}
<!-- Date -->
{{ if not .PublishDate.IsZero }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">{{ dateFormat "Monday - January 2, 2006" .Date }}</p>
{{ end }}
<!-- Tier -->
{{ with .Params.tier }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">{{ . }}</p>
{{ end }}
<!-- Reading Time & Word Count -->
{{- if not .Params.noTimeEstimate }}
{{- if gt .ReadingTime 1 }}
{{- if .WordCount }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">{{ .ReadingTime }}
  min read ∙
  {{ .WordCount }}
  words</p>
{{- end }}
{{- end }}
{{- end }}
