<!-- Team Member - Current Role -->
{{ if .Params.roles }}
  {{ if in .Params.roles "board-member" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>Board Member{{ end }}
  {{ if in .Params.roles "ceo" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>CEO{{ end }}
  {{ if in .Params.roles "co-founder" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>Co-founder{{ end }}
  {{ if in .Params.roles "cto" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>CTO{{ end }}
  {{ if in .Params.roles "current-organizer" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>Current Organizer{{ end }}
  {{ if in .Params.roles "past-board-member" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>Past Board Member{{ end }}
  {{ if in .Params.roles "past-organizer" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>Past Organizer{{ end }}
  {{ if in .Params.roles "ux-consultant" }}<p class="has-text-weight-light mt-sm has-text-dark is-size-7"><span class="mr-sm">💼</span>UX Consultant{{ end }}
{{ end }}
<!-- Team Member - Location -->
{{ if .Params.locations }}
<p class="has-text-weight-light mt-sm has-text-dark is-size-7">
  <span class="mr-sm">📍</span>
  {{ if in .Params.locations "austin" }}Austin{{ end }}
  {{ if in .Params.locations "bay-area" }}Bay Area{{ end }}
  {{ if in .Params.locations "los-angeles" }}Los Angeles{{ end }}
  {{ if in .Params.locations "nyc" }}New York City{{ end }}
</p>
{{ end }}
<!-- Team Member - Article Count -->
{{ partial "content/article-count.html" . }}
