<footer class="footer">
  <div class="container">
    <div class="columns v--flex-wrap">
      <!-- Who We Are -->
      <div class="column is-full-mobile is-half-tablet is-one-two-fifths-desktop">
        {{ partialCached "base/footer/who-we-are.html" . }}

      </div>
      <div class="column is-1 is-hidden-mobile"></div>
      <!-- Communities -->
      <div class="column is-full-mobile is-half-tablet is-one-fifth-desktop">
        {{ partialCached "base/footer/communities.html" . }}

      </div>
      <!-- Chapters -->
      <div class="column is-full-mobile is-half-tablet is-one-fifth-desktop">
        {{ partialCached "base/footer/chapters.html" . }}

      </div>
      <!-- Sitemap -->
      <div class="column is-full-mobile is-half-tablet is-one-fifth-desktop">
        {{ partialCached "base/footer/sitemap.html" . }}

      </div>
    </div>
    <br />
    <!-- Copyright -->
    {{ partialCached "base/footer/copyright.html" . }}

    <!-- Social Icons -->
    {{ partialCached "base/footer/social-icons.html" . }}

    <!-- Netlify -->
    {{ partialCached "base/footer/netlify.html" . }}

  </div>
</footer>
