<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <!-- Who We Are -->
        {{ partialCached "base/footer/who-we-are.html" . }}
        <!-- Language Dropdown -->
        {{ partial "base/footer/language-dropdown.html" . }}
      </div>
      <div class="column is-1 is-hidden-mobile"> </div>
      <!-- Sitemap -->
      {{ partialCached "base/footer/sitemap.html" . }}
      <!-- Communities -->
      {{ partialCached "base/footer/communities.html" . }}
    </div>
    <br>
    <!-- Copyright -->
    {{ partialCached "base/footer/copyright.html" . }}
    <!-- Social Icons -->
    {{ partialCached "base/footer/social-icons.html" . }}
    <!-- Netlify -->
    {{ partialCached "base/footer/netlify.html" . }}
  </div>
</footer>
