<footer class="footer">
  <div class="container">
    <div class="columns">
      <!-- Who We Are -->
      <div class="column is-3">
        {{ partialCached "base/footer/who-we-are.html" . }}
      </div>
      <div class="column is-1 is-hidden-mobile"></div>
      <!-- Communities -->
      <div class="column is-3">
        {{ partialCached "base/footer/communities.html" . }}
      </div>
      <!-- Chapters -->
      <div class="column is-3">
        {{ partialCached "base/footer/chapters.html" . }}
      </div>
      <!-- Sitemap -->
      <div class="column is-2">
        {{ partialCached "base/footer/sitemap.html" . }}
      </div>
    </div>
    <br>
    <!-- Copyright -->
    {{ partialCached "base/footer/copyright.html" . }}
    <!-- Social Icons -->
    {{ partialCached "base/footer/social-icons.html" . }}
    <!-- Netlify -->
    {{ partialCached "base/footer/netlify.html" . }}
  </div>
</footer>
