  <p class="mb-1 is-size-5">
    <b>Chapters</b>
  </p>
  <!-- Sections & Pages - Communities -->
  {{ with .Site.GetPage "/chapters" }}
  {{ range (.Sections | union .Pages).ByTitle }}
  <!-- Looping through communities-->
  <p>
    <a {{ if .Params.link }}href="{{ .Params.link }}" target="_blank" rel="noopener"
      {{ else }}href="{{ .RelPermalink }}" {{ end }}class="link--techqueria">
      {{ if .Params.identifier }}
      {{ .Title }}
      <i class="footer-icons {{ .Params.identifier }}" alt="{{ .Params.Title }}" title="{{ .Params.Title }}"></i>
      {{ else }}
      {{ .Title }}
      {{ end }}
    </a>
  </p>
  {{ end }}
  {{ end }}
