{{ define "main" }}
<!-- Homepage Hero -->
<section class="hero is-info is-primary is-fullheight is-homepage is-fancy">
  <div class="hero-body background-image" style="background-image:url('/assets/img/homepage.jpg');">
    <div class="container has-text-centered ">
      <h1 class="title">
        {{ i18n "homepage_techqueria_title" }}
      </h1>
      <br>
      <h2 class="subtitle">
        {{ i18n "homepage_techqueria_subtitle_part_1" }}
        <br>
        {{ i18n "homepage_techqueria_subtitle_part_2" }}
      </h2>
    </div>
  </div>
</section>
<!-- Pages -->
{{ $sitemapRegularPages := where $.Site.Pages ".Params.sitemap" "!=" nil }}
{{ $sitemapSections := where $.Site.Sections ".Params.sitemap" "!=" nil }}
{{ $sitemapAllPages := $sitemapRegularPages | union $sitemapSections }}
{{ $sitemapPages := $sitemapAllPages.ByTitle }}
<!-- Please note this page will need to be updated depending on number of pages -->
<!-- First 3 Pages -->
<section class="section homepage">
  <div class="container">
    <div class="columns is-multiline">
      {{ range first 3 $sitemapPages }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/card.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- CTA -->
{{ partial "content/cta/cta.sponsor.html" . }}
<!-- Second 3 Pages -->
<section class="section homepage">
  <div class="container">
    <div class="columns is-multiline">
      {{ range first 3 (after 3 $sitemapPages) }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/card.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- CTA -->
{{ partial "content/cta/cta.member.html" . }}
<!-- Third 3 Pages -->
<section class="section homepage">
  <div class="container">
    <div class="columns is-multiline">
      {{ range first 3 (after 6 $sitemapPages) }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/card.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- CTA -->
{{ partial "content/cta/cta.donate.html" . }}
<!-- Last 3 Pages -->
<section class="section homepage">
  <div class="container">
    <div class="columns is-multiline">
      {{ range first 3 (after 9 $sitemapPages) }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/card.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
