{{ define "main" }}
  <!-- Homepage Hero -->
  <section class="hero is-info is-primary is-large is-homepage">
    <div class="hero-body background-image" style="background-image:url('/assets/img/homepage/homepage.jpg');">
      <div class="container has-text-centered ">
        <h1 class="title">
         ¡Bienvenidos!
        </h1>
        <h2 class="subtitle">
          {{ i18n "techqueria_is" }}
        </h2>
      </div>
    </div>
  </section>
  <!-- Children Pages -->
  <!-- Pages -->
  {{ $sitemapCategory := .Site.Taxonomies.categories.sitemap }}
  {{ $sitemapCategoryPages := $sitemapCategory.Pages }}
  {{ $pages := $sitemapCategoryPages.ByTitle }}
  <!-- Please note this page will need to be updated depending on number of pages -->
  <!-- First 3 Pages -->
    <section class="section page"> <div class="container">
      <div class="columns is-multiline">
        {{ if .Site.Taxonomies.categories.sitemap }}
          {{ range first 3 $pages }}
            <div class="column is-one-third-desktop is-full-touch">
              {{ partial "content/card.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- CTA - Become a sponsor -->
  {{ partial "content/cta/cta.sponsor.html" . }}
  <!-- Second 3 Pages -->
  <section class="section page">
    <div class="container">
      <div class="columns is-multiline">
        {{ if .Site.Taxonomies.categories.sitemap }}
          {{ range first 3 (after 3 $pages) }}
            <div class="column is-one-third-desktop is-full-touch">
              {{ partial "content/card.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- CTA - Become a sponsor -->
  {{ partial "content/cta/cta.shop.html" . }}
  <!-- Third 3 Pages -->
  <section class="section page">
    <div class="container">
      <div class="columns is-multiline">
        {{ if .Site.Taxonomies.categories.sitemap }}
          {{ range first 3 (after 6 $pages) }}
            <div class="column is-one-third-desktop is-full-touch">
              {{ partial "content/card.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- CTA - Join Slack -->
  {{ partial "content/cta/cta.slack.html" . }}
  <!-- Last 3 Pages -->
  <section class="section page">
    <div class="container">
      <div class="columns is-multiline">
        {{ if .Site.Taxonomies.categories.sitemap }}
          {{ range first 3 (after 9 $pages) }}
            <div class="column is-one-third-desktop is-full-touch">
              {{ partial "content/card.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
