{{ if .IsTranslated }}
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button aria-controls="language-dropdown-menu" aria-haspopup="true" class="button">
      <span>{{ .Language.LanguageName }}</span>
      <span class="icon is-small">
        <i aria-hidden="true" class="fas fa-angle-down"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="language-dropdown-menu" role="menu">
    <div class="dropdown-content">
      {{ range .Translations }}
      <a href="{{ .RelPermalink }}" class="dropdown-item">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
