{{ define "main" }}
<section class="hero is-danger is-bold is-large">
  <div class="hero-body">
    <div class="container has-text-centered content">
      <h1 class="title mb-1">
        🚫 404
      </h1>
      <h2 class="subtitle">
        Woops, this page doesn't seem to exist! ☠️
      </h2>
      <h2 class="subtitle">Try going back
        <a class="hero-link" href="/">home</a> or
        <a class="hero-link" href="/contact/">contact us</a> to find what you're looking for.
      </h2>
    </div>
  </div>
</section>
{{ end }}
