{{ define "main" }}
<!-- Homepage Hero -->
<section class="hero is-info is-primary is-large is-homepage">
  <div class="hero-body background-image" style="background-image:url('/assets/img/homepage/homepage.jpg');">
    <div class="container has-text-centered ">
      <h1 class="title">
        Bienvenidx a Techqueria!
      </h1>
      <h2 class="subtitle">
        We're a community of Latinx professionals
        <br> in the tech industry.
      </h2>
    </div>
  </div>
</section>
<!-- Children Pages -->
<!-- Pages -->
{{ $pages := where .Site.RegularPages "Type" "page" }}
<!-- Pages & Section Pages -->
{{ $pages := $pages | union (.Site.Sections) }}
<!-- Pages By Title -->
{{ $pages := $pages.ByTitle }}
<!-- Please note this page will need to be updated depending on number of pages -->
<!-- First 3 Pages -->
<section class="section page">
  <div class="container">
    <div class="columns is-multiline">
      <!-- Looping -->
      {{ range first 3 $pages }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/_index.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- CTA - Join Slack -->
{{ partial "content/cta/cta.slack.html" . }}
<!-- Second 3 Pages -->
<section class="section page">
  <div class="container">
    <div class="columns is-multiline">
      {{ range first 3 (after 3 $pages) }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/_index.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- CTA - Become a sponsor -->
{{ partial "content/cta/cta.sponsor.html" . }}
<!-- Third 3 Pages -->
<section class="section page">
  <div class="container">
    <div class="columns is-multiline">
      {{ range first 3 (after 6 $pages) }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/_index.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- CTA - Subscribe to newsletter -->
{{ partial "content/cta/cta.newsletter.html" . }}
<!-- Last 3 Pages -->
<section class="section page">
  <div class="container">
    <div class="columns is-multiline">
      {{ range first 3 (after 9 $pages) }}
      <div class="column is-one-third-desktop is-full-touch">
        {{ partial "content/card/_index.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
