{{ define "main" }}
<!-- Homepage Hero -->
<section class="hero is-info is-primary is-large is-homepage">
  <div class="hero-body background-image" style="background-image:url('/assets/img/homepage.jpg');">
    <div class="container has-text-centered ">
      <h1 class="title">
        Bienvenidx a Techqueria!
      </h1>
      <h2 class="subtitle">
        We're a community of Latinx professionals
        <br> in the tech industry.
      </h2>
    </div>
  </div>
</section>
<!-- Children Pages -->
{{ partial "content/children/children.home.html" . }}
{{ end }}