<div class="column is-full-tablet is-one-third-desktop">
  <div class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/assets/img/summit/schedule/day-1.png" data-src="/assets/img/summit/schedule/day-1.png" class="lozad" alt="Day 1 - LHM Summit" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-1 mb-0">Day 1</h2>
        <p class="mb-0">Wednesday, October 7th</p>
        <p class="has-text-weight-medium">Getting Hired</p>
      </div>
    </div>
  </div>
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-sm">Before Hours<br />Networking & Expo</h4>
  <p class="is-size-8">9 AM-11 AM PT // 11 AM-1 PM CT // 12 PM-2 PM ET</p>
  <p class="mt-sm">Mingle with other attendees 1:1 and explore the expo booths hosted by our partners</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0">Welcome & Keynote</h4>
  <p class="is-size-8">11 AM PT // 1 PM CT // 2 PM ET</p>
  <!-- <p class="mt-sm"><a href="https://linkedin.com/in/fvcproductions" rel="noopener" target="_blank">Frances Coronel</a>, <a href="https://linkedin.com/in/fvntr" rel="noopener" target="_blank">Felipe Ventura</a></p>
  <p class="is-size-8">An update on Techqueria and the future we envision</p> -->
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Creating Opportunity</h4>
  <p class="is-size-8">11:45 AM PT // 1:45 PM CT // 2:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">TBD</h4>
  <p class="is-size-8">11:45 AM PT // 1:45 PM CT // 2:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Getting Into Tech</h4>
  <p class="is-size-8">12:30 PM PT // 2:30 PM CT // 3:30 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Recruiter Panel</h4>
  <p class="is-size-8">12:30 PM PT // 2:30 PM CT // 3:30 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">Speed Networking</h4>
  <p class="is-size-8">1:15 PM PT // 3:15 PM CT // 4:15 PM ET</p>
  <p class="mt-sm">Mingle with other attendees 1:1 or explore the expo booths hosted by our partners</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Level Up & Gain Visibility</h4>
  <p class="is-size-8">2 PM PT // 4 PM CT // 5 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Salary Negotiation 101</h4>
  <p class="is-size-8">2 PM PT // 4 PM CT // 5 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">AMA with Recruiters - Technical Roles</h4>
  <p class="is-size-8">2:45 PM PT // 4:45 PM CT // 5:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">AMA with Recruiters - Non-Technical Roles</h4>
  <p class="is-size-8">2:45 PM PT // 4:45 PM CT // 5:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">After Hours<br />Networking & Expo</h4>
  <p class="is-size-8">3:30 PM-5 PM PT // 5:30 PM CT-7 PM CT // 6:30 PM PT-8 PM ET</p>
  <p class="mt-sm">Mingle with other attendees 1:1 and explore the expo booths hosted by our partners</p>
</div>
