<div class="column is-full-tablet is-one-third-desktop pd-2">
  <div class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/assets/img/summit/schedule/day-2.png" data-src="/assets/img/summit/schedule/day-2.png" class="lozad" alt="Day 2 - LHM Summit" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-1 mb-0">Day 2</h2>
        <p class="mb-0">Thursday, October 8th</p>
        <p class="has-text-weight-medium">Career Growth</p>
      </div>
    </div>
  </div>
  <p class="mt-1">9 AM-11 AM PT // 11 AM-1 PM CT // 12 PM-2 PM ET</p>
  <h4 class="title is-4 has-text-weight-semibold mb-0">Before Hours<br />Networking & Expo</h4>
  <br /><br />
  <p>11 AM PT // 1 PM CT // 2 PM ET</p>
  <h4 class="title is-4 has-text-weight-medium mb-0">
    Keynote with Max Tuchman, Latinx CEO + Co-Founder of Caribu
  </h4>
  <br /><br />
  <p>11:45 AM PT // 1:45 PM CT // 2:45 PM ET</p>
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        1) Designing with Inclusion
      </h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        2) Claim Your Space to Challenge the Imposter Experience
      </h4>
    </div>
  </div>
  <br />
  <p>12:30 PM PT // 2:30 PM CT // 3:30 PM ET</p>
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        1) Como la Flor - Recognizing Toxic Work Environments
      </h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        2) Your Personal Guide to Understanding Your Recruiter
      </h4>
    </div>
  </div>
  <br />
  <p>1:15 PM PT // 3:15 PM CT // 4:15 PM ET</p>
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">During Hours<br />Performers, Networking & Expo</h4>
  <br />
  <br />
  <p>2 PM PT // 4 PM CT // 5 PM ET</p>
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        1) Day in the Life of a PM
      </h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        2) Getting Promoted to Senior Engineer
      </h4>
    </div>
  </div>
  <br />
  <p>2:45 PM PT // 4:45 PM CT // 5:45 PM ET</p>
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        1) Panel with Community Managers
      </h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        2) Latinas in Engineering
      </h4>
    </div>
  </div>
  <br />
  <p>3:30 PM PT // 5:30 PM CT // 6:30 PM ET</p>
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        1) Bridging the Gap between Education & Career in Tech
      </h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">
        2) Decolonizing Your Career Growth
      </h4>
    </div>
  </div>
  <br />
  <p>4:15 PM-5 PM PT // 6:15 PM CT-7 PM CT // 7:15 PM PT-8 PM ET</p>
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">After Hours<br />Performers, Networking & Expo</h4>
</div>
