<div class="column is-full-tablet is-one-third-desktop pd-2">
  <div class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/assets/img/summit/2020/schedule/day-1.png" data-src="/assets/img/summit/2020/schedule/day-1.png" class="lozad" alt="Day 1 - LHM Summit" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-1 mb-0">Day 1</h2>
        <p class="mb-0">Wednesday, October 7th</p>
        <p class="has-text-weight-medium">Getting Hired</p>
      </div>
    </div>
  </div>
  <p class="mt-1">9 AM-11 AM PT // 11 AM-1 PM CT // 12 PM-2 PM ET</p>
  <h4 class="title is-4 has-text-weight-semibold mb-0">Before Hours<br />Networking & Expo</h4>
  <br /><br />
  <p>11 AM PT // 1 PM CT // 2 PM ET</p>
  <h4 class="title is-4 has-text-weight-medium mb-0">Welcome from Techqueria with the Executive Directors, Frances & Felipe</h4>
  <br /><br />
  <p>11:45 AM PT // 1:45 PM CT // 2:45 PM ET</p>
  <div class="columns is-multiline">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">1) Non-Technical Careers @ Hyper-Growth Startups</h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">2) Fireside Chat with Regional VP of Latin America & Caribbean at Zendesk</h4>
    </div>
  </div>
  <br />
  <p>12:30 PM PT // 2:30 PM CT // 3:30 PM ET</p>
  <div class="columns is-multiline">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">1) Getting Hired Into Tech</h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">2) Interview Prep</h4>
    </div>
  </div>
  <br />
  <p>1:15 PM PT // 3:15 PM CT // 4:15 PM ET</p>
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">During Hours<br />Performers, Networking & Expo</h4>
  <br />
  <br />
  <p>2 PM PT // 4 PM CT // 5 PM ET</p>
  <div class="columns is-multiline">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">1) Level Up & Gain Visibility</h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">2) Salary Negotiation 101</h4>
    </div>
  </div>
  <br />
  <p>2:45 PM PT // 4:45 PM CT // 5:45 PM ET</p>
  <div class="columns is-multiline">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">1) AMA with Technical Recruiters</h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">2) AMA with Non-Technical Recruiters</h4>
    </div>
  </div>
  <br />
  <p>3:30 PM PT // 5:30 PM CT // 6:30 PM ET</p>
  <div class="columns is-multiline">
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">1) Building an International Remote Startup</h4>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">2) Overcoming Marianismo & Elevating Your Career</h4>
    </div>
  </div>
  <br />
  <p>4:15 PM-5 PM PT // 6:15 PM CT-7 PM CT // 7:15 PM PT-8 PM ET</p>
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">After Hours<br />Performers, Networking & Expo</h4>
</div>
