<div class="column is-full-tablet is-one-third-desktop">
  <div class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/assets/img/summit/schedule/day-3.png" data-src="/assets/img/summit/schedule/day-3.png" class="lozad" alt="Day 3 - LHM Summit" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-1 mb-0">Day 3</h2>
        <p class="mb-0">Friday, October 9th</p>
        <p class="has-text-weight-medium">Celebrating Community</p>
      </div>
    </div>
  </div>
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-sm">Before Hours<br />Networking & Expo</h4>
  <p class="is-size-8">9 AM-11 AM PT // 11 AM-1 PM CT // 12 PM-2 PM ET</p>
  <p class="mt-sm">Mingle with other attendees 1:1 and explore the expo booths</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0">Virtual Fireside Chat with Netflix</h4>
  <p class="is-size-8">11 AM PT // 1 PM CT // 2 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Panel En Español</h4>
  <p class="is-size-8">11:45 AM PT // 1:45 PM CT // 2:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Spotlighting Dreamers in Tech</h4>
  <p class="is-size-8">11:45 AM PT // 1:45 PM CT // 2:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Finding Community in ERGs</h4>
  <p class="is-size-8">12:30 PM PT // 2:30 PM CT // 3:30 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Navigating Success as a Queer Latinx in Tech</h4>
  <p class="is-size-8">12:30 PM PT // 2:30 PM CT // 3:30 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">During Hours<br />Networking & Expo</h4>
  <p class="is-size-8">1:15 PM PT // 3:15 PM CT // 4:15 PM ET</p>
  <p class="mt-sm">Mingle with other attendees 1:1 or explore the expo booths</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">The Magic of Afro-Latinidad</h4>
  <p class="is-size-8">2 PM PT // 4 PM CT // 5 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Civic Tech Panel</h4>
  <p class="is-size-8">2 PM PT // 4 PM CT // 5 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Latinx Podcast Panel</h4>
  <p class="is-size-8">2:45 PM PT // 4:45 PM CT // 5:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Fireside Chat on Your Right to Vote</h4>
  <p class="is-size-8">2:45 PM PT // 4:45 PM CT // 5:45 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Accessibility in Tech</h4>
  <p class="is-size-8">3:30 PM PT // 5:30 PM CT // 6:30 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-medium mb-0 mt-0">Showing up as Afro-Latinx in the Workplace</h4>
  <p class="is-size-8">3:30 PM PT // 5:30 PM CT // 6:30 PM ET</p>
  <br />
  <h4 class="title is-4 has-text-weight-semibold mb-0 mt-0">After Hours<br />Networking & Expo</h4>
  <p class="is-size-8">4:15 PM-5 PM PT // 6:15 PM CT-7 PM CT // 7:15 PM PT-8 PM ET</p>
  <p class="mt-sm">Mingle with other attendees 1:1 and explore the expo booths</p>
</div>
