<!-- Twemoji -->
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<!-- Custom JS -->
<script src="/assets/js/app.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
{{ partial "base/scripts/gtm" . }}
<!-- Service Worker -->
{{ partial "base/scripts/service-worker" . }}
<!-- Sentry -->
{{ partial "base/scripts/sentry" . }}
<!-- HubSpot -->
<!-- {{ partial "base/scripts/hubspot" . }} -->
<!-- Facebook Messenger -->
<!-- {{ partial "base/scripts/messenger" . }} -->
<!-- Phrase App -->
<!-- {{ partial "base/scripts/phrase-app" . }} -->
