<!-- Twemoji -->
{{ partial "base/scripts/twemoji" . }}
<!-- Custom JS -->
<script src="/assets/js/app.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
{{ partial "base/scripts/gtm" . }}
<!-- Service Worker -->
{{ partial "base/scripts/service-worker" . }}
<!-- Sentry -->
{{ partial "base/scripts/sentry" . }}
<!-- HubSpot -->
<!-- {{ partial "base/scripts/hubspot" . }} -->
<!-- Facebook Messenger -->
<!-- {{ partial "base/scripts/messenger" . }} -->
<!-- Phrase App -->
<!-- {{ partial "base/scripts/phrase-app" . }} -->
<!-- Help Scout -->
{{ partial "base/scripts/help-scout" . }}
<!-- Netlify Identity -->
{{ partial "base/scripts/netlify-identity" . }}
