<!-- Twemoji -->
<script src="https://twemoji.maxcdn.com/2/twemoji.min.js?11.0"></script>
<!-- Custom JS -->
<script src="/assets/js/app.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
{{ partial "base/scripts/gtm" . }}
<!-- Service Worker -->
{{ partial "base/scripts/service-worker" . }}
<!-- HubSpot -->
<!-- {{ partial "base/scripts/hubspot" . }} -->
<!-- Facebook Messenger -->
<!-- {{ partial "base/scripts/messenger" . }} -->
<!-- Sentry -->
{{ partial "base/scripts/sentry" . }}
<!-- Phrase App -->
