<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div
      class="container">
      <!-- Title -->
      <h1 class="title">
        Buy Techqueria Merch 🛒️
      </h1>
      <!-- Description -->
      <h2 class="subtitle">
        We now have an offical Spreadshirt store where we sell all kinds of swag like shirts, hoodies, mugs, hats, backpacks, etc.
      </h2>
      <!-- Link -->
      <a class="button is-link" href="/shop/">
        Visit our store
      </a>
    </div>
  </div>
</section>
