<div class="field">
  <label class="label">How is your organization interested in partnering with Techqueria?*</label>
  <div class="control" id="how_to_partner">
    <label class="checkbox">
      <input type="checkbox" aria-label="How is your organization interested in partnering with Techqueria?" name="how_to_partner" value="Events" />
      Events
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="How is your organization interested in partnering with Techqueria?"
        name="how_to_partner"
        value="Digital Marketing"
      />
      Digital Marketing
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="How is your organization interested in partnering with Techqueria?"
        name="how_to_partner"
        value="Job Postings"
      />
      Job Postings
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="How is your organization interested in partnering with Techqueria?"
        name="how_to_partner"
        value="Software Sponsorship"
      />
      Software Sponsorship
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="How is your organization interested in partnering with Techqueria?"
        name="how_to_partner"
        value="Podcast Sponsorship"
      />
      Podcast Sponsorship
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="How is your organization interested in partnering with Techqueria?" name="how_to_partner" value="Other" />
      Other
    </label>
    <br />
    <div class="control has-icons-left mt-sm">
      <input type="hidden" name="how_to_partner_text_value" id="how_to_partner_text_value" value="" />
      <input
        class="input"
        aria-label="Other selected"
        autocomplete="off"
        type="text"
        id="how_to_partner_other_input"
        name="how_to_partner_other_input"
        placeholder="If you selected 'Other', please elaborate"
      />
      <span class="icon is-left">
        💭
      </span>
    </div>
  </div>
</div>
