<div class="field">
  <label class="label">How is your organization interested in partnering with Techqueria?*</label>
  <div class="control" id="looking_for">
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="What are you hoping to gain from joining Techqueria?"
        name="looking_for"
        value="Access to networking events"
      />
      Events
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="A mentor or mentee" />
      Digital Marketing
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="Career advice" />
      Job Postings
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="Job opportunities" />
      Software Sponsorship
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="What are you hoping to gain from joining Techqueria?"
        name="looking_for"
        value="A partnership with Techqueria"
      />
      Podcast Sponsorship
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="Job opportunities" />
      Other
    </label>
    <br />
    <div class="control has-icons-left mt-sm">
      <input type="hidden" name="looking_for_text_value" id="looking_for_text_value" value="" />
      <input
        class="input"
        aria-label="Other selected"
        autocomplete="off"
        type="text"
        id="looking_for_other_input"
        name="looking_for_other_input"
        placeholder="If you selected 'Other', please elaborate"
      />
      <span class="icon is-left">
        💭
      </span>
    </div>
  </div>
</div>
