<div class="field">
  <label class="label">What kind of partnership is your organization interested in?*</label>
  <div class="control">
    <label class="radio mb-sm">
      <input
        type="radio"
        aria-label="What kind of partnership is your organization interested in?"
        name="kind_of_partnership"
        value="Corporate Partner"
        required
      />
      <span class="has-text-weight-medium">Corporate Partner</span>
      <br />
      pay Techqueria a financial contribution in exchange for services
    </label>
    <br />
    <label class="radio mb-sm">
      <input
        type="radio"
        aria-label="What kind of partnership is your organization interested in?"
        name="kind_of_partnership"
        value="Affiliate Partner"
        required
      />
      <span class="has-text-weight-medium">Affiliate Partner</span>
      <br />
      pay Techqueria a financial contribution for successful referrals
    </label>
    <br />
    <label class="radio mb-sm">
      <input
        type="radio"
        aria-label="What kind of partnership is your organization interested in?"
        name="kind_of_partnership"
        value="Software Sponsor"
        required
      />
      <span class="has-text-weight-medium">Software Sponsor</span>
      <br />
      provide Techqueria free access to software in exchange for services
    </label>
    <br />
    <label class="radio mb-sm">
      <input
        type="radio"
        aria-label="What kind of partnership is your organization interested in?"
        name="kind_of_partnership"
        value="Community Partner"
        required
      />
      <span class="has-text-weight-medium">Community Partner</span>
      <br />
      in-kind sponsorship
    </label>
  </div>
</div>
