<div class="field">
  <label class="label">What kind of partnership is your organization interested in?*</label>
  <div class="control">
    <label class="radio mb-sm">
      <input type="radio" aria-label="Your pronouns" name="gender" value="non_binary" required />
      <span class="has-text-weight-medium">Corporate Partner</span>
      <br />
      pay Techqueria a financial contribution in exchange for services
    </label>
    <br />
    <label class="radio mb-sm">
      <input type="radio" aria-label="Your pronouns" name="gender" value="male" required />
      <span class="has-text-weight-medium">Affiliate Partner</span>
      <br />
      pay Techqueria a financial contribution for successful referrals
    </label>
    <br />
    <label class="radio mb-sm">
      <input type="radio" aria-label="Your pronouns" name="gender" value="female" required />
      <span class="has-text-weight-medium">Software Sponsor</span>
      <br />
      provide Techqueria free access to software in exchange for services
    </label>
    <br />
    <label class="radio mb-sm">
      <input type="radio" aria-label="Your pronouns" name="gender" value="female" required />
      <span class="has-text-weight-medium">Community Partner</span>
      <br />
      in-kind sponsorship
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="other" required />
      <span class="has-text-weight-medium">Other</span>
    </label>
  </div>
  <div class="control has-icons-left mt-sm">
    <input
      class="input"
      aria-label="Other selected"
      autocomplete="off"
      type="text"
      id="job_category_other_input"
      name="job_category_other_input"
      placeholder="If you selected 'Other', please elaborate"
    />
    <span class="icon is-left">
      📝
    </span>
  </div>
</div>
