<div class="field">
  <label class="label">Does your organization have an active contract with ICE?*</label>
  <p class="help">
    Techqueria has a <a href="/no-tech-for-ice" target="_blank" rel="noopener">firm policy</a> of not partnering with organizations that have active
    contracts with ICE.
  </p>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Does your organization have an active contract with ICE?" name="partner_with_ice" value="Yes" required />
      Yes
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Does your organization have an active contract with ICE?" name="partner_with_ice" value="No" required />
      No
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Does your organization have an active contract with ICE?" name="partner_with_ice" value="Not sure" required />
      Not sure
    </label>
  </div>
</div>
