<div class="field">
  <label class="label">Does your organization have an active contract with ICE?*</label>
  <p class="help">
    Techqueria has a <a href="/no-tech-for-ice" target="_blank" rel="noopener">firm policy</a> of not partnering with organizations that have active
    contracts with ICE.
  </p>
  <div class="control">
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="female" required />
      Yes
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="male" required />
      No
    </label>
    <br />
    <label class="radio">
      <input type="radio" aria-label="Your pronouns" name="gender" value="non_binary" required />
      Not sure
    </label>
  </div>
</div>
