<!-- What are your organization's goals for this partnership? * -->
<div class="field">
  <label class="label">What are your organization's goals for this partnership?*</label>
  <div class="control" id="partnership_goals">
    <label class="checkbox">
      <input type="checkbox" aria-label="What are your organization's goals for this partnership?" name="partnership_goals" value="Social Impact" />
      Social Impact
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are your organization's goals for this partnership?" name="partnership_goals" value="Brand Awareness" />
      Brand Awareness
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="What are your organization's goals for this partnership?"
        name="partnership_goals"
        value="Recruiting Support"
      />
      Recruiting Support
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="What are your organization's goals for this partnership?"
        name="partnership_goals"
        value="Thought Leadership"
      />
      Thought Leadership
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="What are your organization's goals for this partnership?"
        name="partnership_goals"
        value="Internal Retention"
      />
      Internal Retention
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are your organization's goals for this partnership?" name="partnership_goals" value="Other" />
      Other
    </label>
    <br />
    <div class="control has-icons-left mt-sm">
      <input type="hidden" name="partnership_goals_text_value" id="partnership_goals_text_value" value="" />
      <input
        class="input"
        aria-label="Other selected"
        autocomplete="off"
        type="text"
        id="partnership_goals_other_input"
        name="partnership_goals_other_input"
        placeholder="If you selected 'Other', please elaborate"
      />
      <span class="icon is-left">
        🎯
      </span>
    </div>
  </div>
</div>
