<!-- What are your organization's goals for this partnership? * -->
<div class="field">
  <label class="label">What are your organization's goals for this partnership?*</label>
  <div class="control" id="looking_for">
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="A community" />
      Social Impact
    </label>
    <br />
    <label class="checkbox">
      <input
        type="checkbox"
        aria-label="What are you hoping to gain from joining Techqueria?"
        name="looking_for"
        value="Access to networking events"
      />
      Brand Awareness
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="A mentor or mentee" />
      Recruiting Support
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="Career advice" />
      Thought Leadership
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="Job opportunities" />
      Internal Retention
    </label>
    <br />
    <label class="checkbox">
      <input type="checkbox" aria-label="What are you hoping to gain from joining Techqueria?" name="looking_for" value="Job opportunities" />
      Other
    </label>
    <br />
    <div class="control has-icons-left mt-sm">
      <input type="hidden" name="looking_for_text_value" id="looking_for_text_value" value="" />
      <input
        class="input"
        aria-label="Other selected"
        autocomplete="off"
        type="text"
        id="looking_for_other_input"
        name="looking_for_other_input"
        placeholder="If you selected 'Other', please elaborate"
      />
      <span class="icon is-left">
        🎯
      </span>
    </div>
  </div>
</div>
