<section class="hero is-danger is-bold is-fancy">
  <div class="hero-body">
    <div class="container {{ if .Params.widePage }}{{ else if .IsPage }}page--single{{ else }}{{ end }}">
      <!-- Title -->
      <h1 class="title">
        {{ .Title }}{{ if .Params.flag }}{{ .Params.flag }}{{ end }}
      </h1>
      <br>
      {{ if .Description }}
      <!-- Description -->
      <p class="subtitle">
        {{ $description := (.Description | safeHTML) }}
        {{ $description }}
        {{ else }}
        {{ .Summary | truncate 150 | safeHTML }}
      </p>
      {{ end }}
      <!-- Links -->
      {{ partial "content/hero/hero-links.html" . }}
    </div>
  </div>
</section>
