<div class="buttons">
  <!-- Twitter Profile -->
  {{ if .Params.twitter }}
  <a class="mt-1 button is-white " href="https://twitter.com/{{ .Params.twitter }}" target="_blank" rel="noopener">
    <span class="icon is-medium">
      <i class="fab fa-twitter"></i>
    </span>
    <span>Twitter Profile</span>
  </a>
  {{ end }}
  <!-- LinkedIn Profile -->
  {{ if .Params.linkedin }}
  <a class="mt-1 button is-white " href="{{ .Params.linkedin }}" target="_blank" rel="noopener">
    <span class="icon is-medium">
      <i class="fab fa-linkedin"></i>
    </span>
    <span>LinkedIn Profile</span>
  </a>
  {{ end }}
  <!-- GitHub Profile -->
  {{ if .Params.github }}
  <a class="mt-1 button is-white " href="https://github.com/{{ .Params.github }}" target="_blank" rel="noopener">
    <span class="icon is-medium">
      <i class="fab fa-github"></i>
    </span>
    <span>GitHub Profile</span>
  </a>
  {{ end }}
  <!-- External Link -->
  {{ if .Params.link }}
  <a class="mt-1 button is-link " href="{{ .Params.link }}" target="_blank" rel="noopener">
    {{ if in .Params.link "meetup.com" }}Meetup ↗️{{else if in .Params.link "events.techqueria.org"}}View events{{ else if in .Params.link "eventbrite.com" }}Eventbrite ↗️{{ else if in .Params.link "splashthat.com"}}Splashthat ↗️{{ else }}Learn more ↗️
    {{ end }}
  </a>
  {{ end }}
  <!-- Slack Channel -->
  {{ if .Params.channel_link }}
  <a class="mt-1 button is-link" href="{{ .Params.channel_link }}" target="_blank" rel="noopener">
    Join {{ if .Params.channel_name }}{{ .Params.channel_name }}{{ else }}the chapter's Slack channel{{ end }}
  </a>
  {{ end }}
  <!-- Photos -->
  {{ if .Params.photos }}
  <a class="mt-1 button is-link is-inverted " href="{{ .Params.photos }}" target="_blank" rel="noopener">
    View Photos 📸
  </a>
  {{ end }}
  <!-- Videos -->
  {{ if .Params.video }}
  <a class="mt-1 button is-link is-inverted " href="{{ .Params.video }}" target="_blank" rel="noopener">
    Video 🎥
  </a>
  {{ end }}
</div>
