<p>
  Techqueria is a 501c3 nonprofit that empowers Latinx professionals with the resources and support that they need to thrive and become leaders in the
  tech industry.
</p>

<p>
  Founded in 2015, Techqueria is the largest community of Latinx professionals in tech in the U.S. with over 11,000 members and 7 chapters. Their
  online Slack community has nearly 8,000+ members and 2,000+ weekly active users.
</p>

<p>
  The majority of their members work in PDE (product, design and engineering), have 3 to 5 years of experience, identify as millennials and joined
  Techqueria through word of mouth.
</p>

<p>
  Techqueria works with both tech companies and employee resource groups (ERGs) to build Latinx-centered spaces that revolve around career advice,
  recruiting, mentorship and networking in order to comprehensively affect change in the tech industry.
</p>
