<h2 id="missionstatement">Mission Statement</h2>
<p>To provide Latinx professionals with the resources and support that they need to attain, thrive, and remain in a career within the technology industry.</p>

<h2 id="visionstatement">Vision Statement</h2>
<p>To become the most powerful and robust professional network of Latinx professionals in the tech industry across the world.</p>

<h2 id="slogan">Slogan</h2>
<p>Techqueria is a nonprofit that serves the largest community of Latinx in Tech.</p>

<h2 id="overview">Overview</h2>

{{ partial "content/custom/overview.html" . }}

<h2 id="timeline">Timeline</h2>

<h3 id="august2019">August 9, 2019</h3>
<p>Reached 1,000+ weekly active users in our Slack.</p>

<h3 id="june2019">June 19, 2019</h3>
<p>Reached 3,500+ participants for events we've hosted.</p>

<h3 id="march2019">March 7, 2019</h3>
<p>Incorporated as a 501c3 nonprofit.</p>

<h3 id="november2015">November 15, 2015</h3>
<p>First Meetup with 3 people in attendance.</p>

<h2 id="chapters">Chapters</h2>
<p>As of August 2019, we have 5 official chapters across the USA.</p>

<ol>
  <li>San Francisco, CA</li>
  <li>Los Angeles, CA</li>
  <li>New York, NY</li>
  <li>Austin, TX</li>
  <li>Chicago, IL</li>
</ol>
<p>If you are interested in starting up a new chapter, reach out to us <a href="/communities/slack/">in the #meta channel via Slack</a>.</p>

<h2 id="stats">Stats</h2>
<p>These stats are as of August 19, 2019.</p>
<p>We have ~15,000+ member reach.</p>

<ul>
  <li>5,000+ subscribers — MailChimp</li>
  <li>4,000+ members — Slack</li>
  <li>2,500+ members — Meetup</li>
  <li>2,200+ followers — Twitter</li>
  <li>2,000+ members — Facebook Group</li>
  <li>900+ members — LinkedIn Group</li>
  <li>700+ followers — LinkedIn Page</li>
  <li>400+ likes — Facebook Page</li>
  <li>200+ followers — Instagram</li>
  <li>160+ stars — GitHub's Website Repo</li>
  <li>60+ subscribers — YouTube Channel</li>
  <li>50+ members — GitHub Organization</li>
</ul>

<h2 id="members-by-profession">Members by Profession</h2>

<div class="columns u-align-item--centered">
  <div class="column is-half">
    <p>Data is from a sample of 2,250 responses from Linkedin and intake surveys (2018).</p>
    <p>The average amount of experience for our members based on that survey is 5 years.</p>
    <p>Ergo, the majority of our member base identify as mid-level engineers.</p>
  </div>
  <div class="column is-half">
    <canvas id="pie-chart" class="mt-2 mb-2"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
Chart.defaults.global.defaultFontColor = "Rubik";
new Chart(document.getElementById("pie-chart"), {
  "type": "doughnut",
  "data": {
    "labels": ["Engineering", "Product/Design", "Operations/Sales", "Founders/Executives", "Recruitment/HR"],
    "datasets": [{
      "data": [60, 15, 15, 5, 5],
      "backgroundColor": ["#fabf67", "#ff551f", "#3f8db9", "#5a4640", "#2f4052"]
    }]
  }
});
</script>

<noscript>Please enable JavaScript to view the chart.</noscript>
