<div class="columns u-align-item--centered">
  <div class="column is-half">
    <p>Techqueria exists as a safe space for <strong>Latinx professionals in tech</strong> to feel included, thrive and elevate each other.</p>
    <p>However, if you do not identify as Latinx, you will still receive an invitation to our Slack community as a
      multi-channel guest with access to <code>#announcements</code>, <code>#jobs</code>, <code>#events</code> and <code>#allies</code> where you are welcome to share
      resources, events or job postings.</p>
    <p>We are firm in this policy of not allowing allies to get additional access to channels beyond the ones outlined
      above.</p>
    <p>With your support, Techqueria can become a stronger & more valuable community for Latinx in Tech.</p>
  </div>
  <div class="column is-half"><img class="u-box-shadow--none" src="/assets/img/join/allies.png" alt="Allies in Techqueria" width="375">
  </div>
</div>
