<table>
  <thead>
    <tr>
      <th align="center">Core Sponsorship Tier<br><span class="has-text-weight-light">Cost for 1 Event</span></th>
      <th align="center">Event Sponsor<br><span class="has-text-weight-light">$5,000</span></th>
      <th align="center">Community Partner<br><span class="has-text-weight-light">Depends</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center" colspan="4"><strong>Event Type</strong></td>
    </tr>
    <tr>
      <td>Event Type: Virtual (50% off during COVID-19)</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event Type: Networking</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event Type: Comidas</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event Type: ERG Leads Unite</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event Type: Panels</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Event Type: Workshops</td>
      <td align="center">+$500</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Event Type: Lightning Talks (> 4 speakers)</td>
      <td align="center">+$1,000</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Event Type: Hackathons</td>
      <td align="center">TBD</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td align="center" colspan="4"><strong>Deliverables from Techqueria</strong></td>
    </tr>
    <tr>
      <td>Video recording uploaded to YouTube</td>
      <td align="center">✅</td>
      <td align="center">Virtual events only</td>
    </tr>
    <tr>
      <td>Photography</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Source up to 4 speakers</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Marketing support - social media, email + Slack</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Attendee info</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Private Asana project</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Private Slack channel</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td align="center" colspan="4"><strong>Deliverables from Partner</strong></td>
    </tr>
    <tr>
      <td>Catering</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Space</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Security</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Name tags</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Marketing</td>
      <td align="center">-</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Sourcing speakers</td>
      <td align="center">-</td>
      <td align="center">✅</td>
    </tr>
  </tbody>
</table>
