<h2>Core Sponsorship Tiers</h2>
<p>The primary way we partner with tech companies is through the core sponsorship packages which also include marketing add-ons depending on the tier.</p>
<p>We are also open to <a href="/support-us/corporate-partner/custom-packages/" rel="noopener">custom packages</a> which range from from $1,000+ to $150,000+ so there are options for companies of all sizes.</p>
<br>
<table>
  <thead>
    <tr>
      <th></th>
      <th align="center"><a rel="noopener" href="/support-us/corporate-partner/core-packages/diamond/">Diamond</a><br>$50,000</th>
      <th align="center"><a rel="noopener" href="/support-us/corporate-partner/core-packages/titanium/">Titanium</a><br>$35,000</th>
      <th align="center"><a rel="noopener" href="/support-us/corporate-partner/core-packages/platinum/">Platinum</a><br>$20,000</th>
      <th align="center"><a rel="noopener" href="/support-us/corporate-partner/core-packages/gold/">Gold</a><br>$10,000</th>
      <th align="center"><a rel="noopener" href="/support-us/corporate-partner/core-packages/silver/">Silver</a><br>$5,000</th>
      <th align="center"><a rel="noopener" href="/donate/donate-space/">Donate Space</a><br>Depends</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Events hosted by partner per year</strong></td>
      <td align="center">4</td>
      <td align="center">3</td>
      <td align="center">2</td>
      <td align="center">1</td>
      <td align="center">1</td>
      <td align="center">1</td>
    </tr>
    <tr>
      <td>Event Type: Hackathons</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Event Type: Lightning Talks</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Event Type: Panels</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Event Type: Workshops</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event Type: Networking</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event Type: Comidas</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event Type: ERG Leads Unite</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td><strong>Deliverables provided by Techqueria per event</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Blog post</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Video recording</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Photographer</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Sourcing speakers</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Dedicated marketing</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Attendee info</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Music playlist</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Event page</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td><strong>Deliverables provided by Techqueria per month</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Job postings shared in our email newsletter</td>
      <td align="center">4</td>
      <td align="center">3</td>
      <td align="center">2</td>
      <td align="center">1</td>
      <td align="center">0</td>
      <td align="center">0</td>
    </tr>
    <tr>
      <td>Job postings shared on social media</td>
      <td align="center">4</td>
      <td align="center">3</td>
      <td align="center">2</td>
      <td align="center">1</td>
      <td align="center">0</td>
      <td align="center">0</td>
    </tr>
    <tr>
      <td><strong>Visibility within Techqueria</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Logo in slides across all events</td>
      <td align="center">✅</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Logo in emails for entire year</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Logo on website</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td><strong>Support from Techqueria</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Private Asana project</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Private Slack channel</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td><strong>Partner is responsible for</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Catering</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Space</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Security</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Name tags</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Marketing</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">✅</td>
    </tr>
    <tr>
      <td>Sourcing speakers</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">-</td>
      <td align="center">✅</td>
    </tr>
  </tbody>
</table>
<br>
