<!-- Begin Give Lively Fundraising Widget -->
<script>gl=document.createElement('script');gl.src='https://secure.givelively.org/widgets/branded_donation/techqueria.js';document.getElementsByTagName('head')[0].appendChild(gl);</script><div data-widget-src='https://secure.givelively.org/donate/techqueria?ref=sd_widget' id="give-lively-widget" class="gl-branded-donation-widget"></div>
<!-- End Give Lively Fundraising Widget -->
<!-- Begin Give Lively Fundraising Widget -->
<script>gl=document.createElement('script');gl.src='https://secure.givelively.org/widgets/simple_donation/techqueria.js?show_suggested_amount_buttons=false&show_in_honor_of=false&address_required=false&has_required_custom_question=null';document.getElementsByTagName('head')[0].appendChild(gl);</script><div id="give-lively-widget" class="gl-simple-donation-widget" style="height: 272px"></div>
<!-- End Give Lively Fundraising Widget -->
