<div class="columns">
  <!-- Slack Community -->
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card card-equal-height">
      <div class="card-image">
        <figure class="image">
          <img src="/assets/img/join/slack-community-v2.png" alt="Techqueria's Slack Community" />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h3 class="mb-0"><a href="/communities/slack/" rel="noopener" target="_blank">Thriving Slack Community</a></h3>
          <br />
          Network with thousands of other Latinx in tech through our Slack community with 6,000+ members
        </div>
      </div>
    </div>
  </div>
  <!-- Events -->
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card card-equal-height">
      <div class="card-image">
        <figure class="image">
          <img src="/assets/img/join/events-v2.png" alt="Techqueria's Events" />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h3 class="mb-0"><a href="https://events.techqueria.org/virtual-events/" rel="noopener" target="_blank">Events & Workshops</a></h3>
          <br />
          Get notified of upcoming networking events, workshops, virtual hangouts and more
        </div>
      </div>
    </div>
  </div>
  <!-- Events -->
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card card-equal-height">
      <div class="card-image">
        <figure class="image">
          <img src="/assets/img/join/email-newsletter-v2.png" alt="Techqueria's Email Newsletter" />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h3 class="mb-0"><a href="/subscribe/" rel="noopener" target="_blank">Email Newsletter</a></h3>
          <br />
          National updates, partner resources, opportunities, job postings and more sent to your inbox every month
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card card-equal-height">
      <div class="card-image">
        <figure class="image">
          <img src="/assets/img/join/job-board-v2.png" alt="Techqueria's Job Board" />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h3 class="mb-0">(Coming Soon) Job Board</h3>
          <br />
          Find the role that will help you make your mark, not just in what’s next but throughout your career
        </div>
      </div>
    </div>
  </div>
</div>
