{{ define "main" }}
<!-- Variables -->
{{ $pages := .Sections | union .Pages }}
<!-- Upcoming Events-->
{{ $upcomingEvents := where $pages "Date" "ge" now }}
{{ $upcomingEventsAllNumber := 0 }}
{{ $upcomingEventsAll := where $pages "Date" "ge" now }}
{{ range $upcomingEventsAll }}
{{ $upcomingEventsAllNumber = add $upcomingEventsAllNumber 1 }}
{{ end }}
<!-- Past Events -->
{{ $pastEvents := where $pages "Date" "lt" now }}
{{ $pastEventsAllNumber := 0 }}
{{ $pastEventsAll := where $pages "Date" "lt" now }}
{{ range $pastEventsAll }}
{{ $pastEventsAllNumber = add $pastEventsAllNumber 1 }}
{{ end }}
<!-- Hero -->
{{ partial "content/hero/hero.html" . }}
<!-- Page -->
<section class="section page">
  <div class="container">
    <!-- Breadcrumbs -->
    {{ partial "content/custom/breadcrumbs.html" . }}
    <!-- Content -->
    {{ partial "content/_index.html" . }}
    <!-- Community Calendar -->
    <div class="content mt-2">
      <h2><span class="mr-sm">🗓</span>Community Calendar</h2>
      <p>Anyone is welcome to submit events but please keep in mind that given Techqueria's mission, we require that any event submitted is relevant to Latinx in Tech.</p>
      <p>You can also subscribe to this calendar to keep track of relevant events for Latinx in Tech across the US.</p>
    </div>
    <div data-tockify-component="calendar" data-tockify-calendar="techqueria"></div>
    <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
    <noscript>Please enable JavaScript to enable the community calendar.</noscript>
    <hr>
    <!-- Upcoming Events -->
    {{ if ge $upcomingEventsAllNumber 1 }}
    <div class="content mt-2">
      <h2><span class="mr-sm">⏳️</span>Techqueria's Upcoming Events ({{ $upcomingEventsAllNumber }})</h2>
    </div>
    <div class="columns is-multiline">
      {{ range $upcomingEvents.ByDate }}
      {{ partial "content/child.html" . }}
      {{ end }}
    </div>
    {{ else }}
    <div class="content mt-2">
      <p><strong>No upcoming events right now - check back again later!</strong></p>
    </div>
    {{ end }}
    <!-- Past Events -->
    <div class="content mt-2">
      <h2><span class="mr-sm">⌛</span>Techqueria's Past Events ({{ $pastEventsAllNumber }})</h2>
    </div>
    <div class="columns is-multiline">
      {{ range $pastEvents.ByDate.Reverse }}
      {{ partial "content/child.html" . }}
      {{ end }}
    </div>
    <!-- Content Footer -->
    {{ partial "content/footer/_index.html" . }}
  </div>
</section>
{{ end }}
