{{ define "main" }}
  <!-- Variables -->
  {{ $pastEventsMeetup := (getJSON "https://api.meetup.com/2/events?&sign=true&photo-host=secure&group_urlname=techqueria&status=past&text_format=plain&page=20&desc=true").results }}
  {{ $upcomingEventsMeetup := (getJSON "https://api.meetup.com/2/events?&sign=true&photo-host=secure&group_urlname=techqueria&status=upcoming&text_format=plain&page=20&desc=true").results }}
  <!-- Hero -->
  {{ partial "content/hero.html" . }}
  <!-- Page -->
  <section class="section page">
    <div
      class="container">
      <!-- Breadcrumbs -->
      {{ partial "content/breadcrumbs.html" . }}
      <!-- Content -->
      {{ partial "content/_index.html" . }}
      <!-- Upcoming Events -->
      {{ if (len $upcomingEventsMeetup) "ge" 1 }}
        <div class="content mt-2">
          <h2>⏳️
            {{ len $upcomingEventsMeetup }}
            Upcoming
            {{ if gt (len $upcomingEventsMeetup) 1 }}Events{{ else }}Event
            {{ end }}
          </h2>
        </div>
        <div class="columns is-multiline">
          {{ range $upcomingEventsMeetup }}
              {{ partial "content/meetup.html" . }}
          {{ end }}
        </div>
      {{ end }}
      <!-- Past Events -->
      <div class="content mt-2">
        <h2>⌛️
          {{ len $pastEventsMeetup }}
          Past Events</h2>
      </div>
      <div class="columns is-multiline">
        {{ range $pastEventsMeetup }}
            {{ partial "content/meetup.html" . }}
        {{ end}}
      </div>
      <!-- Content Footer -->
      {{ partial "content/footer/_index.html" . }}
    </div>
  </section>
{{ end }}
