{{ define "main" }}
<!-- Pages -->
{{ $pages := (.Sections | union .Pages).ByWeight }}
<!-- Hero -->
{{ partial "content/hero.html" . }}
<!-- Page -->
<section class="section page">
  <div class="container">
    <!-- Breadcrumbs -->
    {{ partial "custom/breadcrumbs.html" . }}
    <!-- Content -->
    {{ partial "content/_index.html" . }}
    <!-- Filters -->
    <div class="buttons has-addons" id="filters">
      <span class="button is-success is-selected" data-filter="*">Show All</span>
      <span class="button" data-filter=".bay-area">Bay Area</span>
      <span class="button" data-filter=".nyc">New York City</span>
      <span class="button" data-filter=".austin">Austin</span>
    </div>
    <!-- People -->
    <div class="columns is-multiline">
      {{ range $pages }}
      {{ partial "content/child.html" . }}
      {{ end }}
    </div>
    <!-- Content Footer -->
    {{ partial "content/footer.html" . }}
</section>
<!-- implement -->
<!-- https://codepen.io/desandro/pen/JEojz -->
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
  /*jshint browser: true, strict: true, undef: true, unused: true */

  (function (window, factory) {
  'use strict';
  // universal module definition
  if (typeof define === 'function' && define.amd) {
    // AMD
    define([
        'get-size/get-size',
        'isotope/js/layout-mode'
      ],
      factory);
  } else if (typeof module == 'object' && module.exports) {
    // CommonJS
    module.exports = factory(
      require('get-size'),
      require('isotope-layout/js/layout-mode')
    );
  } else {
    // browser global
    factory(
      window.getSize,
      window.Isotope.LayoutMode
    );
  }

  }(window, function factory(getSize, LayoutMode) {
    'use strict';

    // -------------------------- definition -------------------------- //

    // create an Outlayer layout class
    var FitRowsCentered = LayoutMode.create('fitRowsCentered');
    var proto = FitRowsCentered.prototype;

    proto._resetLayout = function () {
      // pre-calculate offsets for centering each row
      this.x = 0;
      this.y = 0;
      this.maxY = 0;
      this._getMeasurement('gutter', 'outerWidth');
      this.centerX = [];
      this.currentRow = 0;
      this.initializing = true;

      for (var i = 0, len = this.isotope.filteredItems.length; i < len; i++) {
        var item = this.isotope.filteredItems[i];
        this._getItemLayoutPosition(item);
      }
      this.centerX[this.currentRow].offset = (this.isotope.size.innerWidth + this.gutter - this.x) / 2;
      this.initializing = false;
      this.currentRow = 0; // centered offsets were calculated, reset layout this.x=0; this.y=0; this.maxY=0; this._getMeasurement('gutter', 'outerWidth' ); }; proto._getItemLayoutPosition=function (item) { item.getSize(); var itemWidth=item.size.outerWidth + this.gutter; // if this element cannot fit in the current row var containerWidth=this.isotope.size.innerWidth + this.gutter; if (this.x !==0 && itemWidth + this.x> containerWidth) {

      if (this.initializing)
        this.centerX[this.currentRow].offset = (containerWidth - this.x) / 2;
      this.currentRow++;

      this.x = 0;
      this.y = this.maxY;
    }

    if (this.initializing && this.x == 0) {
      this.centerX.push({
        offset: 0
      });
    }

    var position = {
      x: this.x + (this.initializing ? 0 : this.centerX[this.currentRow].offset),
      y: this.y
    };

    this.maxY = Math.max(this.maxY, this.y + item.size.outerHeight);
    this.x += itemWidth;

    return position;
  };

  proto._getContainerSize = function () {
    return {
      height: this.maxY
    };
  };

  return FitRowsCentered;

  }));
  // init Isotope
  var $grid = $(".columns").isotope({
    itemSelector: ".card",
    layoutMode: FitRowsCentered
  });

  // bind filter button click
  $("#filters").on("click", ".button", function () {
    var filterValue = $(this).attr("data-filter");
    $grid.isotope({
      filter: filterValue
    });
  });

  // change is-checked class on buttons
  $(".buttons").each(function (i, buttonGroup) {
    var $buttonGroup = $(buttonGroup);
    $buttonGroup.on("click", ".button", function () {
      $buttonGroup.find(".is-selected").removeClass("is-selected is-success");
      $(this).addClass("is-selected is-success");
    });
  });

</script>
{{ end }}
