{{ define "main" }}
<!-- Hero -->
{{ partial "content/hero/hero.html" . }}
<!-- Page -->
<div class="section page">
  <div class="container">
    <!-- Breadcrumbs -->
    {{ partial "content/breadcrumbs.html" . }}
    <!-- Content -->
    {{ partial "content/_index.html" . }}
    <!-- Variables -->
    {{ $pages := .Sections | union .Pages }}
    <section class="c-companies">
      {{ range $pages }}
      {{ partial "content/card/company.html" . }}
      {{ end }}
    </section>
    <!-- Content Footer -->
    {{ partial "content/footer/_index.html" . }}
  </div>
</div>
{{ end }}
